<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ok()">{{ 'DIALOGS.OK' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="avalancheEvalProblemCopy">
  <ion-list lines="full">
    <ion-item>
      <ion-label>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.NO_WEAK_LAYERS' | translate}}</ion-label>
      <ion-checkbox mode="md" slot="start" [(ngModel)]="noWeakLayers"></ion-checkbox>
    </ion-item>
    <ng-container *ngIf="!noWeakLayers">
      <ion-list-header text-uppercase>
        <ion-label no-margin>
          <h3>{{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.WEAK_LAYER' | translate}}</h3>
        </ion-label>
      </ion-list-header>
      <app-kdv-dropdown (valueChange)="avalCauseChanged()" title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.WEAK_LAYER"
        kdvKey="Snow_AvalCauseKDV" [(value)]="avalancheEvalProblemCopy.AvalCauseTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.WEAK_LAYER_DEPTH" kdvKey="Snow_AvalCauseDepthKDV"
        [(value)]="avalancheEvalProblemCopy.AvalCauseDepthTID"></app-kdv-dropdown>
      <ion-item *ngFor="let avalancheCauseAttribute of avalancheCauseAttributes">
        <ion-label text-wrap> {{ avalancheCauseAttribute.kdvElement.Name }}</ion-label>
        <ion-checkbox mode="md" slot="start" [(ngModel)]="avalancheCauseAttribute.selected"></ion-checkbox>
      </ion-item>
    </ng-container>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVALANCHE_PROBABILITY' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVALANCHE_TYPE'
        | translate}}</ion-label>
      <ion-select *ngIf="avalancheExtKdvFiltered" mode="ios" [(ngModel)]="avalancheEvalProblemCopy.AvalancheExtTID"
        interface="action-sheet">
        <ion-select-option [value]="kdvElement.Id" *ngFor="let kdvElement of avalancheExtKdvFiltered">
          {{ kdvElement.Name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVALANCHE_TRIGGER_PROBABILITY" kdvKey="Snow_AvalTriggerSimpleKDV"
      [(value)]="avalancheEvalProblemCopy.AvalTriggerSimpleTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVAL_PROBABILITY" kdvKey="Snow_AvalProbabilityKDV"
      [(value)]="avalancheEvalProblemCopy.AvalProbabilityTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVALANCHE_DESTRUCTIVE_SIZE" kdvKey="Snow_DestructiveSizeKDV"
      [(value)]="avalancheEvalProblemCopy.DestructiveSizeTID"></app-kdv-dropdown>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.AVALANCHE_PROBABILITY' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_PROBLEM.PROPAGATION" kdvKey="Snow_AvalPropagationKDV"
      [(value)]="avalancheEvalProblemCopy.AvalPropagationTID"></app-kdv-dropdown>
    <ion-item class="no-border no-min-height">
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT_COMBO'
        | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid class="exposedHight">
          <ion-row class="top padding-bottom" (click)="exposedHeightTop = !exposedHeightTop" [ngClass]="{'selected': exposedHeightTop}">
            <ion-col size="12" text-center align-self-center>
              {{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.TOP' | translate}}
            </ion-col>
          </ion-row>
          <ion-row class="middle padding-bottom" (click)="exposedHeightMiddle = !exposedHeightMiddle" [ngClass]="{'selected': exposedHeightMiddle}">
            <ion-col size="12" text-center align-self-center>
              {{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.MIDDLE' | translate}}
            </ion-col>
          </ion-row>
          <ion-row (click)="exposedHeightBottom = !exposedHeightBottom" class="bottom" [ngClass]="{'selected': exposedHeightBottom}">
            <ion-col size="12" text-center align-self-center>
              {{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.BOTTOM' | translate}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="exposedHeightTop || exposedHeightMiddle || exposedHeightBottom">
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT1'
        | translate}}</ion-label>
      <ion-select mode="ios" [(ngModel)]="avalancheEvalProblemCopy.ExposedHeight1" interface="action-sheet">
        <ion-select-option [value]="height" *ngFor="let height of heightArray">
          {{ height }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="sholdUseExposedHight2()">
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT2'
        | translate}}</ion-label>
      <ion-select mode="ios" [(ngModel)]="avalancheEvalProblemCopy.ExposedHeight2" interface="action-sheet">
        <ion-select-option [value]="height" *ngFor="let height of heightArray">
          {{ height }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="no-border no-min-height">
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.VALID_EXPOSITION'
        | translate}}</ion-label>
    </ion-item>
    <ion-item *ngIf="avalancheEvalProblemCopy.ValidExposition">
      <ion-label>
        <ion-grid class="exposition">
          <ion-row>
            <ion-col size="4" text-center (click)="setExposition(7)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[7] === '1'}">
              {{ 'DIRECTION.NW' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="setExposition(0)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[0] === '1'}">
              {{ 'DIRECTION.N' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="setExposition(1)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[1] === '1'}">
              {{ 'DIRECTION.NE' | translate}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" text-center (click)="setExposition(6)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[6] === '1'}">
              {{ 'DIRECTION.W' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="toggleAllExpositions()" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition === '11111111'}">
              {{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.ALL' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="setExposition(2)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[2] === '1'}">
              {{ 'DIRECTION.E' | translate}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4" text-center (click)="setExposition(5)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[5] === '1'}">
              {{ 'DIRECTION.SW' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="setExposition(4)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[4] === '1'}">
              {{ 'DIRECTION.S' | translate}}
            </ion-col>
            <ion-col size="4" text-center (click)="setExposition(3)" [ngClass]="{'selected': avalancheEvalProblemCopy.ValidExposition[3] === '1'}">
              {{ 'DIRECTION.SE' | translate}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="avalancheEvalProblemCopy.Comment"></app-text-comment>
  </ion-list>
  <app-modal-save-or-delete-buttons (saveClicked)="ok()" (deleteClicked)="delete()" [showDelete]="!isNew">
  </app-modal-save-or-delete-buttons>
</ion-content>