ion-list {
  width: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: 0;
  overflow: auto;
  max-height: 100vh;

  ion-list-header {
    font-size: var(--h3-font-size);
    font-weight: unset;

    .list-header-label {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  ion-item {
    --ion-item-background: var(--background-color-menu);
    ion-toggle {
      --ion-item-background: #fff;
    }

    ion-icon {
      font-size: 1.4em;
    }
  }

  .inner-list-panel {
    ion-item {
      --border-width: 0 0 0 0;
    }
  }
}

.menu-label {
  font-size: var(--h3-font-size);
}

.stacked-label {
  font-size: 14px;
  margin-bottom: 0px;
}
