ion-list {
  width: 100%;
  padding-bottom: max(var(--ion-safe-area-bottom, 0px), 100px);
  padding-top: 0;
  overflow: auto;
  max-height: 100vh;

  ion-list-header {
    text-transform: uppercase;
  }

  ion-list-header:first-child {
    padding-top: var(--ion-safe-area-top, 0px);
  }
}
