<ion-header>
  <ion-toolbar appHeaderColor>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ "DIALOGS.CANCEL" | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ "REGISTRATION.ICE.ICE_THICKNESS.ADD_ICE_LAYER" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label> {{ "REGISTRATION.ICE.ICE_THICKNESS.ADD_ICE_LAYER_TITLE" | translate }} </ion-label>
    </ion-list-header>
    <app-kdv-select
      label="{{ 'REGISTRATION.ICE.ICE_THICKNESS.ICE_TYPE' | translate }}"
      kdvKey="Ice_IceLayerKDV"
      [(value)]="layerTid"
    ></app-kdv-select>
    <app-numeric-input
      [(value)]="thickness"
      label="REGISTRATION.ICE.ICE_THICKNESS.ICE_LAYER_THICKNESS"
      [min]="0"
      [max]="999"
      [decimalPlaces]="2"
      [convertRatio]="100"
      suffix="cm"
      placeholder="REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE_PLACEHOLDER"
    >
    </app-numeric-input>
  </ion-list>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="ok()" [disabled]="!isValid()" type="submit" expand="block" fill="solid" color="primary">
          {{ "DIALOGS.OK_BACK" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
    @if (!isNew()) {
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button (click)="delete()" size="small" fill="clear" expand="block">
            <ion-icon slot="start" name="trash"></ion-icon>
            {{ "DIALOGS.DELETE" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>
