<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{'REGISTRATION.ICE.ICE_THICKNESS.ADD_ICE_LAYER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>
        {{'REGISTRATION.ICE.ICE_THICKNESS.ADD_ICE_LAYER_TITLE' | translate}}
      </ion-label>
    </ion-list-header>
    <app-kdv-dropdown title="{{'REGISTRATION.ICE.ICE_THICKNESS.ICE_TYPE' | translate}}" kdvKey="Ice_IceLayerKDV"
      [(value)]="layerCopy.IceLayerTID"></app-kdv-dropdown>
    <app-meters-to-cm-input title="REGISTRATION.ICE.ICE_THICKNESS.ICE_LAYER_THICKNESS" [(value)]="layerCopy.IceLayerThickness"
      [min]="0" [max]="10000" placeholder="REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE_PLACEHOLDER" [decimalPlaces]="1"></app-meters-to-cm-input>
  </ion-list>
  <app-modal-save-or-delete-buttons (saveClicked)="ok()" (deleteClicked)="delete()" [showDelete]="!isNew">
  </app-modal-save-or-delete-buttons>
</ion-content>