:host {
  display: contents;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  height: 60px;

  // White screen css fix. Can be removed when webkit has been fixed.
  // See https://github.com/ionic-team/ionic-framework/issues/25760 and RO-2083.
  // Maybe this can be removed, can't see any difference.
  // z-index: -1;
}

ion-refresher {
  // background-color: var(--ion-background-color,#fff);
  position: relative;
  z-index: 1;
  ion-grid {
    position: absolute;
    right: 5px;
    top: 0px;
  }
}
