:host {
  display: contents;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  height: 60px;
  z-index: -1;
}

ion-refresher {
  // background-color: var(--ion-background-color,#fff);
  position: relative;
  z-index: 1;
  ion-grid {
    position: absolute;
    right: 5px;
    top: 0px;
  }
}
