<ion-header>
  <ion-toolbar appHeaderColor>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "REGISTRATION.GROUP.TITLE" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (draft) {
    <app-registration-content-wrapper [draft]="draft" [registrationTid]="registrationTid" (reset)="reset()">
      <ion-list lines="full">
        <ion-list-header class="ion-text-uppercase">
          <ion-label> {{ "REGISTRATION.GROUP.SUBTITLE" | translate }} </ion-label>
        </ion-list-header>
        @if (groups.length > 1) {
          <ion-radio-group [ngModel]="draft.registration.ObserverGroupID" (ngModelChange)="groupChanged($event)">
            @for (group of groups; track group.Id) {
              <ion-item>
                <ion-radio [value]="group.Id" labelPlacement="end" justify="start">
                  {{ group.Name }}
                </ion-radio>
              </ion-item>
            }
          </ion-radio-group>
        }
        @if (groups.length === 1) {
          <ion-item>
            <ion-checkbox
              [checked]="isSelected"
              (ionChange)="checkedChanged($event)"
              labelPlacement="end"
              justify="start"
            >
              {{ firstGroup.Name }}
            </ion-checkbox>
          </ion-item>
        }
      </ion-list>
    </app-registration-content-wrapper>
  }
</ion-content>
