<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.GROUP.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="registration">
  <ion-list>
    <ion-list-header padding text-uppercase>
      <ion-label>
        <h3>{{"REGISTRATION.GROUP.SUBTITLE" | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="registration.request.ObserverGroupID">
      <ion-item *ngFor="let group of groups" (click)="registration.request.ObserverGroupID = group.Id">
        <ion-radio slot="start" [value]="group.Id"></ion-radio>
        <ion-label>{{group.Name}}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<app-save-and-go-back-button [isEmpty]="this.isEmpty()" [registration]="registration" [registrationTid]="registrationTid"
  (reset)="reset()"></app-save-and-go-back-button>