<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.GROUP.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper [isEmpty]="isEmpty()" *ngIf="draft" [draft]="draft"
    [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{"REGISTRATION.GROUP.SUBTITLE" | translate}}
        </ion-label>
      </ion-list-header>
      <ion-radio-group
        *ngIf="groups.length > 1"
        [ngModel]="draft.registration.ObserverGroupID"
        (ngModelChange)="groupChanged($event)"
      >
        <ion-item *ngFor="let group of groups">
          <ion-radio mode="md" slot="start" [value]="group.Id"></ion-radio>
          <ion-label>{{group.Name}}</ion-label>
        </ion-item>
      </ion-radio-group>
      <ion-item *ngIf="groups.length === 1">
        <ion-checkbox mode="md" slot="start" [checked]="isSelected" (ionChange)="checkedChanged($event)"></ion-checkbox>
        <ion-label>{{firstGroup.Name}}</ion-label>
      </ion-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>