<ion-item no-padding detail="false" href="warning-detail/{{regionSummary.Id}}">
  <!-- <img src="/assets/icon/ice.svg"> -->
  <!-- <object type="image/svg+xml" data="/assets/icon/ice.svg" width="36" height="36"></object> -->
  <div class="icon-circle">
    <svg-icon src="/assets/icon/snow.svg" [svgStyle]="{ 'width.px':14.21, 'height.px': 18, 'fill': '#000'}"></svg-icon>
  </div>
  <!-- <svg width="36" height="36" viewBox="0 0 36 36">
    <g>
      <circle id="Oval" cx="22" cy="22" r="22" style="fill:#ffffff;fill-rule:nonzero" />
      <polygon id="Path" points="24.444444,39 28.111111,13.434783 30.555556,21.956522 33,11 11,11 13.444444,21.956522 15.277778,13.434783 18.333333,31.695652 19.555556,13.434783 "
        style="fill:#029bb3;fill-rule:evenodd" />
    </g>
  </svg> -->
  <ion-label>{{regionSummary.Name}}</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let warning of getDayWarnings()">
        <ng-container>
          <ion-badge color="medium">{{ warning.DangerLevel }}</ion-badge>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>