
    ion-badge {
        border-radius: 2px;
        height: 36px;
        width: 36px;
        color: #fff;
        background-color: #57AB01;
        font-size: 17px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    .icon-circle {
        height: 36px;
        width: 36px;
        background-color: #F7F7F7;
        border-radius: 50%;
        margin-left: 16px;
        margin-right: 15px;

        svg-icon  {
            position: relative;
            top: 9px;
            left: 11px;
        }
    }
