<ion-list lines="full">
  <ion-list-header text-uppercase>
    <ion-label>
      {{'REGISTRATION.FAILED.TITLE' | translate}}
    </ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label text-wrap *ngIf="registration.error.status === 0">
      {{'REGISTRATION.FAILED.SUBTITLE' | translate}}
    </ion-label>
    <ion-label text-wrap *ngIf="registration.error.status === 400">
      {{'REGISTRATION.FAILED.PROBLEM' | translate}}: {{ registration.error.message }}
    </ion-label>
    <ion-label text-wrap *ngIf="registration.error.status > 400">
      {{'REGISTRATION.FAILED.PROBLEM' | translate}}. {{'REGISTRATION.FAILED.LOGGED' | translate}}
      <!-- Ta skjermbilde og
      <app-external-link src="http://www.regobs.no/Home/About">kontakt oss</app-external-link>
      , så hjelper du oss med å finne en løsning.  -->
      {{'REGISTRATION.FAILED.PROBLEM_HELP_TEXT' | translate}}
    </ion-label>
  </ion-item>
  <ion-item *ngIf="registration.error.status >= 400">
    <ion-label text-wrap>
      {{'REGISTRATION.FAILED.REFERENCE' | translate}} ID: {{ registration.id }}
    </ion-label>
  </ion-item>
  <ion-item (click)="sendEmail()">
    <ion-icon slot="start" name="mail"></ion-icon>
    <ion-label text-wrap>
      {{'REGISTRATION.FAILED.SEND_EMAIL' | translate}}
    </ion-label>
  </ion-item>
  <ion-item (click)="openForEdit()">
    <ion-icon slot="start" name="create"></ion-icon>
    <ion-label text-wrap>
      {{'REGISTRATION.FAILED.EDIT_OBSERVATION' | translate}}
    </ion-label>
  </ion-item>
</ion-list>