.resetFiltersButton {
  font-size: 17px;
}

.toggleAllTypesButton {
  font-size: 17px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

ion-list {
  width: 100%;
  padding-top: env(safe-area-inset-top);
  overflow: auto;
  max-height: 100vh;
  background: #fff;

  .item-height {
    max-height: 40px;
    display: flex;
    align-items: center;
  }
}
