:host {
  height: 100%;
  --background-color: #fff;
  background-color: var(--background-color);
}

ion-title.title-small {
  padding-bottom: 0;
}

.resetFiltersButton {
  font-size: 17px;
}

.margin-bottom {
  margin-bottom: 8px;
}

ion-list {
  width: 100%;
  background: var(--background-color);
}
