.resetFiltersButton {
  font-size: 17px;
}

.toggleAllTypesButton {
  font-size: 17px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 8px;
}

ion-list {
  width: 100%;
  padding-top: env(safe-area-inset-top);
  overflow: auto;
  max-height: 100vh;
  background: #fff;
  ion-item {
    ion-icon {
      font-size: 1.4em;
      margin-right: 2rem;
    }

    svg-icon {
      margin-top: 6px;
    }
  }

  .item-height {
    max-height: 40px;
    display: flex;
    align-items: center;
  }
}

.unselectable {
  cursor: default;
}
