<ion-header color="primary" class="ion-no-margin">
  <ion-toolbar appHeaderColor>
    <ion-title size="small">{{ "OBSERVATION_FILTER.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-margin main-list filtermenu-scrollfix">
    <ion-item lines="full" color="light" button detail="false">
      <ion-toggle [checked]="showObservations$ | async" (ionChange)="saveShowObservation($event)">
        {{ "MENU.SHOW_OBSERVATIONS" | translate }}
      </ion-toggle>
    </ion-item>

    <ng-container *ngIf="showObservations$ | async">
      <app-update-observations></app-update-observations>
      <ion-item lines="full" button (click)="onResetFilters()" detail="false" color="light">
        {{ "OBSERVATION_FILTER.RESET_FILTER_BUTTON_TITLE" | translate }}
        <ion-icon slot="end" name="close-circle-outline"></ion-icon>
      </ion-item>

      @if (!isWebPlatform) {
        <!--
          På mobil ønsker vi bare å kunne velge maks 2 uker tilbake, det er kun det vi støtter offline.
          På web brukes <app-date-range>, som også bruker <app-observations-days-back>
        -->
        <ion-item lines="full" color="light">
          <app-observations-days-back (daysBackChange)="setUseDaysBack($event)"></app-observations-days-back>
        </ion-item>
      }

      <ion-accordion-group>
        @if (isWebPlatform) {
          <app-date-range></app-date-range>
        }

        @if (isWebPlatform) {
          <ion-accordion>
            <ion-item slot="header" color="light">
              <app-header-with-selected-items
                titleKey="OBSERVATION_FILTER.OBSERVATION_TYPE_FILTER.TITLE"
                [items]="selectedObservationTypes()"
              >
              </app-header-with-selected-items>
            </ion-item>
            <div slot="content">
              <ion-list lines="none">
                <!--if slush flow filter is set, disable filter by observation type because it cannot be combined -->
                <!-- her vise obsgruppe først og så vise obstyper i gruppa og bruke klikks.-->
                @for (group of groupsWithIsCheckedComputed(); track group.id) {
                  <ion-item>
                    <ion-checkbox
                      [checked]="group?.isChecked"
                      (ionChange)="toggleObservationGroup($event.detail.checked, group.id, group.subTypes)"
                      labelPlacement="end"
                      justify="start"
                    >
                      {{ group?.name }}
                    </ion-checkbox>
                  </ion-item>
                  @if (group?.subTypes) {
                    @for (type of group?.subTypes; track type.id) {
                      <ion-item class="subtype">
                        <ion-checkbox
                          [checked]="!slushFlowFilterIsActive && type.isChecked"
                          labelPlacement="end"
                          justify="start"
                          (ionChange)="toggleObservationType($event.detail.checked, type.parentId, type.id)"
                          >{{ type.name }}</ion-checkbox
                        >
                      </ion-item>
                    }
                  }
                }
                <app-slush-flow-filter> </app-slush-flow-filter>
              </ion-list>
            </div>
          </ion-accordion>
        }

        @if (isWebPlatform && isGeohazardSnow()) {
          <app-region-filter></app-region-filter>
        }

        <ion-accordion value="competence">
          <ion-item slot="header" color="light">
            <app-header-with-selected-items
              titleKey="OBSERVATION_FILTER.COMPETANCE_FILTER.TITLE"
              [items]="observerFilter()"
            >
            </app-header-with-selected-items>
          </ion-item>

          <ion-item slot="content" lines="none">
            <ion-label position="stacked" class="margin-bottom">
              {{ "OBSERVATION_FILTER.COMPETANCE_FILTER.LABEL" | translate }}
              <span *ngIf="noCompetenceFilterActive()">
                &nbsp;({{ "OBSERVATION_FILTER.MULTISELECT_SHOW_NO_COUNT" | translate }})
              </span>
            </ion-label>
            <ion-list lines="none">
              <ion-item *ngFor="let competence of competenceCheckboxes(); trackBy: competenceOptionTrackById">
                <ion-checkbox
                  [value]="competence"
                  [checked]="competence.checked"
                  (ionChange)="competenceCheckboxChanged($event)"
                  [title]="competence.descriptions.join('<br />')"
                  labelPlacement="end"
                  justify="start"
                  >{{ competence.name }}</ion-checkbox
                ></ion-item
              >
            </ion-list>
            <div>
              <ion-label class="margin-bottom" position="stacked">{{
                "OBSERVATION_FILTER.NICK_FILTER.TITLE" | translate
              }}</ion-label>
              <ion-searchbar
                [value]="nickName()"
                [debounce]="1000"
                class="ion-no-padding"
                [placeholder]="'OBSERVATION_FILTER.NICK_FILTER.PLACEHOLDER' | translate"
                (ionChange)="setNickName($event)"
              >
              </ion-searchbar>
            </div>
          </ion-item>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>
  </ion-list>
</ion-content>
