<ion-list class="ion-no-margin filtermenu-scrollfix">
  <ion-list-header color="varsom-blue" class="ion-no-margin">
    <ion-label>{{ "OBSERVATION_FILTER.TITLE" | translate }}</ion-label>
  </ion-list-header>
  <app-observations-days-back></app-observations-days-back>
  <app-date-range *ngIf="!isIosOrAndroid"></app-date-range>
  <app-update-observations></app-update-observations>

  <ng-container *ngIf="isSupported('observationType')">
    <ion-list-header color="varsom-blue" class="ion-no-margin">
      <app-selected-items-counter-label
        [selectedItemsCount]="observationTypesSelectedCount"
      ></app-selected-items-counter-label>
    </ion-list-header>

    <ion-item>
      <ion-list lines="none">
        <ng-container *ngFor="let type of observationTypesOptions">
          <ion-item class="item-height">
            <ion-checkbox
              [checked]="type.isChecked"
              (click)="setNewType($event, type.parentId, type.id)"
              color="varsom-dark-blue"
            >
            </ion-checkbox>
            <ion-label class="ion-padding-start">{{ type.name }}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="isSupported('competence')">
    <ion-list-header color="varsom-blue" class="ion-no-margin">
      <ion-label>
        {{ "OBSERVATION_FILTER.COMPETANCE_FILTER.TITLE" | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item *ngIf="competenceOptions">
      <ion-label class="no-margin-bottom" color="dark" position="stacked">{{
        "OBSERVATION_FILTER.COMPETANCE_FILTER.LABEL" | translate
      }}</ion-label>
      <ion-select
        [interface]="popupType"
        [value]="chosenCompetenceValue"
        (ionChange)="onSelectCompetenceChange($event)"
      >
        <ion-select-option *ngFor="let co of competenceOptions" [value]="co">
          {{ co.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="automaticStationCompetenceItem">
      <ion-checkbox
        [checked]="isAutomaticStationChecked"
        color="varsom-dark-blue"
        mode="md"
        [value]="automaticStationCompetenceItem"
        (ionChange)="onCheckAutomaticStations($event)"
      >
      </ion-checkbox>
      <ion-label class="ion-padding-start"
        >{{ "OBSERVATION_FILTER.COMPETANCE_FILTER.AUTOMATIC_STATIONS" | translate }}
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="isSupported('nickName')">
    <ion-item>
      <ion-label class="no-margin-bottom" color="dark" position="stacked">{{
        "OBSERVATION_FILTER.NICK_FILTER.TITLE" | translate
      }}</ion-label>
      <ion-searchbar
        [value]="nickName"
        [debounce]="1000"
        mode="ios"
        class="ion-no-padding"
        [placeholder]="'OBSERVATION_FILTER.NICK_FILTER.PLACEHOLDER' | translate"
        (ionChange)="setNickName($event)"
      >
      </ion-searchbar>
    </ion-item>
  </ng-container>

  <ion-item>
    <ion-button (click)="onResetFilters()" class="resetFiltersButton" type="button" fill="clear">
      <ion-icon src="./assets/icon/reset-button.svg"> </ion-icon>
      {{ "OBSERVATION_FILTER.RESET_FILTER_BUTTON_TITLE" | translate }}
    </ion-button>
  </ion-item>
</ion-list>
