<p>{{'SUPPORT_MAP.STEEPNESS_COLOR_INFO'|translate}}</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADpJREFUOI1jYaAyYKGlgf+pYB4jigtVSsg36U4PhKapl0cNHDVw1MBRA7EbCCuCyASM6AYyUmQcFAAA2w4Eu02XbecAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      27-30
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigv/U2AkIyOEpqmXRw0cNXDUwFEDsRsIK4LIBIzoBlJmHBQAAF8jA1XJU6ZXAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      30-35
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADlJREFUOI1jYaAyYKGlgf+pYB4jigv/r6TApHAITVMvjxo4auCogaMGYjcQVgSRCRjRDWSkyDgoAAB8swOrTPh0KQAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      35-40
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADlJREFUOI1jYaAyYKGlgf+pYB4jigv/h1Jg0moITVMvjxo4auCogaMGYjcQVgSRCRjRDWSkyDgoAACZkwP/r1UNTQAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      40-45
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigufUWCSFJSmqZdHDRw1cNTAUQOxGyiFSxVxgBHdQEbKzIMAABQxAm3yqYmFAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      45-50
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigtLKDCpB0rT1MujBo4aOGrgqIHYDezBpYo4wIhuICNl5kEAADvTAt94zGSEAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      > 50
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-button fill="clear" (click)="openAboutMapsModal()">{{'SUPPORT_MAP.READ_MORE' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>