nve-menu-item {
  nve-icon {
    --icon-size: 30px;
  }
}

nve-menu-item::part(base) {
  height: fit-content;
}

nve-input::part(form-control-label) {
  font: var(--label-small);
  color: black;
}

nve-tag::part(extra),
nve-tag::part(text) {
  line-height: 1;
}

.button-group {
  display: flex;
  gap: var(--spacing-small);
}

.tag-row {
  display: flex;
  gap: var(--spacing-x-small);
}

.content {
  max-width: var(--form-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-small);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.map {
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .map {
    height: 200px;
  }
}

.saved {
  color: var(--color-neutrals-foreground-subtle, #60656c);
  /* typography/body/small */
  font-family: var(--font-family-source-sans-pro, 'Source Sans Pro');
  font-size: var(--font-size-x-small, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

h1,
p {
  margin: 0;
}

.comment {
  color: var(--color-neutrals-foreground-primary, #00070a);
  /* typography/lead/small-regular */
  font-family: var(--font-family-source-sans-pro, 'Source Sans Pro');
  font-size: var(--font-size-small, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
