@if (itemMetadata(); as info) {
  <ion-header>
    <ion-toolbar appHeaderColor>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/plans"></ion-back-button>
      </ion-buttons>
      <ion-title> {{ info.name }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="content">
      <div class="tag-row">
        <nve-tag saturation="default" variant="neutral">
          <nve-icon slot="prefix" src="assets/icon/calendar_today.svg" />
          <span>{{ "PLANS.DATE_EDITED" | translate }}</span> <span slot="extra">{{ info.date | date: "short" }}</span>
        </nve-tag>
        <nve-tag saturation="default" variant="neutral">
          <nve-icon slot="prefix" src="assets/icon/altitude.svg" />
          <span slot="extra">-- {{ "MAP_CENTER_INFO.ABOVE_SEA_LEVEL" | translate }}</span>
        </nve-tag>
        <nve-tag saturation="default" variant="neutral">
          <nve-icon slot="prefix" src="assets/icon/arrow_range.svg" />
          <span slot="extra">{{ info.lengthKm ? `${info.lengthKm.toFixed(2)} km` : '-- km' }}</span>
        </nve-tag>
      </div>
      <form>
        <nve-checkbox [checked]="visibleOnMap()" (sl-change)="onVisibleOnMapChange($event)">
          {{ "PLANS.VISIBLE_ON_MAP" | translate }}
        </nve-checkbox>
        <nve-input [value]="name()" [label]="'PLANS.NAME' | translate" (sl-change)="onNameChange($event)"></nve-input>
        <nve-textarea
          [value]="comment()"
          (sl-change)="onCommentChange($event)"
          [label]="'PLANS.COMMENT' | translate"
        ></nve-textarea>
        <div class="button-group">
          <nve-button variant="primary" type="submit" (click)="onSave()">{{ "PLANS.SAVE" | translate }}</nve-button>
          <nve-button variant="danger" type="button" (click)="onRemove()">
            <nve-icon slot="prefix" src="assets/icon/delete_white.svg"></nve-icon>
            {{ "PLANS.DELETE" | translate }}
          </nve-button>
        </div>
      </form>
    </div>
  </ion-content>
}
