<ion-item class="summary-item" (click)="openModal()">
  <ion-label padding-vertical padding-end>
    <h2>{{ 'REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.TITLE' | translate}}</h2>
    <p>
      <ion-text *ngIf="!isEmpty else empty">{{profile.Layers ? profile.Layers.length : 0 }} lagdelinger observert
      </ion-text>
    </p>
  </ion-label>
  <ion-icon *ngIf="!isEmpty" slot="end" color="success" name="checkmark-circle"></ion-icon>
</ion-item>
<ng-template #empty>
  {{'REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.EMPTY' | translate}}
</ng-template>