<ion-item tabindex="0" class="summary-item" (click)="openModal()" (keyup.enter)="openModal()">
  <ion-label class="ion-padding-vertical ion-padding-end">
    <h2>{{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.TITLE" | translate }}</h2>
    <p>
      <ion-text *ngIf="!isEmpty; else empty"
        >{{ profile.Layers ? profile.Layers.length : 0 }}
        <ng-container *ngIf="profile.Layers.length === 1; else multiple">
          {{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.ONE_LAYER" | translate }}
        </ng-container>
      </ion-text>
    </p>
  </ion-label>
  <ion-icon *ngIf="!isEmpty" slot="end" color="success" name="checkmark-circle"></ion-icon>
</ion-item>
<ng-template #empty>
  {{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.EMPTY" | translate }}
</ng-template>
<ng-template #multiple>
  {{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.MULTIPLE_LAYERS" | translate }}
</ng-template>
