<ion-item>
  <ion-label color="medium" position="stacked" class="ion-text-uppercase">{{
    "REGISTRATION.SNOW.AVALANCHE_PROBLEM.VALID_EXPOSITION" | translate
  }}</ion-label>
  <ion-text class="ion-align-self-start ion-text-wrap ion-margin-bottom">
    <ion-grid class="exposition ion-no-padding">
      <ion-row>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(7)" [class.selected]="nw()">
          {{ "DIRECTION.NW" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(0)" [class.selected]="n()">
          {{ "DIRECTION.N" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(1)" [class.selected]="ne()">
          {{ "DIRECTION.NE" | translate }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(6)" [class.selected]="w()">
          {{ "DIRECTION.W" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="toggleAllExpositions()" [class.selected]="all()">
          {{ "REGISTRATION.SNOW.AVALANCHE_PROBLEM.ALL" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(2)" [class.selected]="e()">
          {{ "DIRECTION.E" | translate }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(5)" [class.selected]="sw()">
          {{ "DIRECTION.SW" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(4)" [class.selected]="s()">
          {{ "DIRECTION.S" | translate }}
        </ion-col>
        <ion-col size="4" class="ion-text-center" (click)="setExposition(3)" [class.selected]="se()">
          {{ "DIRECTION.SE" | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-text>
</ion-item>
