<ion-item (click)="refresh()" lines="full" button detail="false" color="light">
  <ion-label>{{ "MENU.UPDATE_OBSERVATIONS" | translate }}</ion-label>
  <!--ng-container *ngIf="!(isLoading$ | async); else isLoadingTemplate"-->
  @if (lastFetched$ | async; as lastFetched) {
    <ion-text>
      {{ lastFetched | date: settings.dateFormats.angular.dateAndTime }}
    </ion-text>
  } @else {
    <ion-text class="ion-align-self-start">-</ion-text>
  }
  <ion-icon name="refresh" slot="end"></ion-icon>
</ion-item>
<ng-template #isLoadingTemplate>
  <ion-text class="ion-align-self-start">
    <ion-spinner name="dots"></ion-spinner>
  </ion-text>
</ng-template>
