:host {
  display: block;
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /**
   * Denne komponenten brukes i listevisninga som har ytelsesproblemer på iOS.
   * contain: layout paint; hjelper trolig.
   **/
  contain: layout paint;

  --slide-height: 400px;
  --swiper-theme-color: var(--ion-color-secondary);
}

.swiper-wrapper {
  /*
    Viktig at høyde og bredde er satt fast her, siden det er en if-setning som rendrer selve swiperen, inni denne.
    Uten fast bredde og høyde vil innholdet hoppe.
  */
  height: var(--slide-height);
  width: 100%;
  /*
    Siden .swiper-wrapper har en if-setning som kun rendrer swiperen vha IntersectionObserver,
    sjekk om contain layout paint git bedre ytelse.
    Da trenger forhåpentligvis ikke mer enn bare det inni if-setningen tegnes opp på nytt.
  */
  contain: layout paint;

  /* Bakgrunnsfarge for å fylle swiperen med noe før selwe swiperen, bildene og kartet laster. */
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
}

swiper-container {
  height: 100%;
  width: 100%;
}

swiper-slide {
  position: relative;
  height: 100%;
  width: fit-content;
  cursor: pointer;
}

swiper-slide .img-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 25px;
  line-height: 1;
  padding: 4px;
}

swiper-slide:first-child {
  /* Map */
  width: 40%;
}

swiper-container swiper-slide:first-child:nth-last-child(1) {
  /* Hvis kart er eneste slide, ta opp 100% av plassen */
  width: 100%;
}

observation-location-map {
  height: 256px;
}

swiper-slide img {
  height: 100%;
  object-fit: cover;
}

b {
  font-weight: 600;
}

ion-button ion-icon {
  margin-right: 4px;
}

ion-chip ion-label + ion-label {
  margin-left: 8px;
}

ion-chip.chip-disabled {
  opacity: 1;
}

.content {
  margin: 8px;
}

.registration {
  margin-top: 12px;
}
