:host {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 16px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --slide-height: 400px;
  --swiper-theme-color: var(--ion-color-secondary);
}

swiper-container {
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
}

swiper-slide {
  position: relative;
  background-color: lightgray;
  height: var(--slide-height);
  width: fit-content;
  cursor: pointer;
}

swiper-slide .img-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 25px;
  line-height: 1;
  padding: 4px;
}

swiper-slide:first-child {
  /* Map */
  width: 40%;
}

swiper-container swiper-slide:first-child:nth-last-child(1) {
  /* Hvis kart er eneste slide, ta opp 100% av plassen */
  width: 100%;
}

app-static-map-image {
  width: 100%;
}

swiper-slide img {
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
  color: var(--ion-text-color-heading);
}

b {
  font-weight: 600;
}

ion-button ion-icon {
  margin-right: 4px;
}

ion-chip ion-label + ion-label {
  margin-left: 8px;
}

ion-chip.chip-disabled {
  opacity: 1;
}

.content {
  margin: 8px;
}

.registration {
  margin-top: 12px;
}

.buttons {
  display: flex;
  /* Knapperaden har ion-color-light klasse som endrer --ion-background-color */
  background-color: var(--ion-background-color);
}

.reg-id {
  margin-left: auto;
}

@media only screen and (max-width: 415px) {
  /* On small screens, constrain the edit button size so that the share button is not pushed outside of the obs card */
  .edit-button {
    max-width: 45%;
    text-wrap: wrap;
  }
}

/*
 * Hvis det bare er én knapp i knapperaden (kopier-regid-knapp)
 */
.buttons:has(> :last-child:nth-child(1)) {
  flex-direction: row-reverse;
}
