:host {
  display: block;
  --slide-height: 400px;
  --swiper-theme-color: var(--ion-color-secondary);
}

ion-item {
  --inner-padding-start: 0;
  --padding-start: 0;
  font-size: 1.2em;

  ion-button {
    --ion-color-primary: var(--ion-text-color);

    &.edit-button {
      margin-left: 0.5rem;
      font-size: 14px;
      letter-spacing: 0.75px;
      text-transform: uppercase;
      font-weight: 600;
      color: var(--ion-color-varsom-blue);
    }

    &.reg-id {
      ion-icon {
        font-size: 1.4em;
      }
    }
  }
}

ion-chip.chip-disabled {
  opacity: 1;
}

swiper-container {
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
}

swiper-container::part(bullet-active) {
  background-color: var(--ion-color-primary);
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: var(--ion-color-primary);
}

swiper-slide {
  position: relative;
  background-color: lightgray;
  height: var(--slide-height);
  width: fit-content;
  cursor: pointer;
}

swiper-slide .img-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 25px;
  line-height: 1;
  padding: 4px;
}

swiper-slide:first-child {
  /* Map */
  width: 40vw;
}

swiper-container swiper-slide:first-child:nth-last-child(1) {
  /* Hvis kart er eneste slide, ta opp 100% av plassen */
  width: 100%;
}

app-static-map-image {
  width: 100%;
}

swiper-slide img {
  height: 100%;
  object-fit: cover;
}

.summary strong {
  font-weight: 600;
}

@media only screen and (max-width: 415px) {
  /* On small screens, constrain the edit button size so that the share button is not pushed outside of the obs card */
  .edit-button {
    max-width: 45%;
    text-wrap: wrap;
  }
}
