<!-- Et observasjonskort. Viser data fra en observasjon, et miniatyrkart over posisjonen og bilder i en karusell -->
<div class="swiper-wrapper">
  @if (isVisible()) {
    <swiper-container
      slides-per-view="auto"
      loop="false"
      css-mode="false"
      navigation="true"
      pagination="true"
      space-between="0"
      centered-slides="false"
      center-insufficient-slides="false"
      zoom="true"
      keyboard="false"
    >
      <!-- Map -->
      <swiper-slide (click)="openMapModal()">
        <app-static-map-image [location]="location()"></app-static-map-image>
      </swiper-slide>

      <!-- lazy-preload-prev-next="2" -->
      @for (attachment of attachments(); track attachment.AttachmentId; let index = $index) {
        <swiper-slide (click)="openImageCarousel(index)" lazy="true">
          <img
            [src]="attachment.UrlFormats?.Large"
            [alt]="attachment.Comment"
            loading="lazy"
            decoding="async"
            (error)="setFallbackImage(attachment)"
          />
        </swiper-slide>
      }
    </swiper-container>
  }
</div>

<div class="content">
  <h2>
    {{ registration().ObsLocation.Title }}
  </h2>
  <div>
    <ion-chip color="primary" disabled>
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label
        ><b>{{ "REGISTRATION.CARD.TIME.OBSERVED" | translate }}</b
        >:</ion-label
      >
      <ion-label>
        {{ registration().DtObsTime | date: "short" }}
      </ion-label>
    </ion-chip>

    <ion-chip color="primary" disabled>
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label
        ><b> {{ "REGISTRATION.CARD.TIME.REGISTERED" | translate }}</b
        >:</ion-label
      >
      <ion-label> {{ registration().DtRegTime | date: "short" }}</ion-label>
    </ion-chip>

    <ion-chip color="primary" disabled>
      <ion-icon name="create-outline"></ion-icon>
      <ion-label
        ><b> {{ "REGISTRATION.CARD.TIME.UPDATED" | translate }}</b
        >:</ion-label
      >
      <ion-label> {{ savedTime() | date: "short" }}</ion-label>
    </ion-chip>

    <ion-chip color="primary" disabled>
      <ion-icon [src]="geoIcon()"></ion-icon>
      <ion-label>{{ geoName() }}</ion-label>
    </ion-chip>

    <ion-chip color="primary" disabled>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>
        {{ registration().ObsLocation.Height }} {{ "MAP_CENTER_INFO.ABOVE_SEA_LEVEL" | translate }}
      </ion-label>
    </ion-chip>

    <ion-chip class="competence-chip" color="primary" disabled>
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- https://css-tricks.com/five-methods-for-five-star-ratings/#method-5-using-unicode-symbols -->
      <ion-label>
        {{ registration().Observer.NickName }} (<a
          target="_blank"
          class="competence-link"
          bl
          [href]="userCompetenceUrl()"
          >{{ registration().Observer.CompetenceLevelName || "COMPETENCE.UNKNOWN_SHORT" | translate }}</a
        >)
      </ion-label>
    </ion-chip>

    @if (registration().SourceName) {
      <ion-chip color="primary" disabled>
        <ion-label>
          <b> {{ "REGISTRATION.OBS_LOCATION.SOURCE" | translate }}</b
          >:</ion-label
        >
        <ion-label> {{ registration().SourceName }}</ion-label>
      </ion-chip>
    }

    <ion-chip color="primary" disabled>
      <ion-label>
        <b>{{ "REGISTRATION.OBS_LOCATION.UTMSOURCE" | translate }}</b> :</ion-label
      >
      <ion-label> {{ registration().ObsLocation.UTMSourceName }}</ion-label>
    </ion-chip>

    @if (registration().ObserverGroupName; as group) {
      <ion-chip color="primary" disabled>
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>{{ group }}</ion-label>
      </ion-chip>
    }
  </div>

  @for (view of registrationViews(); track view.tid) {
    <div class="registration">
      <h3>{{ view.header | translate }}</h3>
      <ng-container *ngComponentOutlet="view.component; inputs: view.inputs" />
    </div>
  }
</div>

<!-- Knapperad med deleknapp, gå til obs og endre-knapp -->
<div class="buttons ion-color-light">
  @if (userCanEdit()) {
    <ion-button fill="clear" class="edit-button" (click)="edit()" [disabled]="isLoadingObsForEdit()">
      <ion-icon name="create-outline"></ion-icon>
      {{ "REGISTRATION.EDIT" | translate }}
      @if (isLoadingObsForEdit()) {
        <ion-spinner name="dots" slot="end"></ion-spinner>
      }
    </ion-button>
  }
  @if (!isRegistrationPage && registration().RegId) {
    <a [routerLink]="'/registration/' + registration().RegId">
      <ion-button fill="clear" class="edit-button">
        <ion-icon name="eye-outline"></ion-icon>
        {{ "REGISTRATION.GO_TO" | translate }}
      </ion-button>
    </a>
  }

  <ion-button fill="clear" (click)="share()" class="reg-id">
    ID: {{ registration().RegId }}
    <ion-icon slot="end" name="share-social"></ion-icon>
  </ion-button>
</div>
