<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="ok()" [disabled]="!urlToSave.UrlLine">{{ 'DIALOGS.OK' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'REGISTRATION.ADD_WEB_URL.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <app-text-comment [(value)]="urlToSave.UrlDescription" title="REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE" rows="2"
      placeholder="REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE"></app-text-comment>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.ADD_WEB_URL.URL' | translate }}</ion-label>
      <ion-input type="url" [(ngModel)]="urlToSave.UrlLine" placeholder="{{ 'REGISTRATION.ADD_WEB_URL.URL' | translate}}"></ion-input>
    </ion-item>
  </ion-list>
  <app-modal-save-or-delete-buttons [saveDisabled]="!urlToSave.UrlLine" (saveClicked)="ok()" (deleteClicked)="delete()"
    [showDelete]="!isNew">
  </app-modal-save-or-delete-buttons>
</ion-content>