<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.ICE.ICE_COVER.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.IceCoverObs" [registration]="registration"
    [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <app-kdv-dropdown title="REGISTRATION.ICE.ICE_COVER.ICE_COVER" kdvKey="Ice_IceCoverKDV" [(value)]="registration.request.IceCoverObs.IceCoverTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.ICE.ICE_COVER.ICE_COVER_BEFORE" kdvKey="Ice_IceCoverBeforeKDV" [(value)]="registration.request.IceCoverObs.IceCoverBeforeTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.ICE.ICE_COVER.ICE_CAPACITY" kdvKey="Ice_IceCapacityKDV" [(value)]="registration.request.IceCoverObs.IceCapacityTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.ICE.ICE_COVER.ICE_SKATEABILITY" kdvKey="Ice_IceSkateabilityKDV" [(value)]="registration.request.IceCoverObs.IceSkateabilityTID"></app-kdv-dropdown>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <app-text-comment [(value)]="registration.request.IceCoverObs.Comment" placeholder="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_PLACEHOLDER' | translate }}"></app-text-comment>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>