.slides {
    height: 100%;
}

ion-grid {
    height: 100%;
    width: 100%;
  
    ion-row {
      &.wizard-image-wrap {
        height: 60%;

        &.blue {
            background-color: #BDD7EE;
        }
        
        &.green {
            background-color: #C5E0B4;
        }
        
        &.orange {
            background-color: #F8CBAD;
        }
        
        &.yellow {
            background-color: #FFE699;
        }
      }
      height: 40%;

      .slide-text {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
      }

      &.header {
          height: 15%;
      }
      &.cards {
          height: 70%;
      }
    }
  }

  ion-title {
      padding: 0 0;
  }