/* Dette burde være globalt men jeg vil ikke ødelegge eksisterende komponenter */
ul,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
  --ion-text-color-heading: var(--ion-text-color-heading-white-pages);
  transform-origin: bottom;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;
  transform-origin: bottom;
  margin: 0px;
}

swiper-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.slide__container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 120px;
}

@media screen and (max-width: 768px) {
  .slide__container {
    padding: 0px 50px;
  }
}

.svg__container {
  flex: 0.7;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: auto;
  }
}

.text__container {
  flex: 0.3;
  overflow: hidden;
  text-align: center;
}

.finish-onboarding-button {
  color: var(--ion-color-secondary-contrast);
}

.legal__icon {
  svg {
    height: 75px;
  }
}

@media screen and (max-width: 768px) {
  .legal__icon {
    svg {
      height: 34px;
    }
  }
}

.legal-text {
  li {
    margin-bottom: 5px;
    font-size: 4vw;
  }
  @media screen and (min-width: 768px) {
    li {
      font-size: 18px;
    }
  }
}

ion-list.list-md {
  padding: 0px;
}
