<ion-content *ngIf="userSettings">
  <ion-slides class="onboarding" [options]="{autoplay:false}" pager="true" (ionSlideReachEnd)="ionSlideReachEnd()"
    (ionSlidePrevStart)="ionSlidePrevStart()" (ionSlideTransitionStart)="ionSlideTransitionStart()">
    <ion-slide>
      <ion-grid class="full-grid">
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element eclipse" src="/assets/images/onboarding/eclipse.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element bubble" [@pulse]="state" src="/assets/images/onboarding/bubble.svg">
              </svg-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <h2 [@headerAnimation]="state">{{'START_WIZARD.CHOOSE_LANGUAGE.HEADER'|translate}}</h2>
            <h3>{{'START_WIZARD.CHOOSE_LANGUAGE.HEADER_SECONDARY_LANGUAGE'|translate}}</h3>
            <ion-list lines="none">
              <ion-radio-group class="dark-color" [(ngModel)]="userSettings.language" (ionChange)="saveUserSettings()">
                <ion-item (click)="slideNext()">
                  <ion-radio mode="md" slot="start" [value]="LangKey.no"></ion-radio>
                  <ion-label>{{'START_WIZARD.CHOOSE_LANGUAGE.NORWEGIAN'|translate}}
                    ({{'START_WIZARD.CHOOSE_LANGUAGE.NORWEGIAN_SECONDARY_LANGUAGE'|translate}})</ion-label>
                </ion-item>
                <ion-item (click)="slideNext()">
                  <ion-radio mode="md" slot="start" [value]="LangKey.en"></ion-radio>
                  <ion-label>{{'START_WIZARD.CHOOSE_LANGUAGE.ENGLISH'|translate}}
                    ({{'START_WIZARD.CHOOSE_LANGUAGE.ENGLISH_SECONDARY_LANGUAGE'|translate}})</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="full-grid">
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element line" [@bouncePath]="state" src="/assets/images/onboarding/line.svg">
              </svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element warning" [@scaleUpWarning]="state"
                src="/assets/images/onboarding/warning.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element pin-ice" [@scaleUpIce]="state" src="/assets/icon/map/pin-ice.svg">
              </svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element pin-dirt" [@scaleUpDirt]="state" src="/assets/icon/map/pin-dirt.svg">
              </svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element pin-snow" [@scaleUpSnow]="state" src="/assets/icon/map/pin-snow.svg">
              </svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element pin-water" [@scaleUpWater]="state" src="/assets/icon/map/pin-water.svg">
              </svg-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <h2 [@headerAnimation1]="state">{{'START_WIZARD.PAGE_1.HEADER'|translate}}</h2>
            <h3 text-wrap>
              {{'START_WIZARD.PAGE_1.LINE_1'|translate}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="full-grid">
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element steepness-background"
                src="/assets/images/onboarding/steepness-background.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element danger-map" src="/assets/images/onboarding/danger-map.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element user-location" [@slideInFromRight]="state"
                src="/assets/images/onboarding/user-location.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element exclamation-mark" [@nudgeExclamation]="state"
                src="/assets/images/onboarding/exclamation-mark.svg">
              </svg-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <h2 [@headerAnimation2]="state">{{'START_WIZARD.PAGE_2.HEADER'|translate}}</h2>
            <h3 text-wrap>
              {{'START_WIZARD.PAGE_2.LINE_1'|translate}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="full-grid">
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element add-observation" [@pulse]="state"
                src="/assets/images/onboarding/add-observation.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element photos" [@moveDownRight]="state"
                src="/assets/images/onboarding/photos.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element pin" [@moveDownRightLess]="state"
                src="/assets/images/onboarding/pin.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element ruler" [@moveDownRight]="state"
                src="/assets/images/onboarding/ruler.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element document" [@moveDownLeft]="state"
                src="/assets/images/onboarding/document.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element path" [@moveDownLeft]="state" src="/assets/images/onboarding/path.svg">
              </svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <svg-icon class="animated-element eye" [@moveLeftAndABitDown]="state"
                src="/assets/images/onboarding/eye.svg"></svg-icon>
            </div>
            <div class="animated-element-wrapper">
              <h3 class="animated-element text" [@moveUp]="state">{{'START_WIZARD.PAGE_3.BUTTON_TEXT' | translate}}</h3>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="full-grid-row">
          <ion-col align-self-center>
            <h2 [@headerAnimation3]="state">{{'START_WIZARD.PAGE_3.HEADER'|translate}}</h2>
            <h3 text-wrap>
              {{'START_WIZARD.PAGE_3.LINE_1'|translate}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid class="full-grid legal-grid">
        <ion-row class="legal-info-row">
          <ion-col padding align-self-bottom>
            <div class="legal-icon" [ngClass]="{'hide': !showLegalIcon }">&sect;
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="legal-text-row">
          <ion-col align-self-top>
            <h2 [@headerAnimation4]="state">{{'LEGAL_TERMS.HEADER' | translate}}</h2>
            <h3 text-wrap no-padding>
              {{'LEGAL_TERMS.TERMS' | translate}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar color="varsom-blue">
    <ion-button no-margin expand="full" (click)="start()" fill="clear">
      {{ (reachedEnd ?
            'START_WIZARD.I_UNDERSTAND' :
            'START_WIZARD.SKIP_START') |translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>