ion-footer {
  ion-toolbar {
    ion-button {
      color: #fff;
      text-transform: initial;
      height: 56px;
    }
  }
}

ion-list {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.language-list {
  max-width: 250px;
  ion-item {
    --inner-padding-end: 0px;
  }
}
// ion-select {
//   border-bottom: 1px solid #959595;
// }
// .language-item {
//   --inner-padding-end: 0px;
// }

@keyframes usermarker-pulsate {
  from {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    top: 1px;
    left: 0px;
  }
  to {
    width: 80px;
    height: 80px;
    transform: translate3d(-19px, -19px, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes usermarker-pulsate {
  from {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    top: 1px;
    left: 0px;
  }
  to {
    width: 80px;
    height: 80px;
    -webkit-transform: translate3d(-19px, -19px, 0px);
    opacity: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

.float {
  -webkit-animation: float 2s ease-in-out infinite;
  animation: float 2s ease-in-out infinite;
}

ion-content {
  --ion-background-color: #fff;

  ion-slides {
    height: 100%;

    .full-grid {
      padding-left: 6vw;
      padding-right: 6vw;
    }

    .legal-grid {
      margin-top: auto;
      padding-bottom: 12vh;
      height: auto;
    }

    .legal-info-row {
      height: 20vh;
    }

    .legal-text-row {
      ul {
        padding-left: 18px;
        li {
          text-align: left;
          padding-bottom: 5px;
          font-size: 4vw;
        }
        @media screen and (min-width: 768px) {
          li {
            font-size: 18px;
          }
        }
      }
    }

    ion-slide {
      overflow: hidden;
    }

    h2 {
      margin-top: 0px;
      font-size: 24px;
      font-weight: bold;
      --ion-text-color-heading: var(--ion-text-color-heading-white-pages);
      --webkit-transform-origin: bottom;
      transform-origin: bottom;
    }

    h3 {
      font-size: 18px;
      --webkit-transform-origin: bottom;
      transform-origin: bottom;
    }

    .dark-color {
      color: var(--ion-text-color);
    }

    ion-card {
      --inner-border-width: 0 0 0 0;
    }

    .legal-icon {
      font-size: 36px;
      border-radius: 50%;
      color: #fff;
      background-color: var(--ion-color-varsom-blue-tint);
      width: 70px;
      height: 70px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      &.hide {
        display: none;
      }

      &:before {
        content: "";
        width: 120px;
        height: 120px;
        background-image: url("/assets/images/onboarding/legal-spinner.png");
        -webkit-animation: rotate 3s linear infinite;
        animation: rotate 3s linear infinite;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        display: block;
        position: absolute;
      }
    }

    .animated-element-wrapper {
      position: relative;
      top: 50%;
      left: 50%;

      .animated-element {
        display: block;
        position: absolute;

        &.eclipse {
          left: -46px;
          top: -58px;
        }
        &.bubble {
          left: -100px;
          top: 20px;
        }

        &.line {
          left: -188px;
        }

        &.warning {
          left: 58px;
          top: 54px;
          --webkit-transform-origin: bottom;
          transform-origin: bottom;
        }

        &.pin-ice {
          top: 115px;
          left: -50px;
          --webkit-transform-origin: bottom;
          transform-origin: bottom;
        }

        &.pin-dirt {
          top: -101px;
          left: 83px;
          --webkit-transform-origin: bottom;
          transform-origin: bottom;
        }

        &.pin-snow {
          top: -69px;
          left: -57px;
          --webkit-transform-origin: bottom;
          transform-origin: bottom;
        }

        &.pin-water {
          left: -150px;
          top: 20px;
          --webkit-transform-origin: bottom;
          transform-origin: bottom;
        }

        &.steepness-background {
          top: -160px;
          left: -193px;
        }

        &.danger-map {
          left: -187px;
          top: -113px;
        }

        &.user-location {
          left: 53px;
          top: 74px;

          &:before {
            content: "";
            display: block;
            -webkit-animation: usermarker-pulsate 1.5s ease-in-out infinite;
            animation: usermarker-pulsate 1.5s ease-in-out infinite;
            border: 5px solid #6996a3;
            background-color: #fff;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 1px;
            z-index: -1;
          }
        }

        &.exclamation-mark {
          left: -70px;
          top: -7px;
        }

        &.add-observation {
          left: -35px;
          top: 50px;
        }

        &.competence-finger {
          left: -35px;
          top: 20px;
        }

        &.star {
          width: 40px;
          height: 40px;
          top: -97px;
          color: var(--ion-color-varsom-blue-light-3);

          &.dark {
            color: var(--ion-color-varsom-blue-light-1);
            -webkit-transition: color 200ms ease-in;
            -moz-transition: color 200ms ease-in;
            -o-transition: color 200ms ease-in;
            -ms-transition: color 200ms ease-in;
            transition: color 200ms ease-in;
          }
        }

        &.star1 {
          left: -115px;
        }

        &.star2 {
          left: -65px;
          &.animated {
            animation-name: activate-star-2;
            -webkit-animation-name: activate-star-2;
          }
        }

        &.star3 {
          left: -15px;
          &.animated {
            animation-name: activate-star-3;
            -webkit-animation-name: activate-star-3;
          }
        }

        &.star4 {
          left: 35px;
          &.animated {
            animation-name: activate-star-4;
            -webkit-animation-name: activate-star-4;
          }
        }

        &.star5 {
          left: 85px;
          &.animated {
            animation-name: activate-star-5;
            -webkit-animation-name: activate-star-5;
          }
        }

        &.photos {
          left: -125px;
          top: 16px;
        }

        &.pin {
          left: -70px;
          top: -53px;
        }

        &.ruler {
          left: -125px;
          top: -94px;
        }

        &.document {
          left: 1px;
          top: -36px;
        }

        &.path {
          left: 58px;
          top: -100px;
        }

        &.eye {
          left: 64px;
          top: 16px;
        }

        &.text {
          left: -78px;
          top: 131px;
          color: var(--ion-color-varsom-orange);
          font-size: 24px;
        }
      }
    }
  }
}
