/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

.vs
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
src/assets/apikey.json
src/environments/version.json
nve.keystore
build.json
sentry.properties
src/test-reports/
.vscode/plugins.json
.vscode/typings/jquery/jquery.d.ts
typings/cordova-typings.d.ts
translations/lokalise-api-key.json
