# Konfigurasjon av npm

# Ikke bruk pakker før de har vært tilgjengelige i minst 7 dager, for å redusere risikoen for å ta i bruk kompromitterte pakker 
# Et unntak er nve-designsystem, som kan tas i bruk umiddelbart
min-release-age = 7
nve-designsystem:min-release-age = 0