<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
       <rule name="Attachments rewrite" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^Attachments/.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://api.regobs.no/{R:0}" appendQueryString="true" logRewrittenUrl="true" redirectType="Permanent" />
        </rule>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect www to non-www -->
        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.regobs\.no$" />
          </conditions>
          <action type="Redirect" url="https://regobs.no/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
         <rule name="Angular Route">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
