<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="Permissions-Policy" value="accelerometer=(), autoplay=(), bluetooth=(), browsing-topics=(), camera=self, display-capture=(), fullscreen=self, geolocation=self, gyroscope=(), magnetometer=(), microphone=(), midi=(), usb=(), xr-spatial-tracking=()" />
        <add name="Content-Security-Policy" value="connect-src 'self' https://plausible.io https://offlinemap.blob.core.windows.net https://nveb2c01prod.b2clogin.com https://nveb2c01test.b2clogin.com https://nveb2c01staging.b2clogin.com https://api.regobs.no https://test-api.regobs.no https://demo-api.regobs.no https://api01.nve.no https://ws.geonorge.no/stedsnavn https://secure.geonames.org; upgrade-insecure-requests; frame-ancestors 'self'; form-action 'self'; object-src 'none'; font-src 'self'; style-src-elem 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://plausible.io; worker-src 'self' blob:; default-src 'self' data: gap: cdvfile: blob:; img-src * filesystem: app-file: cdvfile: data: blob:; media-src * blob:" />
        <add name="Cache-Control" value="no-cache" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Expect-Ct" value="max-age=0;" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- Sørger for at ngsw-worker\.js er kallet og erstattet -->
       <rule name="Bypass ngsw-worker.js" stopProcessing="true">
          <match url="^ngsw-worker\.js$" />
          <action type="None" />
       </rule>
       <rule name="Attachments rewrite" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^Attachments/.*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://api.regobs.no/{R:0}" appendQueryString="true" logRewrittenUrl="true" redirectType="Permanent" />
        </rule>
        <rule name="Remove www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.regobs\.no$" />
          </conditions>
          <action type="Redirect" url="https://regobs.no/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <!-- Redirect HTTP to HTTPS -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect www to non-www -->
         <rule name="Angular Route" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule> rul
      </rules>
    </rewrite>

    <!-- Fjerne Server -headeren som lekker informasjon om hvilke type server nettsiden kjører under -->
     <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
