.inline {
  display: flex;
  flex-wrap: nowrap;
}

.inline app-numeric-input {
  width: 50%;

  &:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
  }
}

ion-list {
  padding-bottom: 0;
}
h2 {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
