@if (!(fullscreen$ | async)) {
  <ion-header>
    <ion-toolbar appHeaderColor>
      <ion-buttons slot="start">
        <ion-button (click)="navBack()">{{ "DIALOGS.CANCEL" | translate }}</ion-button>
      </ion-buttons>
      <ion-title> {{ "REGISTRATION.WATER.WATER_LEVEL.SET_FLOOD_POSITION_TITLE" | translate }} </ion-title>
    </ion-toolbar>
  </ion-header>
}
<ion-content>
  @if (isLoaded()) {
    <app-set-location-in-map
      [geoHazard]="geoHazard"
      (mapReady)="onMapReady($event)"
      [fromMarker]="fromMarker"
      (locationTimeSet)="onLocationSet()"
      [locationPolygon]="locationPolygon"
      confirmLocationText="REGISTRATION.WATER.WATER_LEVEL.SET_FLOOD_POSITION_CONFIRM"
      fromLocationText="REGISTRATION.OBS_LOCATION.TITLE"
      [showPreviousUsedLocations]="false"
      [showPolyline]="false"
      [setObsTime]="false"
    >
    </app-set-location-in-map>
  }
</ion-content>
