<ion-item (click)="toggleDamageType()">
  <ion-checkbox mode="md" slot="start" [(ngModel)]="isSelected"></ion-checkbox>
  <ion-label>{{ damageTypeName }}</ion-label>
</ion-item>
<ion-list lines="none" *ngIf="isSelected">
  <ion-item class="no-min-height">
    <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.WATER.DAMAGE.WHERE_IS_DAMAGE_LOCATION'
      | translate }}</ion-label>
  </ion-item>
  <ion-item detail="false" (click)="setDamagePosition()">
    <ng-container *ngIf="!damageObs.DamagePosition">
      <ion-icon slot="start" color="primary" name="add-circle-outline">
      </ion-icon>
      <ion-label>{{'REGISTRATION.WATER.DAMAGE.ADD_DAMAGE_LOCATION' | translate }}</ion-label>
    </ng-container>
    <ng-container *ngIf="damageObs.DamagePosition">
      <ion-label>{{ damageObs.DamagePosition.Latitude | number:'0.3'
        }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}},
        {{ damageObs.DamagePosition.Longitude | number:'0.3'
        }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}}</ion-label>
    </ng-container>
  </ion-item>
  <ion-item class="no-min-height">
    <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.WATER.DAMAGE.IMAGE_OF_DAMAGES' |
      translate}}</ion-label>
  </ion-item>
  <app-add-picture-item icon="add-circle-outline" iconColor="primary" [(images)]="damageObs.Pictures" [registrationTid]="registrationTid"></app-add-picture-item>
</ion-list>