<ion-list lines="full">
        <!-- <app-kdv-icon-select 
        title="REGISTRATION.SNOW.SNOW_SURFACE.SKI_CONDITIONS" 
        kdvKey="Snow_SkiConditionsKDV"
        [(value)]="draft.registration.SnowSurfaceObservation.SkiConditionsTID"
        (valueChange)="save()"
        [filter]="filterSnowSurfaceTIDs">
        </app-kdv-icon-select> -->
      
        <app-kdv-icon-select 
        title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_SURFACE" 
        kdvKey="Snow_SnowSurfaceKDV"
        [(value)]="draft.registration.SnowSurfaceObservation.SnowSurfaceTID"
        (valueChange)="save()"
        [filter]="filterSnowSurfaceTIDs">
        </app-kdv-icon-select>

        <app-edit-images
        [registrationTid]="22"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
      ></app-edit-images>

      <app-kdv-icon-select 
      title="REGISTRATION.DANGER_OBS.TITLE" 
      kdvKey="Snow_DangerSignKDV"
      [(value)]="dangerSignTIDs"
      (valueChange)="save()"
      multiSelect="true"
      [filter]="filterDangerSignTIDs">
      </app-kdv-icon-select>

        <app-edit-images
        [registrationTid]="13"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
      ></app-edit-images>

      <div class="inline numeric-side-by-side">
        <app-numeric-input
          [(value)]="draft.registration.SnowSurfaceObservation.NewSnowDepth24"
          title="REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_DEPTH"
          [min]="0"
          [max]="999"
          [decimalPlaces]="0"
          [convertRatio]="100"
          placeholder="&nbsp;"
          suffix="cm"
          simpleObsMode="true"
          (valueChange)="save()"
        ></app-numeric-input>

        <app-numeric-input
          [(value)]="draft.registration.SnowSurfaceObservation.SnowDepth"
          title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DEPTH"
          [min]="0"
          [max]="9999"
          [decimalPlaces]="0"
          [convertRatio]="100"
          suffix="cm"
          simpleObsMode="true"
          (valueChange)="save()"
        ></app-numeric-input>
      </div>


</ion-list>