<ion-list lines="full">
  <app-kdv-icon-select
    title="REGISTRATION.SNOW.SNOW_SURFACE.SKI_CONDITIONS"
    kdvKey="Snow_SkiConditionsKDV"
    [(value)]="snowSurfaceObservation.SkiConditionsTID"
    (valueChange)="save()"
    [filter]="filterSnowSurfaceTIDs"
  >
  </app-kdv-icon-select>

  <app-kdv-icon-select
    title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_SURFACE"
    kdvKey="Snow_SnowSurfaceKDV"
    [(value)]="snowSurfaceObservation.SnowSurfaceTID"
    (valueChange)="save()"
    [filter]="filterSnowSurfaceTIDs"
  >
  </app-kdv-icon-select>
  <app-edit-images-bar
    [draft]="draft"
    [registrationTid]="22"
    modalTitlePostfix="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_SURFACE"
  ></app-edit-images-bar>

  <app-kdv-icon-select
    title="REGISTRATION.DANGER_OBS.TITLE"
    kdvKey="Snow_DangerSignKDV"
    [(value)]="dangerSignTIDs"
    (valueChange)="save()"
    multiSelect="true"
    [filter]="filterDangerSignTIDs"
  >
  </app-kdv-icon-select>

  <app-edit-images-bar
    [draft]="draft"
    [registrationTid]="13"
    modalTitlePostfix="REGISTRATION.DANGER_OBS.TITLE"
  ></app-edit-images-bar>

  <div class="inline numeric-side-by-side">
    <app-numeric-input
      [(value)]="snowSurfaceObservation.NewSnowDepth24"
      labelTitle="REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_DEPTH"
      [min]="0"
      [max]="999"
      [decimalPlaces]="0"
      [convertRatio]="100"
      placeholder="&nbsp;"
      suffix="cm"
      simpleObsMode="true"
      (valueChange)="save()"
    ></app-numeric-input>

    <app-numeric-input
      [(value)]="snowSurfaceObservation.SnowDepth"
      labelTitle="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DEPTH"
      [min]="0"
      [max]="9999"
      [decimalPlaces]="0"
      [convertRatio]="100"
      placeholder="&nbsp;"
      suffix="cm"
      simpleObsMode="true"
      (valueChange)="save()"
    ></app-numeric-input>
  </div>
</ion-list>
