<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{'REGISTRATION.OVERVIEW.TITLE' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registrationViewModel$ | async as registration">
  <div lang="no" *ngIf="registration.reg">
    <varsom-observation [json]="registration.reg"></varsom-observation>
  </div>

  <app-observation-list-card *ngIf="registration.reg" [obs]="registration.reg"></app-observation-list-card>

  <ion-card *ngIf="!registration.reg">
    <ion-card-header>
      <ion-card-title>Fant ikke observasjonen.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Det kan være den er slettet fra regobs eller at id-en til observasjonen er ugyldig.</p>

      <div *ngIf="registration.err">
        <p>Feilmelding:</p>
        <pre>{{ registration.err.message }}</pre>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
