/**
 * NB! Denne componenten / siden deler også noen stiler med observation.component.ts.
 * Se src/app/components/observation/common-styles.css
 */

:host {
  --padding: 32px;
}

ion-content {
  --padding-bottom: env(safe-area-inset-bottom);
}

.content-wrapper-full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: var(--desktop-max-width, 960px);
  background: white;
}

.metadata {
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
}

.map {
  height: 256px;
}

app-registration-view {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
