<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.OVERVIEW.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registrationViewModel$ | async as registration">
  <ng-container *ngIf="editMode$ | async as editMode">
    <span *ngIf="editMode === 'EDIT_AS_MODERATOR'">
      {{ "RegistrationDetail.EditInfoAsModerator" | translate }}
    </span>
    <span *ngIf="editMode === 'EDIT_OWN_REGISTRATION'">
      {{ "RegistrationDetail.EditInfo" | translate }}
    </span>
    <ion-button (click)=editRegistration(registration)>Edit registration</ion-button>
  </ng-container>
  <app-observation-list-card [obs]="registration"></app-observation-list-card>
</ion-content>