<ion-list-header color="light" no-margin>
  {{'MENU.MAP_SETTINGS_FOR' | translate}} {{ ('GEO_HAZARDS.' +geoHazardName) | uppercase | translate }}
</ion-list-header>
<ng-container *ngFor="let supportTile of supportTiles">
  <ng-container *ngIf="supportTile.geoHazardId === currentGeoHazard">
    <ion-item>
      <ion-label>
        {{'MENU.SHOW' | translate}} {{'SUPPORT_MAP.' +supportTile.description | translate | lowercase }}
      </ion-label>
      <ion-toggle [checked]="supportTile.enabled" [(ngModel)]="supportTile.enabled" (ionChange)="onTileChanged(supportTile)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="supportTile.enabled">
      <ion-label position="stacked">{{'MENU.OPACITY' | translate}}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="supportTile.opacity" (ionChange)="onTileChanged(supportTile)">
        <ion-select-option *ngFor="let option of opacityValues" [value]="option.value">{{ option.name | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list-header color="light" no-margin *ngIf="supportTile.enabled">
      <ion-label>
        {{'MENU.MAP_LEGENDS' | translate}}
      </ion-label>
    </ion-list-header>
    <ng-container *ngIf="supportTile.enabled" [ngTemplateOutlet]="legends[supportTile.name]"></ng-container>
  </ng-container>
</ng-container>
<ng-template #steepness>
  <ion-item>
    <ion-label text-wrap>
      <p>{{'SUPPORT_MAP.STEEPNESS_COLOR_INFO'|translate}}. <br />{{'SUPPORT_MAP.IN_DEGREES'|translate}}:</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img class="tile-legend-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADpJREFUOI1jYaAyYKGlgf+pYB4jigtVSsg36U4PhKapl0cNHDVw1MBRA7EbCCuCyASM6AYyUmQcFAAA2w4Eu02XbecAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            27-30
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigv/U2AkIyOEpqmXRw0cNXDUwFEDsRsIK4LIBIzoBlJmHBQAAF8jA1XJU6ZXAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            30-35
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADlJREFUOI1jYaAyYKGlgf+pYB4jigv/r6TApHAITVMvjxo4auCogaMGYjcQVgSRCRjRDWSkyDgoAAB8swOrTPh0KQAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            35-40
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADlJREFUOI1jYaAyYKGlgf+pYB4jigv/h1Jg0moITVMvjxo4auCogaMGYjcQVgSRCRjRDWSkyDgoAACZkwP/r1UNTQAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            40-45
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigufUWCSFJSmqZdHDRw1cNTAUQOxGyiFSxVxgBHdQEbKzIMAABQxAm3yqYmFAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            45-50
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADhJREFUOI1jYaAyYKGlgf+pYB4jigtLKDCpB0rT1MujBo4aOGrgqIHYDezBpYo4wIhuICNl5kEAADvTAt94zGSEAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            > 50
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #weakenedice>
  <ion-item>
    <ion-label text-wrap>
      <p>{{'SUPPORT_MAP.ICE_MAP_DESCRIPTION'|translate}}</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADpJREFUOI1jYaAyYIFQ//9TxzhGRhbqGIQAaAYyMpJnDMKHtHbhqIGjBo4aODwMpLxcpJULyS0HMQEAAT8GUWkdMN8AAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_1'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf8ZGP5TYhAjAwMjioHUAqMGjho4auCogXQ2EFaeUc1AagEAYH8CU17tvfIAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_2'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGlJREFUOI3t1MsJACEMBNBZSBXbf222oaeAJAqjo4eFzc0hPD8EDYfLroEFqCr2Ao/FoF8XoMYslvf4gaZXXsH6bAjuYkNQwRKoYglUsQSqGA2yGAWy70qB/2BTPR8bbOZPnPX4RhYDtRqLLD5RMLVW9QAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_3'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYBk1cNTAwWTgL2P2/5QYxHb2JyOKgdQCcANhNlDNQGqBUQNHDSQDAABtxwYe2RyxLgAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_4'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAD1JREFUOI1jYaAyYBk1cNRAygz8T6FZjCgGLnn/kSLTYgT5GVAMpBaAGwizgWoGMkDDgJoGUgWMGjgSDAQAY9kEzvceSB8AAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_5'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADtJREFUOI3t0MEJADAMQlGF7L+yvbSBnPXW/AGeYCFcLbigB8q0OEDJ80higKkafAsxEPeDJBhpwR/AAy3mBFXDMuqtAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_6'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI3t0LENADAIA0EisZ83omAjT5hUiUSNu/ADXPFu4nzAARsggN2BSK4CRkTHM5JWQFUPzEwteB/IQFUD/gAeu+ULeISIW6QAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.ICE_LEGEND_TEXT_7'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #floodzoones>
  <ion-item>
    <ion-label text-wrap>
      <p>{{'SUPPORT_MAP.ICE_MAP_DESCRIPTION'|translate}}</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExnjEw/KfEICkGBka4gZQaBjNDioGBkQVZEGYLOYbB2Cz4FJIDRg0cNXDUwGFoIDWKMRYGBkixRdUCFlmAUgAAtX8MUWjJcMsAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_1'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExns1k+E+JQVLpDIxwAyk1DGaGVDoDIwuyIMwWcgyDsVnwKSQHjBo4auCogcPQQGoUYywMDJBii6oFLLIApQAA9CQSUSl++5QAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_2'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExVjAw/KfEoAgGBka4gZQaBjMjgoGBkQVZEGYLOYbB2Cz4FJIDRg0cNXDUwGFoIDWKMRYGBkixRdUCFlmAUgAAQuQMUQvlxYsAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_3'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFpJREFUOI1jYaAyYIExnjEw/MelSIqBgZGQPIaBlACYZVIMDIws6ALEuAKXgVRzITIYNXCQGIiRDvElCWIAWemQWDA4w3DUQASgRpmIkg7xaSDLhYTSITHpFAAHhBS9fDWHWwAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_4'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEJJREFUOI1jYaAyYKGdgb4r/lNs2uYIRhQXTu/3ItuszMJtDAwMNPXyqIGjBo4aOGogLgNhRRBZYHMEI6qBUAFKAQDn3Qn5K8ZpUQAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_6'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>
        {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_YEAR'|translate}}:
      </p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgfte/P9PiUFOEoyMKAZSC4waOGrgqIGjBtLZQFh5RjUDqQUAz1QEreCHgOkAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_5'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgSXn//+nxKAeQ0ZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIA8aYFEC0jhBwAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_7'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgdP+/6fIpCxGRlQDqQRGDRw1cNTAUQPpbSC0PKOegVQCACtHA722vKj4AAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_8'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgdHP/lNk0lIpRlQDqQRGDRw1cNTAUQPpbSC0PKOegVQCAEgOBBHrbs3dAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_9'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgSol/yky6U4PI6qBVAKjBo4aOGrgqIH0NhBanlHPQCoBAIG0BLocdyqFAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_10'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZga0MK/5TYlA1QwQjioHUAqMGjho4auCogXQ2EFaeUc1AagEAUCsEJep8d6kAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_11'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgUcZ/v+nxCBrBkZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAHFoDju+MrFoAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_12'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf/r6/9TYhBjYyMjioHUAqMGjho4auCogXQ2EFaeUc1AagEACGIFVcABtIoAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_13'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
</ng-template>
<ng-template #clayzones>
  <ion-item>
    <ion-label text-wrap>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAPJJREFUOI1jYaAyYBk1cOgZyNkitCZa+quS7l+G398vMRzdP+ln0U6yDDRnCBPOYahdrPROxxMmpspgmCvPrtlf/NOzhmQDkxkK65UYEIZBFLNymfx0Lq1imHuqjSF5E0kGCrGLuzD8xKaBlU2NwciTgYGBNAOZfjLz4ZJjEWLhY3iHQw6Xph/s324x/GSQxib38eu7mzgtwyXx4ueTHiEGcQteBkFOZPHHDLev3/x5rI9kA4sYXLdNZjgQKcYuVcf+k0vnP8O/b5/Z3x988PNe3iSGyi8kG8jAwMCQy+CwkeEnw0a4AJZIIslAcsCogZQDADtZRA3CbXJoAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_1'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIdJREFUOI211NENgCAMBFCaMAhDMgZDskn5kiBci7TIn+b6rMlpDJdP/BPkCx69NqyZQypEKFkz9wcKGZ437INoIBWiB5UyEPSi8XRgl1k29KLwlY2oDFpQdUMPuv1SvqJB6qEVhRtqYXOxvSgstgcVi21F1WIfohAcf1HLPYCOlzSDYhVOTgM80cZWbNLXegAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_2'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFlJREFUOI3tlMEKACAIQyf4/79spyAUSbOgg962w2NOkHF5+BlQAKnCCCDWxilsBjIrCyArOKsNUKfMavco2WRbYDaZC+wOw9oFdodh7QL/7rDyEyeYtVGdASmgOIUrOvuWAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_3'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADJJREFUOI1jYaAyYBk1cNTAwWXg//+4lTEyovKxqYWooaUL0V2BD+BWO6QiZdTAYWsgAIFsBFXO3k8bAAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_4'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{'SUPPORT_MAP.CLAY_DANGER_ZONE'|translate}}:</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAHhJREFUOI210ksOwCAIBFBIuP+V6cYaItPKR2enwZcxQehw5CaoBzxeG7LRdVwwfURNiXcIfrmAMY2zA4vYjKDBKgYbdjAHdjHYsIOFwAy2BaOYEunvHmaxbcMsFlrsJIYbdjHYsINBsIM5kOc7HKOgGV7B7dJG8gD5VDVWrqAQVAAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.HIGH'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIFJREFUOI211EEOwCAIBEBI/GPf6CvpoWgTwAJiOTab6RqJDQ5P+xOkAx7Khjj1/vwAr/ebnJHhnGqoggkMgU+owE1sTrOCu5jZsIIpsIqZDStYCMxgLhjFqAN97mEWcxtmsdBiJzG7YRUzG1YwE6xgCuSrX76LYzUWGZSgu7SRuQHuVU8J5MIeKgAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.MIDDLE'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIBJREFUOI211MENwCAMA0BbYmTG6M7pB3iQUBJC87ZOrmpRcPnKn6Bc8Dg35NClCgCQD7G4nmk51VAFAxjRvlCBh9i4YgVPMbNhBlNgFjMbZjAXGMG2oBcTqfK5wyi2bRjFXMMOYnbDLGY2zGAmmMEU2H798l3s01hkOIPb0XruBcqZaBfEUN04AAAAAElFTkSuQmCC" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.LOW'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{'SUPPORT_MAP.CAUTION_AREA'|translate}}:</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADpJREFUOI1jYaAyYKGlgf+pYB4jigtLVMg3qecOhKapl0cNHDVw1MBRA7EbCCuCyASM6AYyUmQcFAAA2r4Eu4YBFUkAAAAASUVORK5CYII=" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_8'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGBJREFUOI1jYaAyYKGZgSUqDP8pNaznDgMjC7oAuYbBHETQyzCFuCxD9xntwhAXIBQMMHmivUwqwDCQ2DDDJU97FxIbZkQbSCkYTYeUgyGWDpFjjFD5iC4PczELugClAAC0+S663TRkhAAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_9'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{'SUPPORT_MAP.MARITINE_BORDER'|translate}}:</p>
      <ion-grid>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABtJREFUOI1jYaAyYBk1cNTAUQNHDRw1cKQaCAAQKwBR5g8A3AAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_5'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGNJREFUOI3dkjEKACAMAxX8le/3XbpKMEXTomCmLh7p1ZKCU+4AW++p5hwHFGEciJkbs/kIOD9iMwU6/K2BxjoaEMEI/9ihG4jNdryZDrHZjrf3DoW17W8jrM2PIoYfxQ0MygBTsERSNt9GdAAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_6'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" no-padding>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFRJREFUOI1jYaAyYBk1kGHfi///GRgYGJwkGBmxaSAkT3sX4rKZWHn6RwqhMCPZQFIBQQNJje3Bk7AHLh2SGqsEDaQUEJ1TcLkcXXzgYhmXy2meDgFJ/R7VSV9q1AAAAABJRU5ErkJggg==" />
          </ion-col>
          <ion-col size="auto" no-padding>
            {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_7'|translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-item>
</ng-template>