.list-end-info {
  margin-top: 32px;
  display: flex;
  gap: 4px;
  align-items: flex-start;
  align-self: center;
  justify-content: center;
  color: var(--ion-background-color-step-850);
  ion-icon {
    font-size: 1.5rem;
  }
  p {
    margin: 0;
  }
}
