.map-item-bar {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: var(--z-index-over-map);

    ion-col, h5 {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .img-wrapper {
        position: absolute;
        left: 5px;
        width: auto;
        height: auto;
        width: 22vh;
        height: 14vh;
        bottom: 102px;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;

        &.full {
            left: 0px;
            bottom: 97px;
            width: 100%;
            max-width: none;
        }

        app-img-swiper {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: left;
            width: 100%;
            height: 100%;
        }
    }
}