@import "../../../global.scss";
.map-item-bar {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: $z-index-over-map;

    ion-col, h5 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}