.map-item-bar {
  --img-wrapper-height: 22vh;
  --img-wrapper-width: 30vh;
  --img-wrapper-height-desktop: 18vh;
  --img-size: 100px;

  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: var(--z-index-over-map);

  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image {
    position: relative;
    height: var(--img-size);

    img {
      width: var(--img-size);
      height: var(--img-size);
      object-fit: cover;
    }

    &-count {
      position: absolute;
      display: flex;
      width: 32px;
      height: 32px;
      top: 8px;
      right: 9px;
      background: var(--images-overflow-background);
      color: var(--ion-text-color);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
    }

    &-show {
      max-width: 400px;
    }

    &-show-not {
      max-width: 90vw;
    }
  }

  .card-icon-item {
    display: inline-block;
    padding-right: 16px;
    line-height: normal;

    ion-label,
    app-competence {
      position: relative;
      bottom: 2px;
    }

    .card-icon-item-icon {
      margin-right: 5px;
    }
  }

  @media only screen and (max-width: 500px) {
    .image-show {
      max-width: 200px;
    }
    ion-col {
      padding: 3px;
    }
  }
}
