<div class="map-item-bar" (click)="navigateToItem()" *ngIf="visible">
  <ion-grid text-wrap>
    <ion-row>
      <ion-col>
        {{topHeader}}
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 no-margin text-nowrap>{{title}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" text-nowrap>
        {{name}}
      </ion-col>
      <ion-col text-right text-nowrap>
        {{distanceAndType}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="light">
      <app-geo-icon [geoHazard]="geoHazard"></app-geo-icon>
    </ion-fab-button>
  </ion-fab>
  <img *ngIf="imageUrl" [src]="imageUrl" />
</div>