<div class="map-item-bar" (click)="navigateToItem()" *ngIf="visible">
  <ion-grid text-wrap>
    <ion-row>
      <ion-col>
        <div class="card-icon-item">
          <svg-icon class="card-icon-item-icon" src="/assets/icon/time.svg" [svgStyle]="{'width.px':15, 'height.px':15  }"></svg-icon>
          {{ topHeader | formatDate | async }}
        </div>
        <div class="card-icon-item" *ngIf="masl">
          <svg-icon class="card-icon-item-icon" src="/assets/icon/moh.svg" [svgStyle]="{'width.px':15, 'height.px':15  }"></svg-icon>
          {{ masl }} {{'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 no-margin text-nowrap>{{title}}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="card-icon-item">
          <svg-icon class="card-icon-item-icon" src="/assets/icon/user.svg" [svgStyle]="{'width.px':15, 'height.px':15  }"></svg-icon>
          {{name}}
        </div>
        <div class="card-icon-item">
          <div class="card-icon-item-icon stars">
            <ng-container *ngFor="let star of stars">
              <svg-icon *ngIf="star.full" src="/assets/icon/star-selected.svg" [svgStyle]="{'width.px':8.34, 'height.px':8  }"></svg-icon>
              <svg-icon *ngIf="!star.full" src="/assets/icon/star-empty.svg" [svgStyle]="{'width.px':8.34, 'height.px':8  }"></svg-icon>
            </ng-container>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="img-wrapper" *ngIf="imageUrls.length > 0" [ngClass]="{'full': imageUrls.length > 1 }">
    <app-img-swiper [showLabels]="false" [imgUrl]="imageUrls"></app-img-swiper>
  </div>
</div>