.map-controls {
    position: relative;
    top: 10px;
    right: 0px;
    z-index: 900;
    display: flex;
    flex-direction: column;

    &.fullscreen {
        top: calc(10px + var(--ion-safe-area-top,0px));
    }
}