.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.title {
  span {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
.items {
  font-size: 0.8rem;
  font-weight: 400;
}
