<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'REGISTRATION.DANGER_OBS.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label>
        {{ 'REGISTRATION.DANGER_OBS.TITLE' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="noDangerObs"></ion-checkbox>
      <ion-label>{{ 'REGISTRATION.DANGER_OBS.NO_DAMAGE_SIGN' | translate}}</ion-label>
    </ion-item>
    <app-kdv-dropdown (valueChange)="dropdownChanged($event)" title="REGISTRATION.DANGER_OBS.TITLE" *ngIf="!noDangerObs"
      hideZeroValues="true" kdvKey="{{ GeoHazardName }}_DangerSignKDV" [(value)]="dangerSignTid">
    </app-kdv-dropdown>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.DANGER_OBS.AREA' | translate}}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="tmpArea" [interfaceOptions]="interfaceOptions"
        interface="action-sheet">
        <ion-select-option [value]="area" *ngFor="let area of areaArr">
          {{ area }}</ion-select-option>
      </ion-select>
    </ion-item>
    <app-text-comment [(value)]="comment" title="REGISTRATION.DANGER_OBS.COMMENT" rows="2" placeholder="REGISTRATION.DANGER_OBS.COMMENT_PLACEHOLDER"></app-text-comment>
  </ion-list>
  <app-modal-save-or-delete-buttons (saveClicked)="ok()" (deleteClicked)="delete()" [showDelete]="dangerObs">
  </app-modal-save-or-delete-buttons>
</ion-content>