<ion-header>
  <ion-toolbar appHeaderColor>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ "DIALOGS.CANCEL" | translate }}</ion-button>
    </ion-buttons>
    <ion-title> {{ "REGISTRATION.DANGER_OBS.TITLE" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header class="ion-text-uppercase">
      <ion-label> {{ "REGISTRATION.DANGER_OBS.TITLE" | translate }} </ion-label>
    </ion-list-header>
    <ion-item *ngIf="showNoDangerSignCheckbox()">
      <ion-checkbox slot="start" [checked]="isNoDangerSign()" labelPlacement="end" (ionChange)="toggleNoDangerSign()">
        {{ "REGISTRATION.DANGER_OBS.NO_DAMAGE_SIGN" | translate }}
      </ion-checkbox>
    </ion-item>
    <app-kdv-select
      label="REGISTRATION.DANGER_OBS.DROPDOWN_TITLE"
      *ngIf="showDangerSignSelect()"
      [kdvKey]="kdvKey()"
      [(value)]="dangerSignTid"
      [showResetButton]="false"
    >
    </app-kdv-select>
    <ion-item>
      <app-select
        label="{{ 'REGISTRATION.DANGER_OBS.AREA' | translate }}"
        [(selectedValue)]="area"
        [options]="areaOptions()"
      ></app-select>
    </ion-item>
    <app-text-comment
      [(value)]="comment"
      label="REGISTRATION.DANGER_OBS.COMMENT"
      [rows]="2"
      placeholder="REGISTRATION.DANGER_OBS.COMMENT_PLACEHOLDER"
    ></app-text-comment>
  </ion-list>
  <app-modal-save-or-delete-buttons
    [saveDisabled]="dangerSignTid() == null"
    (saveClicked)="ok()"
    (deleteClicked)="delete()"
    [showDelete]="!!dangerObs()"
  >
  </app-modal-save-or-delete-buttons>
</ion-content>
