ion-toolbar {
    --ion-text-color: #fff;
    &.trip-running {
        --background: #57AB01;
    }
    &.prod {
        --background: var(--ion-color-varsom-blue);
    }
    &.demo {
        --background: var(--ion-color-danger);
    }
    &.test {
        --background: var(--ion-color-primary);
    }
}