ion-toolbar {
    --ion-text-color: #fff;
    &.trip-running {
        --background: var(--ion-color-success);
    }
    &.prod {
        --background: var(--ion-color-varsom-blue);
    }
    &.demo {
        --background: #8b0000;
    }
    &.test {
        --background: var(--ion-color-varsom-grey);
    }
}