<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.WATER.DAMAGE.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.WATER.DAMAGE.CAN_YOU_SEE_DAMAGE' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-radio-group (ionChange)="onChange($event)">
      <ion-item [ngClass]="{'selected': checked === true}" (click)="checkedChanged(true)">
        <ion-label>{{ 'DIALOGS.YES' | translate }}</ion-label>
        <ion-radio mode="md" slot="start" [value]="true" [checked]="checked === true"></ion-radio>
      </ion-item>
      <ion-item [ngClass]="{'selected': checked === false}" (click)="checkedChanged(false)">
        <ion-label>{{ 'DIALOGS.NO' | translate }}</ion-label>
        <ion-radio mode="md" slot="start" [value]="false" [checked]="checked === false"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ng-container *ngIf="checked">
      <ion-list-header text-uppercase>
        <ion-label no-margin>
          <h3>{{ 'REGISTRATION.WATER.DAMAGE.WHAT_IS_DAMAGED' | translate }}</h3>
        </ion-label>
      </ion-list-header>
      <app-damage-obs *ngFor="let damageType of damageTypes" [(registration)]="registration" [damageTypeId]="damageType.Id"
        [damageTypeName]="damageType.Name">
      </app-damage-obs>
    </ng-container>
  </ion-list>
  <app-navigation-buttons previousUrl="registration/water/water-level" previousText="REGISTRATION.WATER.WATER_LEVEL.TITLE"
    nextUrl="registration/general-comment" nextText="REGISTRATION.GENERAL_COMMENT.TITLE"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [isEmpty]="isEmpty()" (reset)="reset()"></app-save-and-go-back-button>