<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.INCIDENT.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registration">
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label>
        {{ 'REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE' | translate}}
      </ion-label>
    </ion-list-header>
    <app-text-comment [(value)]="registration.request.Incident.IncidentText" placeholder="{{'REGISTRATION.INCIDENT.COMMENT_PLACEHOLDER' | translate }}"></app-text-comment>
    <app-kdv-dropdown title="REGISTRATION.INCIDENT.ACTIVITY" kdvKey="{{ geoHazardName }}_ActivityInfluencedKDV"
      [(value)]="registration.request.Incident.ActivityInfluencedTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.INCIDENT.DAMAGE_EXTENT" kdvKey="DamageExtentKDV" [(value)]="registration.request.Incident.DamageExtentTID"></app-kdv-dropdown>
    <ion-list-header text-uppercase>
      <ion-label>
        {{ 'REGISTRATION.ADD_IMAGES' | translate}}
      </ion-label>
    </ion-list-header>
    <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
    <ion-list-header text-uppercase>
      <ion-label>
        {{ 'REGISTRATION.ADD_WEB_URL.TITLE' | translate}}
      </ion-label>
    </ion-list-header>
    <app-add-web-url-item [(weburls)]="registration.request.Incident.IncidentURLs"></app-add-web-url-item>
  </ion-list>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>