<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.INCIDENT.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="draft && incident" [draft]="draft"
                                    [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list>
      <app-kdv-select title="REGISTRATION.INCIDENT.ACTIVITY" kdvKey="Ice_ActivityInfluencedKDV"
                      [(value)]="incident.ActivityInfluencedTID"></app-kdv-select>
      <app-numeric-input title="REGISTRATION.ICE.INCIDENT.INVOLVED_NUM"
                         [(value)]="incident.InvolvedNum"></app-numeric-input>
      <app-numeric-input title="REGISTRATION.ICE.INCIDENT.CASUALTIES_NUM"
                         [(value)]="incident.CasualtiesNum"></app-numeric-input>
      <app-numeric-input title="REGISTRATION.INCIDENT.DEAD_NUM" [(value)]="incident.DeadNum"></app-numeric-input>
      <app-kdv-select title="REGISTRATION.INCIDENT.RESCUE_TID" kdvKey="RescueKDV"
                      [(value)]="incident.RescueTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.ICE.INCIDENT.SAFETY_GEAR_TID" kdvKey="Ice_SafetyGearKDV"
                      [(value)]="incident.SafetyGearTID"></app-kdv-select>
      <app-text-comment title="REGISTRATION.INCIDENT.COMMENT" [(value)]="incident.Comment"></app-text-comment>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-edit-images
        [registrationTid]="registrationTid"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
        [onBeforeAdd]="getSaveFunc()"
      ></app-edit-images>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>