<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.INCIDENT.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="draft && incident" [draft]="draft"
                                    [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list>
      <app-incident-component [incident]="incident"
                              [geoHazard]="draft.registration.GeoHazardTID"></app-incident-component>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-edit-images
        [registrationTid]="registrationTid"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
        [onBeforeAdd]="getSaveFunc()"
      ></app-edit-images>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>