.simple-mode-title {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  transform: translateY(50%) scale(1);
}

.simple-mode-sub {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
.no-white-space-wrap {
  white-space: normal;
}
