<ion-item
  class="hide-detail-icon"
  detail="false"
  button="true"
  tabindex="0"
  (click)="openPicker()"
  (keyup.enter)="openPicker()"
>
  @if (label(); as label) {
    <ion-label
      [color]="colorWithValidation()"
      position="stacked"
      class="no-white-space-wrap"
      [ngClass]="{ 'ion-text-uppercase': !simpleObsMode(), 'simple-mode-title ion-label-fat': simpleObsMode() }"
    >
      {{ label | translate }} {{ isValid() == false ? "(" + (errorMessage() | translate) + ")" : null }}
    </ion-label>
  }

  <ion-text
    class="ion-align-self-start"
    [class]="{ 'simple-mode-sub': simpleObsMode() }"
    [color]="colorWithValidation()"
  >
    {{ valueOrPlaceholder() | translate }}
  </ion-text>
</ion-item>
