<ion-header *ngIf="!(fullscreen$ | async)">
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.OBS_LOCATION.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-set-location-in-map *ngIf="isLoaded" [geoHazard]="geoHazard" [locationMarker]="locationMarker"
    (locationTimeSet)="onLocationTimeSet($event)" [selectedLocation]="selectedLocation"
    [allowEditLocationName]="true" [setObsTime]="true" [localDate]="draft?.registration?.DtObsTime">
  </app-set-location-in-map>
</ion-content>