<ion-header *ngIf="!(fullscreen$ | async)">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.OBS_LOCATION.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-set-location-in-map *ngIf="isLoaded" [geoHazard]="geoHazard" [locationMarker]="locationMarker" (locationSet)="onLocationSet($event)"
    [selectedLocation]="selectedLocation" [canEditLocationName]="true">
  </app-set-location-in-map>
</ion-content>