<div class="images">
  <!-- Existing attachments -->
  @for (attachment of filteredExistingImages; track trackExisting($index, attachment)) {
    <div class="image-wrapper">
      <app-remote-image
        [attachment]="attachment"
        preferSize="Large"
        [withFallbackText]="true"
        [largeFallback]="true"
      ></app-remote-image>
      <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
        <!-- TODO: Remove map-control-fab from this component, has nothing to do here... -->
        <ion-fab-button size="small" color="dark" class="map-control-fab" (click)="removeExistingImage(attachment)">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-text-comment
        [(value)]="attachment.Comment"
        label="{{ pictureCommentText() | translate }}"
        [rows]="2"
        placeholder="{{ pictureCommentPlaceholder() | translate }}"
      ></app-text-comment>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" class="accordion-button">
            <ion-label>{{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.SHOW_MORE" | translate }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-select
              label="REGISTRATION.IMAGE_ASPECT"
              [selectedValue]="getRoundedDownOrientationValue(attachment.Aspect)"
              [options]="aspectOptions"
              (selectedValueChange)="updateExistingAttachmentAspect(attachment, $event)"
            ></app-select>
            <ion-item>
              <ion-input
                [value]="attachment.Photographer || userSettings()?.photographer"
                (ionChange)="updateExistingAttachmentPhotographer(attachment, $event)"
                [label]="('MY_PROFILE.PHOTOGRAPHER' | translate).toUpperCase()"
                labelPlacement="stacked"
                [placeholder]="'MY_PROFILE.PHOTOGRAPHER' | translate"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                [value]="attachment.Copyright || userSettings()?.copyright || myPage()?.NickName"
                (ionChange)="updateExistingAttachmentCopyright(attachment, $event)"
                [label]="('MY_PROFILE.COPYRIGHT' | translate).toUpperCase()"
                labelPlacement="stacked"
                [placeholder]="'MY_PROFILE.COPYRIGHT' | translate"
              >
              </ion-input>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  }

  <!-- New attachments -->
  @for (attachment of newAttachments$ | async; track trackNew($index, attachment)) {
    <div class="image-wrapper">
      <!-- <img [src]="convertFileSrc(image.PictureImageBase64)" /> -->
      <ro-blob-image [imgBlob]="attachment.blob!"></ro-blob-image>
      @if (attachment.state === "in-progress") {
        <div class="upload-progress">
          <ion-progress-bar
            [type]="attachment.progress === 0 ? 'indeterminate' : 'determinate'"
            [value]="attachment.progress"
          ></ion-progress-bar>
        </div>
      }
      <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
        <!-- TODO: Remove map-control-fab from this component, has nothing to do here... -->
        <ion-fab-button
          size="small"
          color="dark"
          class="map-control-fab"
          (click)="removeNewImage(attachment)"
          [disabled]="attachment.state === 'in-progress'"
        >
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <app-text-comment
        [value]="attachment.Comment"
        (blur)="setNewAttachmentComment(attachment, $event)"
        label="{{ pictureCommentText() | translate }}"
        [rows]="2"
        placeholder="{{ pictureCommentPlaceholder() | translate }}"
      ></app-text-comment>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" class="accordion-button">
            <ion-label>{{ "REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.SHOW_MORE" | translate }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
              <app-select
                label="REGISTRATION.IMAGE_ASPECT"
                [(selectedValue)]="attachment.Aspect"
                [options]="aspectOptions"
                (selectedValueChange)="addNewAttachmentAspect(attachment, $event)"
              ></app-select>
            </ion-item>
            <ion-item>
              <ion-input
                [value]="attachment.Photographer || userSettings()?.photographer"
                (ionBlur)="addNewAttachmentPhotographer(attachment, $event)"
                [label]="('MY_PROFILE.PHOTOGRAPHER' | translate).toUpperCase()"
                labelPlacement="stacked"
                [placeholder]="'MY_PROFILE.PHOTOGRAPHER' | translate"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                [value]="attachment.Copyright || userSettings()?.copyright || myPage()?.NickName"
                (ionBlur)="addNewAttachmentCopyright(attachment, $event)"
                [label]="('MY_PROFILE.COPYRIGHT' | translate).toUpperCase()"
                labelPlacement="stacked"
                [placeholder]="'MY_PROFILE.COPYRIGHT' | translate"
              >
              </ion-input>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  }
</div>

@if (isHybrid) {
  <ion-item (click)="addClick()">
    <ion-icon [color]="iconColor()" [name]="icon()" slot="start"></ion-icon>
    <ion-label>{{ title() | translate }}</ion-label>
  </ion-item>
}

@if (!isHybrid) {
  <ion-item class="file-drop">
    <ngx-file-drop
      style="width: 100%"
      dropZoneLabel="Drop files here"
      [accept]="accept"
      dropZoneClassName="drop-zone"
      (onFileDrop)="dropped($event)"
    >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button type="button" (click)="openFileSelector()">
          <ion-item
            [ngClass]="{ grey: aboutToDrop }"
            (dragenter)="aboutToDrop = true"
            (dragleave)="aboutToDrop = false"
          >
            <ion-icon [color]="iconColor()" [name]="icon()" slot="start"></ion-icon>
            <ion-label>{{ title() | translate }}</ion-label>
          </ion-item>
        </button>
      </ng-template>
    </ngx-file-drop>
  </ion-item>
}
