<div class="images">

  <!-- Existing attachments -->
  <div class="image-wrapper" *ngFor="let attachment of filteredExistingImages; trackBy: trackExisting">
    <app-remote-image [attachment]="attachment" preferSize="Large"></app-remote-image>
    <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button size="small" color="dark" class="map-control-fab" (click)="removeExistingImage(attachment)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-text-comment [(value)]="attachment.Comment" title="{{ pictureCommentText | translate}}" rows="2"
      placeholder="{{ pictureCommentPlaceholder | translate }}"></app-text-comment>
  </div>

  <!-- New attachments -->
  <div class="image-wrapper" *ngFor="let attachment of newAttachments$ | async; trackBy: trackNew">
    <!-- <img [src]="convertFileSrc(image.PictureImageBase64)" /> -->
    <ro-blob-image [imgBlob]="attachment.blob"></ro-blob-image>
    <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button size="small" color="dark" class="map-control-fab" (click)="removeNewImage(attachment)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- Har kommentert ut denne til vi finner en løsning på RO-1689 som ikke lugger-->
    <!--app-text-comment [(value)]="attachment.Comment" title="{{ pictureCommentText | translate}}" rows="2"
      placeholder="{{ pictureCommentPlaceholder | translate }}"></app-text-comment-->
  </div>

</div>
<ion-item (click)="addClick()">
  <ion-icon [color]="iconColor" [name]="icon" slot="start"></ion-icon>
  <ion-label>{{ title | translate }}</ion-label>
</ion-item>