<!-- Snøskredregioner -->
<div *ngIf="regions" slot="content">
  <ion-accordion>
    <ion-item slot="header" color="light">
      <app-selected-items-counter-label [selectedItemsCount]="nRegionsSelected()">
        {{ "OBSERVATION_FILTER.REGION.TITLE" | translate }}
      </app-selected-items-counter-label>
      <div class="selectedRegionNames">{{ selectedRegionNames() }}</div>
    </ion-item>
    <div slot="content">
      <ion-item slot="header">{{ "OBSERVATION_FILTER.REGION.SHORTCUTS_TITLE" | translate }}</ion-item>
      @for (shortcut of shortcuts(); track shortcut) {
        <ion-button (click)="shortcutClicked(shortcut)">
          {{ shortcut }}
        </ion-button>
      }
      <ion-list lines="none">
        <ion-item slot="header">{{ "OBSERVATION_FILTER.REGION.A_REGIONS_TITLE" | translate }}</ion-item>
        @for (region of aRegions(); track region.id) {
          <ion-item>
            <ion-checkbox
              [value]="region"
              [checked]="region.checked"
              (ionChange)="regionCheckBoxChanged($event)"
              labelPlacement="end"
              justify="start"
            >
              {{ region.name }}
            </ion-checkbox>
          </ion-item>
        }
      </ion-list>
      <ion-list lines="none">
        <ion-item slot="header">{{ "OBSERVATION_FILTER.REGION.B_REGIONS_TITLE" | translate }}</ion-item>
        @for (region of bRegions(); track region.id) {
          <ion-item>
            <ion-checkbox
              [value]="region"
              [checked]="region.checked"
              (ionChange)="regionCheckBoxChanged($event)"
              labelPlacement="end"
              justify="start"
            >
              {{ region.name }}
            </ion-checkbox>
          </ion-item>
        }
      </ion-list>
    </div>
  </ion-accordion>
</div>
