<ion-item>
  <ion-label color="dark" position="stacked">{{'MENU.UPDATE_OBSERVATIONS' | translate}}</ion-label>
  <ion-input readonly *ngIf="lastUpdated && !isLoading"
    value="{{ lastUpdated | date:settings.dateFormats.angular.dateAndTime }}">
  </ion-input>
  <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
  <ion-button size="small" fill="clear" *ngIf="!isLoading" slot="end" (click)="updateObservations()">
    <svg-icon src="/assets/icon/refresh.svg"></svg-icon>
  </ion-button>
  <ion-button size="small" fill="clear" *ngIf="isLoading" slot="end" (click)="cancel()">
    {{'DIALOGS.CANCEL' | translate}}
  </ion-button>
</ion-item>