.analysis-color-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 12px;

  &--danger {
    background-color: #000;
  }

  &--avalanche {
    background-color: #d9322a;
  }
}

.analysis-date-hint {
  font-size: 0.85em;
  color: var(--ion-color-medium);
}
