<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"VARSOM.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header *ngIf="regions">
      <ion-label>Gjeldende kartutsnitt</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let region of regionSummary | async">
      <ion-item *ngIf="!regions || regions.indexOf(region.Name)>=0">
        <ion-label>{{region.Name}}</ion-label>
      </ion-item>
    </ng-container>
    <ion-list-header>
      <ion-label>Andre regioner</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let region of regionSummary | async">
      <ion-item *ngIf="!regions || regions.indexOf(region.Name)<0">
        <ion-label>{{region.Name}}</ion-label>
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>