<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.AVALANCHE_OBS.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.AvalancheObs && registration.request.Incident"
    [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.SNOW.AVALANCHE_OBS.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item [ngClass]="{'hasWarning': dateIsDifferentThanObsTime}">
        <ion-label [color]="(!registration.request.AvalancheObs.DtAvalancheTime && showWarning) ? 'danger' : 'medium'"
          position="stacked" text-uppercase>{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.TIME' | translate }}</ion-label>
        <ion-datetime color="medium" monthShortNames="{{ 'MONTHS.SHORT_LIST' | translate }}" doneText="{{'DIALOGS.OK' | translate}}"
          cancelText="{{'DIALOGS.CANCEL' | translate}}" display-format="D. MMM, YYYY HH:mm" [(ngModel)]="registration.request.AvalancheObs.DtAvalancheTime"
          [max]="maxDate">
        </ion-datetime>
        <ion-button class="set-to-now-button" slot="end" fill="outline" color="medium" (click)="setAvalancheTimeTimeToNow()">
          <ion-icon slot="start" name="time"></ion-icon> {{"REGISTRATION.SET_TIME.NOW" | translate}}
        </ion-button>
      </ion-item>
      <ion-item *ngIf="dateIsDifferentThanObsTime">
        <ion-label color="danger" text-wrap>
          {{'ALERT.WARNING' | translate}}! {{'REGISTRATION.SNOW.AVALANCHE_ACTIVITY.DATE_WARNING' | translate}}
        </ion-label>
      </ion-item>
      <ion-item class="no-border no-min-height">
        <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.AVALANCHE_OBS.POSITION' |
          translate}}</ion-label>
      </ion-item>
      <ion-item detail="true" (click)="setAvalanchePosition()">
        <ion-icon color="meduim" name="pin" slot="start"></ion-icon>
        <ion-label *ngIf="!registration.request.AvalancheObs.StartLat">{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.SET_AVALANCHE_POSITION' | translate }} {{
          'REGISTRATION.DIRT.LAND_SLIDE_OBS.IN_MAP' | translate }}</ion-label>
        <ion-label text-wrap *ngIf="registration.request.AvalancheObs.StartLat">{{
          registration.request.AvalancheObs.StartLat |
          number:'0.3'
          }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}},
          {{ registration.request.AvalancheObs.StartLong | number:'0.3'
          }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}} - {{ registration.request.AvalancheObs.StopLat |
          number:'0.3'
          }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}},
          {{ registration.request.AvalancheObs.StopLong | number:'0.3'
          }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="medium" position="stacked" text-uppercase>{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.VALID_EXPOSITION'
          | translate}}</ion-label>
        <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="registration.request.AvalancheObs.ValidExposition"
          interface="action-sheet">
          <ng-container *ngFor="let expo of expoArray">
            <ion-select-option [value]="expo.val">{{
              expo.name || translate }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_OBS.DESTRUCTIVE_SIZE" kdvKey="Snow_DestructiveSizeKDV"
        [(value)]="registration.request.AvalancheObs.DestructiveSizeTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_OBS.AVALANCHE_TYPE" kdvKey="Snow_AvalancheKDV" [(value)]="registration.request.AvalancheObs.AvalancheTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_OBS.AVALANCHE_TRIGGER" kdvKey="Snow_AvalancheTriggerKDV"
        [(value)]="registration.request.AvalancheObs.AvalancheTriggerTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_OBS.TERRAIN_START_ZONE" kdvKey="Snow_TerrainStartZoneKDV"
        [(value)]="registration.request.AvalancheObs.TerrainStartZoneTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.SNOW.AVALANCHE_OBS.AVAL_CAUSE" kdvKey="Snow_AvalCauseKDV" [(value)]="registration.request.AvalancheObs.AvalCauseTID"></app-kdv-dropdown>
      <ion-item [ngClass]="{'hasWarning': !fractureHeightValid}">
        <ion-label color="medium" position="stacked" text-uppercase>{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_HEIGTH'
          | translate}}</ion-label>
        <ion-input type="text" inputmode="numeric" [min]="minFractureHeight" [max]="maxFractureHeight" pattern="[0-9]*"
          [(ngModel)]="registration.request.AvalancheObs.FractureHeight">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!fractureHeightValid">
        <ion-label color="danger" text-wrap>
          {{
          'REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_HEIGTH'
          | translate}} {{'VALIDATION.MUST_BE' | translate}} {{'VALIDATION.INTEGER' | translate}}
          {{'VALIDATION.BETWEEN' | translate}} {{ minFractureHeight }} {{'VALIDATION.AND' | translate }} {{
          maxFractureHeight }}
        </ion-label>
      </ion-item>
      <ion-item [ngClass]="{'hasWarning': !fractureWidthValid}">
        <ion-label color="medium" position="stacked" text-uppercase>{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_WIDTH'
          | translate}}</ion-label>
        <ion-input type="text" inputmode="numeric" [min]="minFractureWidth" [max]="maxFractureWidth" pattern="[0-9]*"
          [(ngModel)]="registration.request.AvalancheObs.FractureWidth">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!fractureWidthValid">
        <ion-label color="danger" text-wrap>
          {{
          'REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_WIDTH'
          | translate}} {{'VALIDATION.MUST_BE' | translate}} {{'VALIDATION.INTEGER' | translate}}
          {{'VALIDATION.BETWEEN' | translate}} {{ minFractureWidth }} {{'VALIDATION.AND' | translate }} {{
          maxFractureWidth }}
        </ion-label>
      </ion-item>
      <app-text-comment title="REGISTRATION.SNOW.AVALANCHE_OBS.TRAJECTORY_NAME" [max]="100" [rows]="2" [(value)]="registration.request.AvalancheObs.Trajectory"></app-text-comment>
      <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="registration.request.AvalancheObs.Comment"></app-text-comment>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.SNOW.AVALANCHE_OBS.INCIDENT_DESCRIPTION' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>
          {{'REGISTRATION.SNOW.AVALANCHE_OBS.INCIDENT_PLACEHOLDER' | translate }}
        </ion-label>
      </ion-item>
      <app-text-comment title="REGISTRATION.INCIDENT.COMMENT" [(value)]="registration.request.Incident.Comment"></app-text-comment>
      <app-kdv-dropdown title="REGISTRATION.INCIDENT.ACTIVITY" kdvKey="Snow_ActivityInfluencedKDV" [(value)]="registration.request.Incident.ActivityInfluencedTID"></app-kdv-dropdown>
      <app-kdv-dropdown title="REGISTRATION.INCIDENT.DAMAGE_EXTENT" kdvKey="DamageExtentKDV" [(value)]="registration.request.Incident.DamageExtentTID"></app-kdv-dropdown>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_WEB_URL.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-web-url-item [(weburls)]="registration.request.Incident.IncidentURLs"></app-add-web-url-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>