<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.AVALANCHE_OBS.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper
    *ngIf="draft && avalancheObs && incident"
    [draft]="draft" [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.SNOW.AVALANCHE_OBS.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item [ngClass]="{'hasWarning': dateIsDifferentThanObsTime}">
        <ion-label [color]="(!avalancheObs.DtAvalancheTime && showWarning) ? 'danger' : 'medium'"
                   position="stacked" class="ion-text-uppercase">{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.TIME' | translate }}</ion-label>
        <app-datetime-picker
          [(dateTime)]="avalancheObs.DtAvalancheTime"
          [maxDate]="maxDate">
        </app-datetime-picker>
        <ion-button class="set-to-now-button" slot="end" fill="outline" color="medium"
                    (click)="setAvalancheTimeTimeToNow()">
          <ion-icon slot="start" name="time"></ion-icon>
          {{"REGISTRATION.SET_TIME.NOW" | translate}}
        </ion-button>
      </ion-item>
      <ion-item *ngIf="dateIsDifferentThanObsTime">
        <ion-label color="danger" class="ion-text-wrap">
          {{'ALERT.WARNING' | translate}}! {{'REGISTRATION.SNOW.AVALANCHE_ACTIVITY.DATE_WARNING' | translate}}
        </ion-label>
      </ion-item>
      <ion-item (click)="setAvalanchePosition()">
        <ion-label color="medium" position="stacked"
                   class="ion-text-uppercase">{{'REGISTRATION.SNOW.AVALANCHE_OBS.POSITION' |
          translate}}</ion-label>
        <ion-text color="medium" class="ion-align-self-start ion-text-wrap">
          <ion-icon class="position-pin" color="medium" name="location"></ion-icon>
          <ng-container *ngIf="avalancheObs.StartLat else noPosition">
            {{ avalancheObs.StartLat | number:'0.3' }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}},
            {{ avalancheObs.StartLong | number:'0.3' }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}} -
            {{ avalancheObs.StopLat | number:'0.3' }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}},
            {{ avalancheObs.StopLong | number:'0.3' }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}}
          </ng-container>
        </ion-text>
        <ion-icon slot="end" class="item-detail-icon" name="chevron-forward">
        </ion-icon>
      </ion-item>
      <ion-item>
        <ion-label color="medium" position="stacked" class="ion-text-uppercase">{{
          'REGISTRATION.SNOW.AVALANCHE_OBS.VALID_EXPOSITION'
            | translate}}</ion-label>
        <app-select title="REGISTRATION.SNOW.AVALANCHE_OBS.VALID_EXPOSITION"
                    [(selectedValue)]="avalancheObs.ValidExposition" [options]="expoArray"></app-select>
      </ion-item>
      <app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.DESTRUCTIVE_SIZE" kdvKey="Snow_DestructiveSizeKDV"
                      [(value)]="avalancheObs.DestructiveSizeTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.AVALANCHE_TYPE" kdvKey="Snow_AvalancheKDV"
                      [(value)]="avalancheObs.AvalancheTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.AVALANCHE_TRIGGER" kdvKey="Snow_AvalancheTriggerKDV"
                      [(value)]="avalancheObs.AvalancheTriggerTID"></app-kdv-select>
      <ion-item>
        <ion-label
          position="stacked"
          color="medium"
          class="ion-text-uppercase">
          {{'REGISTRATION.SNOW.AVALANCHE_OBS.REMOTELY_TRIGGERED' | translate}}
        </ion-label>
        <ion-toggle [(ngModel)]="avalancheObs.RemotelyTriggered"></ion-toggle>
      </ion-item>
      <app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.TERRAIN_START_ZONE" kdvKey="Snow_TerrainStartZoneKDV"
                      [(value)]="avalancheObs.TerrainStartZoneTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.AVAL_CAUSE" kdvKey="Snow_AvalCauseKDV"
                      [(value)]="avalancheObs.AvalCauseTID"></app-kdv-select>
      <app-numeric-input [(value)]="avalancheObs.FractureHeight"
                         title="REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_HEIGTH" [min]="0" [max]="9999" suffix="cm"
                         [decimalPlaces]="0">
      </app-numeric-input>
      <app-numeric-input [(value)]="avalancheObs.FractureWidth"
                         title="REGISTRATION.SNOW.AVALANCHE_OBS.FRACTURE_WIDTH" [min]="0" [max]="99999" suffix="m"
                         [decimalPlaces]="0">
      </app-numeric-input>
      <app-text-comment title="REGISTRATION.SNOW.AVALANCHE_OBS.TRAJECTORY_NAME" [max]="100" [rows]="2"
                        [(value)]="avalancheObs.Trajectory"></app-text-comment>
      <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="avalancheObs.Comment">
      </app-text-comment>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-edit-images
        [registrationTid]="registrationTid"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
        [onBeforeAdd]="getSaveFunc()"
      ></app-edit-images>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.SNOW.AVALANCHE_OBS.INCIDENT_DESCRIPTION' | translate}}
        </ion-label>
      </ion-list-header>
      <app-incident-component [incident]="incident"
                              [geoHazard]="draft.registration.GeoHazardTID"></app-incident-component>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>
<ng-template #noPosition>
  {{ 'REGISTRATION.SNOW.AVALANCHE_OBS.SET_AVALANCHE_POSITION' | translate }} {{
  'REGISTRATION.DIRT.LAND_SLIDE_OBS.IN_MAP' | translate }}
</ng-template>