<!-- Shows brief info from one observation not saved on server -->
<ion-item lines="full" [detail]="!loading" [routerLink]="'/registration/edit/' + registration.id">
  <div slot="start" class="geo-icon-circle">
    <app-geo-icon [geoHazards]="[registration.geoHazard]"></app-geo-icon>
  </div>
  <ion-label>
    <h2>
      {{ getLocationName(registration) }}
    </h2>
    <p class="ion-text-wrap">
      <ion-icon name="calendar"></ion-icon> {{ registration.request.DtObsTime | formatDate | async }}
      <span *ngIf="isDraft"> - {{ 'DRAFT' | translate }}</span>
    </p>
  </ion-label>
  <ion-icon *ngIf="!loading && registration.error" slot="end" name="warning">
  </ion-icon>
  <ion-spinner *ngIf="loading" slot="end"></ion-spinner>
</ion-item>