<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.GENERAL_COMMENT.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registration">
  <ion-list lines="full">
    <ion-list-header padding text-uppercase>
      <ion-label>
        <h3>{{"REGISTRATION.GENERAL_COMMENT.SUBTITLE" | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>{{'REGISTRATION.GENERAL_COMMENT.DESCRIPTION' | translate}}</ion-label>
    </ion-item>
    <app-add-picture-item *ngIf="registration.Picture" [(images)]="registration.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
    <ion-list-header padding text-uppercase>
      <ion-label>
        <h3>{{"REGISTRATION.GENERAL_COMMENT.ADD_NOTES_HEADER" | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-text-comment (valueChange)="updateUi()" *ngIf="registration.GeneralObservation" [(value)]="registration.GeneralObservation.ObsComment"
      title="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE' | translate }}" placeholder="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_PLACEHOLDER' | translate }}"></app-text-comment>
  </ion-list>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [isEmpty]="isEmpty()" (reset)="reset()"></app-save-and-go-back-button>