<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.GENERAL_COMMENT.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.GeneralObservation" [registration]="registration"
    [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header text-uppercase>
        <ion-label>
          {{"REGISTRATION.GENERAL_COMMENT.ADD_NOTES_HEADER" | translate}}
        </ion-label>
      </ion-list-header>
      <app-text-comment [(value)]="registration.request.GeneralObservation.ObsComment" title="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE' | translate }}"
        placeholder="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_PLACEHOLDER' | translate }}"></app-text-comment>
      <ion-list-header text-uppercase>
        <ion-label>
          {{"REGISTRATION.GENERAL_COMMENT.SUBTITLE" | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label text-wrap>{{'REGISTRATION.GENERAL_COMMENT.DESCRIPTION' | translate}}</ion-label>
      </ion-item>
      <app-add-picture-item *ngIf="registration.request.Picture" [(images)]="registration.request.Picture"
        [registrationTid]="registrationTid"></app-add-picture-item>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_WEB_URL.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-web-url-item [(weburls)]="registration.request.GeneralObservation.Urls"></app-add-web-url-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>