<ion-menu-toggle menu="filter">
  <ion-chip>
    @if (!showObservations()) {
      {{ "MENU.DEACTIVATE_OBSERVATIONS" | translate }}
    } @else {
      <strong>{{ "FILTER_DESCRIPTION.FILTER" | translate }}&nbsp;</strong>

      <!-- Geohazard filter. -->
      {{ "FILTER_DESCRIPTION.GEOHAZARD_TYPE_WITH_OBSERVATIONS_SUFFIX" | translate: { geohazard: geoHazardName() } }}

      <!-- Date filter -->
      @let from = dateFilter().from;
      @let to = dateFilter().to;
      @if (from && to) {
        {{ "FILTER_DESCRIPTION.TIME_DESCRIPTION_SUBMITTED_BETWEEN" | translate: { from, to } }}
      } @else if (from) {
        {{ "FILTER_DESCRIPTION.TIME_DESCRIPTION_SUBMITTED_AFTER" | translate: { datetime: from } }}
      } @else if (to) {
        {{ "FILTER_DESCRIPTION.TIME_DESCRIPTION_SUBMITTED_BEFORE" | translate: { datetime: to } }}
      }
    }
  </ion-chip>
</ion-menu-toggle>
