<ng-container *ngIf="isDesktop()">
  <div class="show-container" *ngIf="!showObservations(); else showFilterCriteria">
    <span>{{ "MENU.DEACTIVATE_OBSERVATIONS" | translate }}</span>
  </div>
</ng-container>

<ng-template #showFilterCriteria>
  <div class="show-container" *ngIf="daysBack() as daysBack">
    <ng-container *ngIf="currentGeoHazard() as geoHazard">
      <app-geo-name [geoHazards]="geoHazard"></app-geo-name>
    </ng-container>
    <span *ngIf="daysBack === 0">:</span>
    <ng-container *ngIf="language() as lang">
      <span *ngIf="lang === 2 || daysBack === 0">&nbsp;</span>
      <span *ngIf="daysBack !== 0">{{ "MENU.SHOWING_OBSERVATIONS" | translate | lowercase }}&nbsp;</span>
      <app-check-days-or-weeks-back [daysBack]="daysBack"></app-check-days-or-weeks-back>
      <span *ngIf="daysBack === 0 && lang === 2">&nbsp;{{ "MENU.SHOWING_OBSERVATIONS" | translate | lowercase }}</span>
      <ion-menu-button menu="filter" color="light">
        <a>{{ "MY_PROFILE.EDIT" | translate }}</a>
      </ion-menu-button>
    </ng-container>
  </div>
</ng-template>
