<ion-list lines="full">
  <ion-item>
    <ion-label class="ion-text-wrap" [innerHTML]="'REGISTRATION.FAILED.GONE' | translate"></ion-label>
  </ion-item>
  <ion-item (click)="abandon()">
    <ion-icon slot="start" name="refresh"></ion-icon>
    <ion-label class="ion-text-wrap">
      {{ "REGISTRATION.FAILED.ABANDON" | translate }}
    </ion-label>
  </ion-item>
  <ion-item (click)="submitAsNew()">
    <ion-icon slot="start" name="warning"></ion-icon>
    <ion-label class="ion-text-wrap">
      {{ "REGISTRATION.FAILED.SUBMIT_NEW" | translate }}
    </ion-label>
  </ion-item>
</ion-list>
