<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{'REGISTRATION.SNOW.COMPRESSION_TEST.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <app-kdv-dropdown title="REGISTRATION.SNOW.COMPRESSION_TEST.TEST_TYPE" kdvKey="Snow_PropagationKDV"
      [(value)]="compressionTestCopy.PropagationTID"></app-kdv-dropdown>
    <ion-item *ngIf="tapsFractureVisible()">
      <ion-label color="medium" position="stacked" text-uppercase>{{'REGISTRATION.SNOW.COMPRESSION_TEST.TAPS_FRACTURE'
        | translate}}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="compressionTestCopy.TapsFracture"
        interface="action-sheet">
        <ion-select-option value=""></ion-select-option>
        <ion-select-option [value]="n" *ngFor="let n of tapsArray">
          {{ n }}</ion-select-option>
      </ion-select>
    </ion-item>
    <app-numeric-input *ngIf="!isCTNorECTX()" (valueChange)="valueChanged()"
      [(value)]="compressionTestCopy.FractureDepth" title="REGISTRATION.SNOW.COMPRESSION_TEST.DISTANCE_FROM_TOP"
      [min]="0" [max]="999" [decimalPlaces]="0" [convertMetersToCm]="true"
      placeholder="REGISTRATION.SNOW.SNOW_SURFACE.HIGHT_LIMIT_LAYERED_SNOW_PLACEHOLDER"></app-numeric-input>
    <app-kdv-dropdown *ngIf="!isCTNorECTX()" title="REGISTRATION.SNOW.COMPRESSION_TEST.FRACTURE_TYPE"
      kdvKey="Snow_ComprTestFractureKDV" [(value)]="compressionTestCopy.ComprTestFractureTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.SNOW.COMPRESSION_TEST.STABILITY_EVAL" kdvKey="Snow_StabilityEvalKDV"
      [(value)]="compressionTestCopy.StabilityEvalTID"></app-kdv-dropdown>
    <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="compressionTestCopy.Comment">
    </app-text-comment>
  </ion-list>
  <app-modal-save-or-delete-buttons [saveDisabled]="!isValid" (saveClicked)="ok()" (deleteClicked)="delete()"
    [showDelete]="!isNew">
  </app-modal-save-or-delete-buttons>
</ion-content>