@keyframes fadeOutFromCurrent {
  0% {
    opacity: var(--current-opacity, 0);
  }

  100% {
    opacity: 0;
  }
}

.data-load {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 50%;
  transform: translateX(-20px);
  width: 28px;
  height: 28px;
  z-index: calc(var(--z-index-over-map) - 1);
  // background-color: var(--map-faded-overlay-background);
  // border-radius: 50%;
  opacity: var(--current-opacity, 0);

  &.fadeIn {
    --current-opacity: 1;
  }

  &.fadeOut {
    --current-opacity: 0;
    animation-name: fadeOutFromCurrent;
  }
}
