<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.SNOW_PROFILE.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="registration && registration.SnowProfile">
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.SNOW_PROFILE.TITLE' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        {{'REGISTRATION.SNOW.SNOW_PROFILE.SNOW_PROFILE_HELP_TEXT' | translate}}
      </ion-label>
    </ion-item>
    <app-add-picture-item [(images)]="registration.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
  </ion-list>
  <app-navigation-buttons [registration]="registration"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>