<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.SNOW_PROFILE.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.SnowProfile2"
    [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.SNOW.SNOW_PROFILE.SUPERIOR' | translate}}
        </ion-label>
      </ion-list-header>
      <app-yes-no-select [(value)]="registration.request.SnowProfile2.IsProfileToGround"
        title="REGISTRATION.SNOW.SNOW_PROFILE.IS_PROFILE_TO_GROUND">
      </app-yes-no-select>
      <ion-item>
        <ion-label color="medium" position="stacked" class="ion-text-uppercase">
          {{ 'REGISTRATION.SNOW.SNOW_PROFILE.VALID_EXPOSITION' | translate}}</ion-label>
        <app-select [(selectedValue)]="registration.request.SnowProfile2.Exposition"
          [options]="expositionOptions" title="REGISTRATION.SNOW.SNOW_PROFILE.VALID_EXPOSITION"></app-select>
      </ion-item>
      <app-numeric-input [(value)]="registration.request.SnowProfile2.SlopeAngle"
      title="REGISTRATION.SNOW.SNOW_PROFILE.SLOPE_ANGLE" [min]="0" [max]="59" suffix="°"
      placeholder="REGISTRATION.SNOW.SNOW_PROFILE.SLOPE_ANGLE_PLACEHOLDER" [decimalPlaces]="0"></app-numeric-input>
      <app-text-comment title="DIALOGS.COMMENT" [(value)]="registration.request.SnowProfile2.Comment">
      </app-text-comment>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{'REGISTRATION.SNOW.SNOW_PROFILE.SUBFORMS' | translate}}
        </ion-label>
      </ion-list-header>
      <app-strat-profile [reg]="registration"></app-strat-profile>
      <app-snow-temp [reg]="registration"></app-snow-temp>
      <app-snow-density [reg]="registration"></app-snow-density>
      <app-compression-test [reg]="registration">
      </app-compression-test>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{'REGISTRATION.SNOW.SNOW_PROFILE.PREVIEW' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item [disabled]="isEmpty()" (click)="openPreview()">
        <ion-icon name="eye" color="dark" slot="start"></ion-icon>
        <ion-label>{{'REGISTRATION.SNOW.SNOW_PROFILE.PREVIEW_ITEM' | translate }}</ion-label>
      </ion-item>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{'REGISTRATION.IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [geoHazard]="registration.geoHazard" [registrationId]="registration.id"
        [registrationTid]="registrationTid" [onBeforeAdd]="getSaveFunc()">
      </app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>