p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.legal-icon {
    font-size: 36px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}