ion-card {
    border-radius: 0;
    margin: 10px;
    ion-card-header {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 16px;
        h3 {
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
    ion-card-content {
        padding: 0px;
        font-size: 12px;
        ion-grid {
            margin-bottom: 25px;
            ion-row {
                &.row-padding-start {
                    padding-left: 5px;   
                  }
                &.row-padding-end {
                    padding-bottom: 5px;
                }
                ion-col {
                    ion-badge {
                        border-radius: 16px;
                        margin-right: 6px;
                        margin-bottom: 6px;
                        --ion-color-medium-contrast: #fff;
                        font-weight: 400;
                        padding: 7px 10px;
                        font-size: 12px;

                        &.outline {
                            border: 1px solid var(--ion-color-medium);
                        }
                    }

                    h3 {
                        font-size: 16px;
                        margin-top: 3px;
                        margin-bottom: 0px;
                        font-weight: 600;
                    }
                }
            }
        }

        .link-title {
            flex: 1.5;
        }

        .reg-id {
            flex: 0.5;
            font-size: 12px;
        }
    }
}

.small-space {
    padding-left: 3px;
    display: inline-block;
    width: 12px;
}

.obs-content {
    padding-top: 1px;
}

.img-col {
    max-height: 300px;
}