<ion-card *ngIf="loaded">
  <ion-card-content>
    <ion-card-header>
      <h3 color="medium">{{ header }}</h3>
    </ion-card-header>
    <ion-grid class="ion-no-padding">
      <ion-row class="row-padding-start">
        <ion-col size="12">
          <div class="card-icon-item">
            <svg-icon
              class="card-icon-item-icon"
              src="/assets/icon/time.svg"
              [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
            ></svg-icon>
            {{ dtObsDate | formatDate | async }}
          </div>
          <div class="card-icon-item">
            <svg-icon class="card-icon-item-icon" [src]="icon" [svgStyle]="{ 'width.px': 16, 'height.px': 16 }">
            </svg-icon>
            <app-geo-name [geoHazards]="[geoHazard]"></app-geo-name>
          </div>
          <div class="card-icon-item">
            <svg-icon
              class="card-icon-item-icon"
              src="/assets/icon/moh.svg"
              [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
            ></svg-icon>
            {{ obs.ObsLocation.Height }}
            {{ "MAP_CENTER_INFO.ABOVE_SEA_LEVEL" | translate }}
          </div>
          <div class="card-icon-item">
            <svg-icon
              class="card-icon-item-icon"
              src="/assets/icon/user.svg"
              [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
            ></svg-icon>
            {{ obs.Observer.NickName }}
            <app-competence [starCount]="starCount" [competenceLevelName]="competenceLevelName"></app-competence>
          </div>
          <div class="card-icon-item" *ngIf="obs.ObserverGroupName">
            <svg-icon
              class="card-icon-item-icon"
              src="/assets/icon/usergroup.svg"
              [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
            ></svg-icon>
            {{ obs.ObserverGroupName }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <app-img-swiper
            [location]="location"
            [attachments]="attachments"
            (imgClick)="openImage($event)"
            (locationClick)="openLocation($event)"
          >
          </app-img-swiper>
        </ion-col>
      </ion-row>
      <!-- <ng-container *ngIf="summaries.length > 1">
        <ion-row class="row-padding-start">
          <ion-col size="12">
            <ion-badge (click)="toggleAllSelected()" [color]="allSelected ? 'medium' : 'light'" [ngClass]="{'outline': !allSelected}">
              {{'OBSERVATION_LIST.ALL_OBSERVATIONS' | translate}}
            </ion-badge>
            <ion-badge (click)="toggleRegistration(i)" class="ion-text-wrap" [color]="(s.open && (summaries.length <= 1 || !allSelected)) ? 'medium' : 'light'"
              *ngFor="let s of summaries; let i = index" [ngClass]="{'outline': !(s.open && (summaries.length <= 1 || !allSelected))}">
              {{ s.summary.RegistrationName }}
            </ion-badge>
          </ion-col>
        </ion-row>
      </ng-container> -->
      <ion-row class="row-padding-start">
        <ion-col size="12">
          <app-summary [summaries]="summaries" [showHeaders]="true"></app-summary>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-item color="light">
    <ion-button
      *ngIf="userCanEdit"
      mode="ios"
      fill="clear"
      class="link-title"
      slot="start"
      (click)="edit()"
      [disabled]="isLoadingObsForEdit"
    >
      <svg-icon class="edit-icon" src="/assets/icon/pencil.svg"></svg-icon>
      {{ "REGISTRATION.EDIT" | translate }}
    </ion-button>
    <ion-spinner slot="start" name="dots" *ngIf="isLoadingObsForEdit"></ion-spinner>
    <ion-button mode="ios" fill="clear" class="reg-id" slot="end" (click)="share()">
      ID: {{ obs.RegId }}
      <ion-icon slot="end" class="share-icon" name="share-social"></ion-icon>
    </ion-button>
  </ion-item>
</ion-card>
