ion-card {
    border-radius: 0;
    margin: 10px;
    ion-card-header {
        padding: 10px;
        padding-bottom: 0px;
        h3 {
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    ion-card-content {
        padding: 0px;
        font-size: 12px;
        ion-grid {
            margin-bottom: 10px;
            ion-row {
                &.row-padding-start {
                    padding-left: 5px;   
                  }
                ion-col {
                    ion-badge {
                        border-radius: 16px;
                        padding: 10px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        --ion-color-medium-contrast: #fff;
                        font-weight: 400;

                        &.outline {
                            border: 1px solid var(--ion-color-medium);
                        }
                    }

                    h3 {
                        font-size: 16px;
                        margin-top: 16px;
                        margin-bottom: 0px;
                        font-weight: 600;
                    }
                }
            }
        }

        .link-title {
            flex: 1.5;
        }

        .reg-id {
            flex: 0.5;
            font-size: 12px;
        }
    }
}

.slides-container {
    margin-top: 10px;
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgba(95, 113, 119, 0.3);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    padding-right: 15px;
    padding-left: 15px;
    background-size: 13px 21px;
    margin-top: -30px;
}