<div id="geo-selector" class="map-control">
  <div class="geo-item" (click)="toggle()">
    <i class="nve-icon nve-icon-snow"></i><span class="geo-item-name">{{('GEO_HAZARDS.' +currentGeoHazard) | uppercase |
      translate}}
    </span>
    <ion-icon name="ios-arrow-down" *ngIf="!isOpen"></ion-icon>
    <ion-icon name="ios-arrow-up" *ngIf="isOpen"></ion-icon>
  </div>
  <div *ngIf="isOpen">
    <div class="geo-item geo-selectable-item" *ngFor="let $item of geoHazardTypes" (click)="changeGeoHazard($item)" [hidden]="$item === currentGeoHazard">
      <i class="nve-icon nve-icon-{{$item | lowercase}}"></i><span class="geo-item-name">{{ ('GEO_HAZARDS.' +$item) | uppercase
        | translate }}</span>
    </div>
  </div>
</div>