<ion-fab #geoSelectorFab vertical="top" horizontal="start" edge slot="fixed">
  <ion-fab-button color="light" (click)="toggle()">
    <app-geo-icon [geoHazard]="currentGeoHazard"></app-geo-icon>
  </ion-fab-button>
  <div class="geo-selector-items" [ngClass]="{ 'open': isOpen }">
    <div class="geo-selector-wrapper" (click)="toggle()"></div>
    <ng-container *ngFor="let geoHazard of geoHazardTypes">
      <div *ngIf="(geoHazard !== currentGeoHazard)" class="geo-selector-item" (click)="changeGeoHazard(geoHazard)">
        <ion-fab-button color="light">
          <app-geo-icon [geoHazard]="geoHazard"></app-geo-icon>
        </ion-fab-button>
        <ion-label>{{ getName(geoHazard) | translate }}</ion-label>
      </div>
    </ng-container>
  </div>
</ion-fab>