ion-fab {
    // &.fab-vertical-top.fab-edge {
    //     top: -24px;
    // }

    &.fullscreen {
        top: calc(10px + var(--ion-safe-area-top,0px)) !important;
    }

    ion-fab-button {
        --size: 44px;
        --height: 44px;
        --width: 44px;
        --box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 5px;
    }

    .toggle-button {
        height: 44px;
        width: 44px;
        ion-fab-button {
            --padding-top: 0px;
            --padding-bottom: 0px;    
        }
        ion-label {
            position: relative;
            left: 60px;
            top: -36px;
            display: inline-block;
        }
    }

    .toggle-button, .geo-selector-item {
        ion-label {
            background-color: #fff;
            opacity: 0.7;
            padding: 4px;
            white-space: nowrap;
            flex: none;
        }
    }

    .geo-selector-item {
        background-color: rgba(0,0,0,0);
    }

    .geo-selector-items {
        display: none;
        &.open {
            display: block;
        }
        margin-top: 7px;
        --backround: rgba(0,0,0,0);
        --ion-background-color: rgba(0,0,0,0);
        --ion-item-background: rgba(0,0,0,0);
    }

    .geo-selector-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &.in-header {
        top: calc(-6px + var(--ion-safe-area-top,0px));
        left: 0px;

        .toggle-button {
            height: 32px;
            width: 32px;

            ion-fab-button {
                --size: 32px;
                --height: 32px;
                --width: 32px;
                --padding-start: 0px;
                --padding-end: 0px;    
            }
        }

        .toggle-button, .geo-selector-item {
            ion-label {
                background-color: rgba(0,0,0,0);
                color: #fff;
                opacity: 1;
            }
        }

        .geo-selector-items {
            background-color: var(--backdrop-background);
            padding: 10px;
            position: absolute;
            top: -10px;
            left: -10px;
        }
    }
}