<ion-fab *ngIf="currentGeoHazard$ | async as currentGeoHazard" #geoSelectorFab vertical="top" horizontal="start" [edge]="!inHeader"
  slot="fixed" [ngClass]="{ 'fullscreen': isFullscreen, 'in-header': inHeader }">
  <div class="toggle-button" *ngIf="!(inHeader && isOpen)">
    <ion-fab-button color="light" (click)="toggle()">
      <app-geo-icon [geoHazard]="currentGeoHazard"></app-geo-icon>
    </ion-fab-button>
    <ion-label *ngIf="isOpen">{{ getName(currentGeoHazard) | translate }}</ion-label>
  </div>
  <div class="geo-selector-items" [ngClass]="{ 'open': isOpen }">
    <div class="geo-selector-wrapper" (click)="toggle()"></div>
    <div *ngIf="inHeader" class="geo-selector-item" (click)="toggle()">
      <ion-fab-button color="light">
        <app-geo-icon [geoHazard]="currentGeoHazard"></app-geo-icon>
      </ion-fab-button>
      <ion-label>{{ getName(currentGeoHazard) | translate }}</ion-label>
    </div>
    <ng-container *ngFor="let geoHazard of geoHazardTypes">
      <div *ngIf="(geoHazard !== currentGeoHazard)" class="geo-selector-item" (click)="changeGeoHazard(geoHazard)">
        <ion-fab-button color="light">
          <app-geo-icon [geoHazard]="geoHazard"></app-geo-icon>
        </ion-fab-button>
        <ion-label>{{ getName(geoHazard) | translate }}</ion-label>
      </div>
    </ng-container>
  </div>
</ion-fab>