ion-fab {
  &.two-buttons {
    left: 40px;
    ion-col {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.x-large {
    bottom: 20px;
  }

  ion-fab-button.x-large {
    --size: 80px;
    --height: 80px;
    --width: 80px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;

    &.small-text {
      font-size: 12px;
    }
  }
}
