<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"SETTINGS.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="userSettings">
    <ion-item>
      <ion-label position="floating">{{ "SETTINGS.APPMODE" | translate }}</ion-label>
      <ion-select [(ngModel)]="userSettings.appMode" (ngModelChange)="updateSettings()">
        <ion-select-option value="PROD">regObs</ion-select-option>
        <ion-select-option value="DEMO">demo regObs</ion-select-option>
        <ion-select-option value="TEST">test regObs</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ "SETTINGS.LANGUAGE" | translate }}</ion-label>
      <ion-select [(ngModel)]="userSettings.language" (ngModelChange)="updateSettings()">
        <ion-select-option [value]="LangKey.no">{{'START_WIZARD.CHOOSE_LANGUAGE.NORWEGIAN' | translate}}</ion-select-option>
        <ion-select-option [value]="LangKey.en">{{'START_WIZARD.CHOOSE_LANGUAGE.ENGLISH' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="reset()">
      <ion-label>{{ "SETTINGS.RESET" | translate }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>