<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"SETTINGS.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="userSettings">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked" color="medium" text-uppercase>{{ "SETTINGS.APPMODE" | translate }}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="userSettings.appMode"
        interface="action-sheet" (ngModelChange)="updateSettings()">
        <ion-select-option value="PROD">regObs</ion-select-option>
        <ion-select-option value="DEMO">demo regObs</ion-select-option>
        <ion-select-option value="TEST">test regObs</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="medium" text-uppercase>{{ "SETTINGS.LANGUAGE" | translate }}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="userSettings.language"
        interface="action-sheet" (ngModelChange)="updateSettings()">
        <ion-select-option [value]="LangKey.no">{{'START_WIZARD.CHOOSE_LANGUAGE.NORWEGIAN' | translate}}
        </ion-select-option>
        <ion-select-option [value]="LangKey.en">{{'START_WIZARD.CHOOSE_LANGUAGE.ENGLISH' | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{'SETTINGS.EMAIL_RECIEPT' | translate}}
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="userSettings.emailReciept" (ngModelChange)="updateSettings()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button *ngIf="!showAdvanced" (click)="toggleAdvanced()" fill="clear" expand="full">
    <ion-icon slot="start" name="ios-arrow-down"></ion-icon> {{'SETTINGS.SHOW_ADVANCED' | translate}}
  </ion-button>
  <ion-button *ngIf="showAdvanced" (click)="toggleAdvanced()" fill="clear" expand="full">
    <ion-icon slot="start" name="ios-arrow-up"></ion-icon> {{'SETTINGS.HIDE_ADVANCED' | translate }}
  </ion-button>
  <ng-container *ngIf="showAdvanced">
    <ion-list lines="full">
      <ion-item class="no-border no-min-height">
        <ion-label position="stacked" color="medium" text-uppercase>{{'SETTINGS.APP_VERSION' | translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <h3>{{version.version }}</h3>
          <p>{{ version.branch }} {{ version.buildNumber }} {{ version.revision }} </p>
          <p>{{ version.date }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="medium" text-uppercase>{{'SETTINGS.NUMBER_OF_TILES_IN_CACHE' |
          translate}}: {{
          userSettings.tilesCacheSize }}</ion-label>
        <ion-range min="0" max="20000" step="5000" color="secondary" [(ngModel)]="userSettings.tilesCacheSize"
          (ngModelChange)="updateSettings()">
        </ion-range>
      </ion-item>
    </ion-list>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked" color="medium" text-uppercase>{{'SETTINGS.TILES_CACHE_SIZE' | translate}}
        </ion-label>
        <ion-input *ngIf="numberOfCacheTiles !== undefined" type="text" readonly="true" [value]="numberOfCacheTiles">
        </ion-input>
        <ion-spinner name="dots" *ngIf="numberOfCacheTiles === undefined"></ion-spinner>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="medium" text-uppercase>{{'SETTINGS.SIZE_OF_TILES_CACHE' | translate}}
        </ion-label>
        <ion-input *ngIf="cacheTilesSize !== undefined" type="text" readonly="true" [value]="cacheTilesSize">
        </ion-input>
        <ion-spinner name="dots" *ngIf="cacheTilesSize === undefined"></ion-spinner>
      </ion-item>
    </ion-list>
    <ion-list lines="none">
      <ion-button expand="block" [disabled]="isUpdating" (click)="updateDropdowns()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        {{ "SETTINGS.UPDATE_DROPDOWNS" | translate }}
      </ion-button>

      <ion-button class="reset-button" color="danger" expand="block" [disabled]="isUpdating" (click)="confirmReset()">
        <ion-icon slot="start" name="medkit"></ion-icon>
        {{ "SETTINGS.RESET" | translate }}
      </ion-button>
    </ion-list>
  </ng-container>
</ion-content>