.geo-icon-circle {
    height: 36px;
    width: 36px;
    background-color: #F7F7F7;
    border-radius: 50%;
    margin-right: 16px;

    app-geo-icon {
        position: relative;
        top: 8px;
    }
}