<ng-container *ngIf="(drafts$ | async) as drafts">
  <ion-list no-margin *ngIf="drafts.length > 0" lines="full">
    <ion-list-header text-uppercase>
      <ion-label>
        {{'REGISTRATION.DRAFTS' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
        {{'REGISTRATION.DRAFTS_DESCRIPTION' | translate }}
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let draft of drafts" href="{{ 'registration/edit/' + draft.id }}">
      <app-geo-icon slot="start" [geoHazard]="draft.geoHazard"></app-geo-icon>
      <ion-label>
        <h2 *ngIf="draft.request.ObsLocation && draft.request.ObsLocation.LocationName">
          {{draft.request.ObsLocation.LocationName}}
        </h2>
        <p text-wrap>
          <ion-icon name="calendar"></ion-icon> {{ draft.request.DtObsTime | formatDate | async }}
        </p>
        <p class="observation-types">
          <ion-badge>
            <!-- {{ getRegistrationNames() }} -->
          </ion-badge>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>