<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.COMPRESSION_TEST.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="draft && draft.registration.CompressionTest"
    [draft]="draft" [registrationTid]="registrationTid" (reset)="reset()">
    <app-compression-test-list [(tests)]="draft.registration.CompressionTest"></app-compression-test-list>
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [geoHazard]="draft.registration.GeoHazardTID" [registrationId]="draft.uuid"
        [registrationTid]="registrationTid" [onBeforeAdd]="getSaveFunc()">
      </app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>