<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.COMPRESSION_TEST.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.CompressionTest"
    [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()">
    <app-compression-test-list [(tests)]="registration.request.CompressionTest"></app-compression-test-list>
    <ion-list lines="full">
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [(images)]="registration.request.Picture" (imagesChange)="save()"
        [registrationTid]="registrationTid">
      </app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>