<ion-list padding>
  <ion-list-header no-padding>
    <ion-label *ngIf="title">
      {{ title | translate }}
    </ion-label>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col text-capitalize>
          {{ getDayName(0) | translate }}
        </ion-col>
        <ion-col text-capitalize>
          {{ getDayName(1) | translate }}
        </ion-col>
        <ion-col text-capitalize>
          {{ getDayName(2) | translate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list-header>
  <ion-item-sliding (ionDrag)="onDrag($event)" *ngFor="let warningGroup of warnings; trackBy: trackWarningGroup">
    <ion-item no-padding detail="false" lines="full">
      <div slot="start" class="geo-icon-circle">
        <app-geo-icon [geoHazard]="warningGroup.group.geoHazard"></app-geo-icon>
      </div>
      <ion-label>{{warningGroup.group.groupName}}</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="{ level: getDayWarning(warningGroup, 0) } as warning">
            <ion-badge [attr.class]="'level-'+warning.level">{{warning.level}}</ion-badge>
          </ion-col>
          <ion-col *ngIf="{ level: getDayWarning(warningGroup, 1) } as warning">
            <ion-badge [attr.class]="'level-'+warning.level">{{warning.level}}</ion-badge>
          </ion-col>
          <ion-col *ngIf="{ level: getDayWarning(warningGroup, 2) } as warning">
            <ion-badge [attr.class]="'level-'+warning.level">{{warning.level}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options side="end" (ionSwipe)="itemSwiped(warningGroup)">
      <ion-item-option expandable="true" (click)="toggleFavourite(warningGroup)">
        <ion-icon [ngClass]="{'animated flip': animateActive(warningGroup), 'favourite': warningGroup.isFavourite }"
          slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>