<!-- Side som viser planer og sporfiler -->
<app-header>
  <!-- Høyremeny -->
  <ion-buttons slot="end">
    <ion-menu-button color="light"> </ion-menu-button>
  </ion-buttons>

  <ion-title>{{ "PLANS.TITLE" | translate }}</ion-title>
</app-header>
<div class="content">
  <h1>TODO: Planer</h1>

  @for (item of items(); track item.id) {
    <p>{{ item.name }} - {{ item.id }} - {{ item.date }}</p>
  }

  <ngx-file-drop dropZoneClassName="drop-zone" [accept]="'.gpx'" (onFileDrop)="onFileDrop($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <button type="button" (click)="openFileSelector()">
        <h1>{{ "PLANS.IMPORT_BUTTON.CAPTION" | translate }}</h1>
        <p>
          @if (!isMobile) {
            {{ "PLANS.IMPORT_BUTTON.DROP_LABEL_DESKTOP" | translate }}
          } @else {
            {{ "PLANS.IMPORT_BUTTON.DROP_LABEL_MOBILE" | translate }}
          }
        </p>
      </button>
    </ng-template>
  </ngx-file-drop>
</div>
