:host {
  justify-content: unset;
}
.content {
  height: 100%;
  width: 100%;
  max-width: var(--desktop-max-width);
  margin: 0 auto;
  margin-bottom: var(--spacing-large);
  overflow: auto;
  padding: 0px var(--spacing-medium);
}
svg {
  fill: currentColor;
}

.filter-panel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--spacing-medium);
  padding: var(--spacing-small) 0px;
}

nve-select {
  width: fit-content;
}

@media screen and (max-width: 650px) {
  .filter-panel {
    flex-direction: column;
    align-items: stretch;
  }
  nve-select {
    width: 100%;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  gap: 10px;
  align-items: center;
  font: var(--label-medium);
}

.button-group {
  display: flex;
  margin-left: auto;
  gap: var(--spacing-xx-small);
}

nve-menu-item {
  nve-icon {
    --icon-size: 30px;
  }
}

nve-menu-item::part(base) {
  height: fit-content;
}

nve-badge::part(base) {
  line-height: 1;
}

.drop-zone-wrapper {
  height: 200px;
}

a {
  text-decoration: none;
  border-radius: var(--border-radius-small);
}

a:focus-visible {
  outline: var(--sl-focus-ring);
  outline-offset: var(--sl-focus-ring-offset);
}

ul {
  margin: 0;
  padding: var(--spacing-small);
  background: var(--neutrals-background-primary);
  box-shadow: var(--hard);
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  color: inherit;
}

li > nve-icon {
  --icon-size: 26px;
}
