<ion-grid>
  <ion-row>
    <ion-col size="6">
      @if (previous(); as prev) {
        <ion-button class="left-button" (click)="goBack()" color="primary" fill="outline" expand="block">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          <ion-text>{{ prev.title | translate }}</ion-text>
        </ion-button>
      }
    </ion-col>
    <ion-col size="6">
      @if (next(); as nxt) {
        <ion-button class="right-button" (click)="goForward()" color="primary" fill="outline" expand="block">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          <ion-text>{{ nxt.title | translate }}</ion-text>
        </ion-button>
      }
    </ion-col>
  </ion-row>
</ion-grid>
