<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-button no-margin *ngIf="previous" (click)="goBack()" color="primary" fill="outline" expand="block">
        <ion-icon slot="start" name="arrow-round-back"></ion-icon>
        <ion-text>{{ previous.title | translate }}</ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button no-margin *ngIf="next" (click)="goForward()" color="primary" fill="outline" expand="block">
        <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
        <ion-text>{{ next.title | translate }}</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>