ion-grid {
    --ion-grid-padding: 10px;
}

ion-button {
    height: var(--ion-button-height);
    ion-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}