app-base64-image,
img {
  max-width: 100px;
  max-height: 100px;
  padding-right: 5px;
  display: inline-block;
}

.summary-item:hover {
  cursor: pointer;
  --background: var(--ion-color-varsom-blue-light-3);
}
