ion-item {
  svg-icon {
    margin-top: 6px;
  }
}

ion-toggle::part(label) {
  // For å få labels til å brekke til flere linjer.
  // Usikker på om "normal" er best, men det fungerte..
  white-space: normal;
}

.inner-list-panel {
  ion-item {
    --border-width: 0 0 0 0;
    --ion-item-background: #fff;
  }
}
