<ion-accordion-group (ionChange)="toggleAccordion($event)">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label color="dark" position="stacked">
        {{'MENU.TIMESPAN' | translate}}
      </ion-label>
      <ion-text class="ion-align-self-start">
        <span *ngIf="!isOpen">{{ modeText$ | async }}</span>
      </ion-text>
    </ion-item>
    <div slot="content">
      <ion-list>
        <ion-radio-group [ngModel]="mode.value" (ionChange)="changeMode($event)">
          <ion-item>
            <ion-radio value="predefined" slot="start" (click)="changeDateAndSetMode()"></ion-radio>
            <app-observations-days-back (changeDaysBack)="changeDateAndSetMode($event)"></app-observations-days-back>
          </ion-item>

          <ion-item>
            <ion-label>{{'MENU.CUSTOM_TIMESPAN' | translate}}</ion-label>
            <ion-radio slot="start" value="custom"></ion-radio>
          </ion-item>

          <ion-item class="white-background" *ngIf="mode.value === 'custom'">
            <ion-label slot="start">{{'MENU.START_DATE' | translate}}</ion-label>
            <app-datetime-picker
              presentation="date"
              [(dateTime)]="fromDate"
              [minDate]="minDate"
              [maxDate]="toDate || maxDate"
              (dateTimeChange)="setFromDate($event)"
              dateTimeFormat="dd. MMM yyyy"
              textAlign="right"
              buttonSize="large"
            ></app-datetime-picker>
          </ion-item>

          <ion-item class="white-background" *ngIf="mode.value === 'custom'">
            <ion-label slot="start">{{'MENU.END_DATE' | translate}}</ion-label>
            <app-datetime-picker
              presentation="date"
              [(dateTime)]="toDate"
              [minDate]="fromDate || minDate"
              [maxDate]="maxDate"
              (dateTimeChange)="setToDate($event)"
              dateTimeFormat="dd. MMM yyyy"
              textAlign="right"
              buttonSize="large"
            ></app-datetime-picker>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
