<ion-accordion-group *ngIf="!isNativePlatform; else observationsDaysBackOnly" (ionChange)="toggleAccordion($event)">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label color="dark" position="stacked">
        {{ "MENU.TIMESPAN" | translate }}
      </ion-label>
      <ng-container *ngIf="useDaysBack$ | async; else showDateRange">
        <ng-container>
          <ion-text *ngIf="!isOpen" class="ion-align-self-start">
            <app-check-days-or-weeks-back
              [daysBack]="userSettingService.daysBackForCurrentGeoHazard$ | async"
            ></app-check-days-or-weeks-back>
          </ion-text>
        </ng-container>
      </ng-container>
    </ion-item>
    <div slot="content">
      <ion-list *ngIf="mode$ | async as mode">
        <ion-radio-group [value]="mode" (ionChange)="changeMode($event)">
          <ion-item>
            <ion-radio slot="start" value="predefined"></ion-radio>
            <app-observations-days-back (changeDaysBack)="setUseDaysBack($event)"></app-observations-days-back>
          </ion-item>

          <ion-item>
            <ion-radio slot="start" value="custom"></ion-radio>
            <ion-label>{{ "MENU.CUSTOM_TIMESPAN" | translate }}</ion-label>
          </ion-item>
        </ion-radio-group>
        <ion-item class="date-range" *ngIf="mode.value === 'custom'">
          <div class="custom-date-wrapper">
            <div>
              <label>{{ "MENU.START_DATE" | translate }}</label>
              <app-datetime-picker
                presentation="date"
                dateInputType="date"
                [(dateTime)]="fromDate"
                [maxDate]="toDate"
                textAlign="right"
                (dateTimeChange)="setFromDate($event)"
              ></app-datetime-picker>
            </div>

            <div>
              <label>{{ "MENU.END_DATE" | translate }}</label>
              <app-datetime-picker
                presentation="date"
                dateInputType="date"
                [(dateTime)]="toDate"
                [minDate]="fromDate"
                textAlign="right"
                (dateTimeChange)="setToDate($event)"
              ></app-datetime-picker>
            </div>
            <ion-button (click)="onClickSetDate()" size="default" expand="block" fill="solid" color="primary">
              Filtrer
            </ion-button>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>

<ng-template #showDateRange>
  <ng-container *ngIf="dateRangeText">
    <ion-text *ngIf="!isOpen" class="ion-align-self-start">
      <span>{{ dateRangeText }}</span>
    </ion-text>
  </ng-container>
</ng-template>

<ng-template #observationsDaysBackOnly>
  <app-observations-days-back (changeDaysBack)="setUseDaysBack($event)"></app-observations-days-back>
</ng-template>
