<ion-accordion-group #accordionGroup (ionChange)="toggleAccordion($event)">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label color="dark" position="stacked">Tidsrom</ion-label>
      <ion-text class="ion-align-self-start">
        <span *ngIf="!isOpen">{{ modeText | async }}</span>
      </ion-text>
    </ion-item>
    <div slot="content">
      <ion-list>
        <ion-radio-group [(ngModel)]="mode">
          <ion-item>
            <ion-radio [value]="'predefined'" slot="start"></ion-radio>
            <app-observations-days-back (changeDaysBack)="changeDateAndSetMode($event)"></app-observations-days-back>
          </ion-item>

          <ion-item>
            <ion-label>Egendefinert periode</ion-label>
            <ion-radio slot="start" [value]="'custom'"></ion-radio>
          </ion-item>
          <ion-item class="white-background" *ngIf="mode === 'custom'">
            <ion-label slot="start">Startdato</ion-label>
            <app-datetime-picker
              presentation="date"
              [(dateTime)]="fromDate"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [dateTimeFormat]="'dd. MMM yyyy'"
              (dateTimeChange)="setFromDate($event)"
              [textAlign]="'right'"
              size="large"
            ></app-datetime-picker>
          </ion-item>
          <ion-item class="white-background" *ngIf="mode === 'custom'">
            <ion-label slot="start">Sluttdato</ion-label>
            <app-datetime-picker
              presentation="date"
              [(dateTime)]="toDate"
              [minDate]="minDate"
              [maxDate]="maxDate"
              [dateTimeFormat]="'dd. MMM yyyy'"
              (dateTimeChange)="setToDate($event)"
              [textAlign]="'right'"
              size="large"
            ></app-datetime-picker>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
