ion-list.list-md {
  padding-bottom: 0;
}

ion-radio-group ion-item {
  --background: #f7f7f7;
  --border-width: 1px;
  --inner-border-width: 0;
}

ion-accordion ion-item[slot='header'] {
  --ion-color-base: #fff !important;
}

ion-item::part(native) {
  max-width: 100%;
}
