ion-tab-button {
    ion-badge {
        border-radius: 0px;
    }
}

ion-tabs {
    &.md {
        ion-tab-button {
            ion-badge {
                margin-top: -3px;
            }
        }
    }

    &.ios {
        ion-tab-button {
            ion-badge {
                margin-top: 3px;
            }
        }
    }
}