<ion-item href="{{ 'registration/edit/' + registration.id }}">
  <app-geo-icon slot="start" [geoHazard]="registration.geoHazard"></app-geo-icon>
  <ion-label>
    <h2 *ngIf="registration.request.ObsLocation && registration.request.ObsLocation.LocationName">
      {{registration.request.ObsLocation.LocationName}}
    </h2>
    <p text-wrap>
      <ion-icon name="calendar"></ion-icon> {{ registration.request.DtObsTime | formatDate | async }}
    </p>
    <p class="observation-types">
      <ion-badge>
        <!-- {{ getRegistrationNames() }} -->
      </ion-badge>
    </p>
  </ion-label>
  <!-- <ion-thumbnail slot="end">
    <ion-img *ngIf="hasImage" [src]="imgSrc"></ion-img>
  </ion-thumbnail> -->
  <ion-icon *ngIf="registration.error" slot="end" name="warning">
  </ion-icon>
  <div slot="end">
    <ion-spinner *ngIf="isLoading" slot="end"></ion-spinner>
  </div>

</ion-item>