<ion-item lines="full" [detail]="!loading" [routerLink]="'/registration/edit/' + registration.id">
  <div slot="start" class="geo-icon-circle">
    <app-geo-icon [geoHazards]="[registration.geoHazard]" size="0.8"></app-geo-icon>
  </div>
  <ion-label>
    <h2>
      {{ getLocationName(registration) }}
    </h2>
    <p text-wrap>
      <ion-icon name="calendar"></ion-icon> {{ registration.request.DtObsTime | formatDate | async }}
    </p>
    <!-- <p class="observation-types">
      <ion-badge>
         {{ getRegistrationNames() }}
      </ion-badge>
    </p> -->
  </ion-label>
  <!-- <ion-thumbnail slot="end">
    <ion-img *ngIf="hasImage" [src]="imgSrc"></ion-img>
  </ion-thumbnail> -->
  <ion-icon *ngIf="!loading && registration.error" slot="end" name="warning">
  </ion-icon>
  <ion-spinner *ngIf="loading" slot="end"></ion-spinner>
</ion-item>