<ion-item>
  <ion-label color="medium" position="stacked" class="ion-text-uppercase">{{
    "REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT_COMBO" | translate
  }}</ion-label>
  <ion-text class="ion-align-self-start ion-text-wrap ion-margin-bottom">
    <ion-grid class="exposedHight">
      @for (item of heightEntries(); track item.key) {
        <ion-row
          [class]="item.key + ' padding-bottom'"
          [class.selected]="item.value"
          (click)="toggleExsposedHeightCombo(item.key)"
        >
          <ion-col size="12" class="ion-text-center ion-align-self-center">
            <p [class.selected]="item.value">
              {{ "REGISTRATION.SNOW.AVALANCHE_PROBLEM." + item.key.toUpperCase() | translate }}
            </p>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </ion-text>
</ion-item>

@if (heights().top || heights().middle || heights().bottom) {
  <app-select
    [(selectedValue)]="exposedHeight1"
    [options]="heightArray"
    label="REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT1"
  ></app-select>
}
@if (sholdUseExposedHight2()) {
  <app-select
    [(selectedValue)]="exposedHeight2"
    [options]="lowerHeightArray()"
    label="REGISTRATION.SNOW.AVALANCHE_PROBLEM.EXPOSED_HEIGHT2"
  ></app-select>
}
