<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label>
        {{ 'REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.LAYER' | translate}}
      </ion-label>
    </ion-list-header>
    <app-numeric-input [(value)]="layerCopy.Thickness" title="REGISTRATION.SNOW.SNOW_PROFILE.STRAT_PROFILE.THICKNESS"
      [min]="0" suffix="cm" [decimalPlaces]="2" [convertMetersToCm]="true">
    </app-numeric-input>
    <app-kdv-dropdown title="Hardhet" kdvKey="Snow_HardnessKDV" ([value])="layerCopy.HardnessTID"></app-kdv-dropdown>
  </ion-list>
  <app-modal-save-or-delete-buttons (saveClicked)="ok()" (deleteClicked)="delete()" [showDelete]="showDelete">
  </app-modal-save-or-delete-buttons>
</ion-content>