.footer {
  max-height: 45vh;
  overflow-y: auto;
}

.desc {
  font-size: smaller;
  margin: 16px;

  div + div {
      margin-top: 32px;
  }
}

.map-container {
  height: 100%;
}

ion-backdrop {
  opacity: 0.3;
  z-index: 20;
}

#tileCard {
  position: absolute;
  bottom: 16px;
  z-index: 21;
  width: calc(100% - 48px);
  margin: 0 24px;
}

.package-count {
  color: #262626;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.packages-size {
  color: #262626;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.space-available {
  color: #757575;
  font-weight: 400;
  font-size: 15px;
}

.expand-icon {
  color: #262626; 
}