.footer {
  max-height: 45vh;
  overflow-y: auto;
}

.desc {
  font-size: smaller;
  margin: 16px;

  div + div {
    margin-top: 32px;
  }
}

.map-container {
  height: 100%;
}

#tileCard {
  position: absolute;
  bottom: 16px;
  z-index: 21;
  width: calc(100% - 48px);
  margin: 0 24px;
}

.package-count {
  color: var(--ion-text-color-heading);
  font-weight: var(--list-header-font-weight);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.packages-size {
  color: var(--ion-text-color-heading);
  font-size: var(--list-header-font-size);
  text-transform: uppercase;
}

.space-available {
  color: var(--ion-color-medium);
  font-size: var(--list-header-font-size);
}

.expand-icon {
  color: var(--ion-text-color-heading);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-right: 0;
  line-height: 24px;
  width: 72px;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-label {
      font-size: 14px;
    }
  }
}
