<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">{{ 'DIALOGS.CANCEL' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{'REGISTRATION.SNOW.COMPRESSION_TEST.TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        {{'REGISTRATION.SNOW.SNOW_PROFILE.COMPRESSION_TEST.INCLUDE_IN_SNOW_PROFILE' | translate}}
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="compressionTest.IncludeInSnowProfile" name="IncludeInSnowProfile">
      </ion-toggle>
    </ion-item>
    <app-kdv-select title="REGISTRATION.SNOW.COMPRESSION_TEST.TEST_TYPE" kdvKey="Snow_PropagationKDV"
      [(value)]="compressionTest.PropagationTID"></app-kdv-select>
    <ion-item *ngIf="tapsFractureVisible()">
      <ion-label color="medium" position="stacked" class="ion-text-uppercase">{{'REGISTRATION.SNOW.COMPRESSION_TEST.TAPS_FRACTURE'
        | translate}}</ion-label>
      <app-select [(selectedValue)]="compressionTest.TapsFracture" [options]="tapsArray"
        title="REGISTRATION.SNOW.COMPRESSION_TEST.TAPS_FRACTURE"></app-select>
    </ion-item>
    <app-numeric-input *ngIf="!isCTNorECTX()" [(value)]="compressionTest.FractureDepth"
      title="REGISTRATION.SNOW.COMPRESSION_TEST.DISTANCE_FROM_TOP" [min]="0" [max]="999" [decimalPlaces]="0"
      [convertRatio]="100" suffix="cm"></app-numeric-input>
    <app-kdv-select *ngIf="!isCTNorECTX()" title="REGISTRATION.SNOW.COMPRESSION_TEST.FRACTURE_TYPE"
      kdvKey="Snow_ComprTestFractureKDV" [(value)]="compressionTest.ComprTestFractureTID"></app-kdv-select>
    <app-kdv-select *ngIf="!isLBT()" title="REGISTRATION.SNOW.COMPRESSION_TEST.STABILITY_EVAL"
      kdvKey="Snow_StabilityEvalKDV" [(value)]="compressionTest.StabilityEvalTID"></app-kdv-select>
    <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="compressionTest.Comment">
    </app-text-comment>
  </ion-list>
  <app-modal-save-or-delete-buttons [saveDisabled]="!isValid" (saveClicked)="ok()" (deleteClicked)="delete()"
    [showDelete]="showDelete">
  </app-modal-save-or-delete-buttons>
</ion-content>