.loading-sceleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;

  span {
    margin-right: 10px;
  }

  @media only screen and (max-width: 300px) {
    min-width: 0;

    span {
      display: none;
    }
  }

  ion-select {
    background: #fff;
    flex: 2 0 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
  }
}

ion-grid {
  padding: 0;
}

.filter-panel {
  margin: 0 1rem;

  .active {
    background: #fff;
    pointer-events: none;
  }
}

ion-row {
  max-width: 960px;
  margin: 10px auto;
  gap: 10px;
}

ion-col {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ion-item-divider {
  max-width: 960px;
  padding: 0px;

  h3 {
    margin-top: 24px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 899px) {
  .map-extent-filter-toggle,
  .header {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  ion-item-divider {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 465px) {
  ion-col {
    padding: 5px 0;
  }
  .filter-panel {
    display: none;
  }
}

.button-container {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  button {
    width: 40px;
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
  }
  img {
    width: 60%;
  }
}

/*margin auto centers div horizontally within its container*/
.center {
  width: 300px;
  height: 300px;
  margin: auto;
  display: inline-block;
  position: relative;

  .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pin1 {
    position: absolute;
    right: 30%;
    bottom: 23%;
  }

  .pin2 {
    position: absolute;
    left: 25%;
    top: 10%;
  }

  .pin3 {
    position: absolute;
    left: 11%;
    top: 35%;
  }
}

@media only screen and (min-width: 700px) {
  .center {
    margin-top: 20vh;
  }
}

@media only screen and (max-width: 699px) {
  .center {
    margin-top: 5vh;
  }
}

.grid-absolute {
  position: absolute;
  top: 0;
  background-color: #dcecf2;
  z-index: 2;

  ion-row {
    justify-content: center;
    align-items: center;
  }
}

.max-count-reached {
  padding-bottom: 50px;
}

.img-skeleton {
  height: 200px;
  width: 160px;
}

.skeleton-list {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: opacity 1s linear;
  gap: 10px;
}

@media only screen and (max-width: 960x) {
  .skeleton-list {
    margin: 0 1rem;
  }
}

.error {
  flex-direction: column;
  width: 95%;
}
