.loading-sceleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;

  span {
    margin-right: 10px;
  }

  @media only screen and (max-width: 300px) {
    min-width: 0;

    span {
      display: none;
    }
  }

  ion-select {
    background: #fff;
    flex: 2 0 0;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
  }
}

ion-grid {
  padding: 0;
}

.filter-panel {
  margin: 0 1rem;

  .active {
    background: #fff;
    pointer-events: none;
  }
}

ion-row {
  max-width: 960px;
  margin: 10px auto;
  gap: 10px;
}

ion-col {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ion-item-divider {
  max-width: 960px;
  padding: 0px;

  h3 {
    margin-top: 24px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 899px) {
  .map-extent-filter-toggle,
  .header {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  ion-item-divider {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 465px) {
  ion-col {
    padding: 5px 0;
  }
  .filter-panel {
    display: none;
  }
}

.button-container {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  button {
    width: 40px;
    height: 35px;
    background-color: transparent;
    border-radius: 5px;
  }
  img {
    width: 60%;
  }
}
