:host {
  --bottom-content-height: 94px;
  --map-center-info-height: 0px;
}

app-map {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--bottom-content-height);
}

.bottom-background {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  justify-content: center;
  padding: 0 10px;

  .bottom-info {
    max-width: 600px;
    gap: 0;
  }

  .confirm-button-col {
    padding: 10px 14px;
    box-shadow: 0px -15px 15px -15px rgba(0, 0, 0, 0.1), 0px -8px 6px -6px rgba(0, 0, 0, 0.05);;

    ion-button {
      height: var(--ion-button-height);
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.flex-row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.flex-grow {
  flex: 1 1 0;
}

.flex-space {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.flex-align-start {
  align-items: start;
}

.horizontal-dist-box {
  width: 189px;
  padding-top: 24px;
}

.vertical-dist-box {
  display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
}

.details-row {
  margin: 15px 15px 12px 15px;

  .dotted-line {
    width: 100%;
  }

.obs-location-marker {
  margin-top: 10px;
  height: 28px;
  display: inline-block;
  }

.distance-label {
  padding-top: 3px;
  padding-bottom: 3px;
}
  
  ion-spinner {
    height: 20px;
  }
}

.padding-right {
  padding-right: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.block {
  display: block !important;
}

.detail-header {
  font-size: 12px;
}

.small-text {
  font-size: 12px;
}

.leaflet-usermarker {
  width: 18px;
  height: 18px;
  background-color: #fff;
  background-size: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 5px 0px black;
  -moz-box-shadow: 1px 1px 5px 0px black;
  box-shadow: 1px 1px 5px 0px black;
  display: inline-block;
  transform: translateX(-2px);
}

.location-name-container {
  min-height: 46px;
}
.leaflet-usermarker:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #4286f4;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}

.box {
  border: 2px solid #d7d6d6;
  padding: 10px 15px;
}

.selectors {
  border: 2px solid #d7d6d6;
  z-index: 20;
  padding: 0;
}

.name-button {
  width: 75px;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-left-padding {
  padding-left: 0;
}

.edit-name-button {
  font-size: inherit;
  height: 100%;
  max-height: 46px;

}

.tooltip {
  opacity: 0;
  width: 290px;
  background-color: #444444;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: -57px;
    right: -50%;
  z-index: 30;
  transition: opacity 0.5s;
}

@media(hover: hover) {
.edit-name-button:hover .tooltip {
  opacity: 0.8;
}
}
.edit-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  color: #000;
}