<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.SNOW_SURFACE.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.SnowSurfaceObservation"
    [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.SNOW.SNOW_SURFACE.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <app-numeric-input [(value)]="registration.request.SnowSurfaceObservation.SnowDepth"
        title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DEPTH" [min]="0" [max]="9999" [decimalPlaces]="2"
        [convertRatio]="100" suffix="cm"></app-numeric-input>
      <app-numeric-input [(value)]="registration.request.SnowSurfaceObservation.NewSnowDepth24"
        title="REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_DEPTH" [min]="0" [max]="999" [decimalPlaces]="2"
        [convertRatio]="100" suffix="cm"></app-numeric-input>
      <app-numeric-input [(value)]="registration.request.SnowSurfaceObservation.NewSnowLine"
        title="REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_LINE" [min]="0" [max]="8848" [decimalPlaces]="0"
        suffix="{{ 'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate }}"></app-numeric-input>
      <app-numeric-input [(value)]="registration.request.SnowSurfaceObservation.SnowLine"
        title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_LINE" [min]="0" [max]="8848" [decimalPlaces]="0"
        suffix="{{ 'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate }}"></app-numeric-input>
      <app-numeric-input [(value)]="registration.request.SnowSurfaceObservation.HeightLimitLayeredSnow"
        title="REGISTRATION.SNOW.SNOW_SURFACE.HEIGHT_LIMIT_LAYERED_SNOW" [min]="0" [max]="8848" [decimalPlaces]="0"
        suffix="{{ 'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate }}"
        placeholder="REGISTRATION.SNOW.SNOW_SURFACE.HIGHT_LIMIT_LAYERED_SNOW_PLACEHOLDER"></app-numeric-input>
      <app-kdv-select title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DRIFT" kdvKey="Snow_SnowDriftKDV"
        [(value)]="registration.request.SnowSurfaceObservation.SnowDriftTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_SURFACE" kdvKey="Snow_SnowSurfaceKDV"
        [(value)]="registration.request.SnowSurfaceObservation.SnowSurfaceTID"></app-kdv-select>
      <app-kdv-select title="REGISTRATION.SNOW.SNOW_SURFACE.SURFACE_WATER_CONTENT_REG"
        kdvKey="Snow_SurfaceWaterContentKDV"
        [(value)]="registration.request.SnowSurfaceObservation.SurfaceWaterContentTID"></app-kdv-select>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.SNOW.SNOW_SURFACE.COMMENT_HEADER' | translate}}
        </ion-label>
      </ion-list-header>
      <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT"
        [(value)]="registration.request.SnowSurfaceObservation.Comment"></app-text-comment>
      <ion-item-divider>
        <ion-label text-wrap>
          {{ 'REGISTRATION.SNOW.SNOW_SURFACE.COMMENT_PLACEHOLDER' | translate }}
        </ion-label>
      </ion-item-divider>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid">
      </app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>