<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.SNOW_SURFACE.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="registration && registration.SnowSurfaceObservation">
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.SNOW_SURFACE.TITLE' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DEPTH'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="1000" pattern="[0-9]*" step="1" [(ngModel)]="registration.SnowSurfaceObservation.SnowDepth"
        placeholder="{{'REGISTRATION.IN_FULL_CM' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_DEPTH'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="1000" pattern="[0-9]*" step="1" [(ngModel)]="registration.SnowSurfaceObservation.NewSnowDepth24"
        placeholder="{{'REGISTRATION.IN_FULL_CM' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_LINE'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="9999" pattern="[0-9]*" step="1" [(ngModel)]="registration.SnowSurfaceObservation.NewSnowLine"
        placeholder="{{'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.SNOW_SURFACE.SNOW_LINE'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="9999" pattern="[0-9]*" step="1" [(ngModel)]="registration.SnowSurfaceObservation.SnowLine"
        placeholder="{{'MAP_CENTER_INFO.ABOVE_SEA_LEVEL' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{
        'REGISTRATION.SNOW.SNOW_SURFACE.HEIGHT_LIMIT_LAYERED_SNOW'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="9999" pattern="[0-9]*" step="1" [(ngModel)]="registration.SnowSurfaceObservation.HeightLimitLayeredSnow"
        placeholder="{{'REGISTRATION.SNOW.SNOW_SURFACE.HIGHT_LIMIT_LAYERED_SNOW_PLACEHOLDER' | translate}}">
      </ion-input>
    </ion-item>
    <app-kdv-dropdown title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DRIFT" kdvKey="Snow_SnowDriftKDV" [(value)]="registration.SnowSurfaceObservation.SnowDriftTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_SURFACE" kdvKey="Snow_SnowSurfaceKDV" [(value)]="registration.SnowSurfaceObservation.SnowSurfaceTID"></app-kdv-dropdown>
    <app-kdv-dropdown title="REGISTRATION.SNOW.SNOW_SURFACE.SURFACE_WATER_CONTENT_REG" kdvKey="Snow_SurfaceWaterContentKDV"
      [(value)]="registration.SnowSurfaceObservation.SurfaceWaterContentTID"></app-kdv-dropdown>
    <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="registration.SnowSurfaceObservation.Comment"
      placeholder="REGISTRATION.SNOW.SNOW_SURFACE.COMMENT_PLACEHOLDER"></app-text-comment>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.ADD_IMAGES' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-add-picture-item [(images)]="registration.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
  </ion-list>
  <app-navigation-buttons [previousUrl]="applyRegId('registration/danger-obs')" previousText="REGISTRATION.DANGER_OBS.TITLE"
    [nextUrl]="applyRegId('registration/snow/avalanche-activity')" nextText="REGISTRATION.SNOW.AVALANCHE_ACTIVITY.TITLE"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>