ion-list {
  padding-bottom: 10px;
}

@media screen and (max-width: 345px) {
  .question {
    display: none;
  }
}
//removed z-index as the backdrop for snow-simple-obs would not cover the entire screen (unless moved to app-overview component which is too high in a stack
ion-content::part(scroll) {
  z-index: unset;
}
ion-grid.header {
  --ion-grid-padding: 0;
  --ion-grid-padding-xs: 0;
  --ion-grid-padding-sm: 0;
  --ion-grid-padding-md: 0;
  --ion-grid-padding-lg: 0;
  --ion-grid-padding-xl: 0;

  .question ion-label {
    font-weight: 600;
  }

  ion-grid, ion-row, ion-col {
    padding: 0;
  }

  .simple-obs-toggle {
    ion-label {
      text-align: right;
    }
  }

  ion-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-overflow: unset;
  }

  ion-item {
    --background: inherit;
    --border-style: none;
  }
}
