<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"REGISTRATION.OVERVIEW.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="draft$ | async as draft">
  <ion-content>
    <!-- Error info if posting the registration failed -->
    <app-failed-registration
      *ngIf="draft.error && draftHasStatusSync(draft)"
      [draft]="draft"
    ></app-failed-registration>

    <div *ngIf="showSnowObsModeSelector$ | async">
      <ion-label>
        {{'SETTINGS.SIMPLE_SNOW_OBS_MODE' | translate}}
      </ion-label>
      <ion-toggle [(ngModel)]="userSetting.simpleSnowObservations" (ionChange)="saveUserSettings()"></ion-toggle>
    </div>
    
    <div *ngIf="userSetting.simpleSnowObservations">
      TODO: Enkel snøobs!
      TODO: Initialisere skjemaene vi trenger, f.eks. SnowSurfaceObservation
      TODO: Skille ut denne div'en i egen komponent
      
      <!--app-numeric-input [(value)]="draft.registration.SnowSurfaceObservation.NewSnowDepth24"
      title="REGISTRATION.SNOW.SNOW_SURFACE.NEW_SNOW_DEPTH" [min]="0" [max]="999" [decimalPlaces]="0"
      [convertRatio]="100" suffix="cm"></app-numeric-input>
      
      <app-numeric-input [(value)]="draft.registration.SnowSurfaceObservation.SnowDepth"
        title="REGISTRATION.SNOW.SNOW_SURFACE.SNOW_DEPTH" [min]="0" [max]="9999" [decimalPlaces]="0"
        [convertRatio]="100" suffix="cm"></app-numeric-input-->
    </div>

    <ion-list *ngIf="!userSetting.simpleSnowObservations" lines="full">
      <!-- "Summary" items for each form -->
      <app-summary-item
        [readonly]="draftHasStatusSync(draft)"
        *ngFor="let item of summaryItems$ | async; trackBy: trackByFunction"
        [item]="item"
      ></app-summary-item>
    </ion-list>
  </ion-content>
  <app-send-button [draft]="draft"></app-send-button>
</ng-container>