ion-grid {
    background-color: #fff;
    margin-top: 30px;
}

.back-button {
    background-color: var(--ion-background-color,#fff);
}

.reset-button {
    margin-bottom: var(--ion-safe-area-bottom, 5px);
}