<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-button
        class="back-button"
        expand="block"
        fill="solid"
        color="primary"
        (click)="goBack()"
        routerDirection="backward"
      >
        {{ "REGISTRATION.BACK_TO_OBSERVATION" | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="reset-button-row">
    <ion-col class="ion-text-center">
      <ion-button class="reset-button" (click)="doReset()" color="dark" size="small" fill="clear">
        <svg-icon src="/assets/icon/reset.svg"></svg-icon>
        {{ "REGISTRATION.RESET" | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
