<ion-item tabindex="0" class="summary-item" (click)="openModal()" (keyup.enter)="openModal()">
  <ion-label class="ion-padding-vertical ion-padding-end">
    <h2>{{ "REGISTRATION.SNOW.SNOW_PROFILE.SNOW_DENSITY.TITLE" | translate }}</h2>
    <p>
      @if (!isEmpty()) {
        <ion-text>
          {{ nLayers() }}
          @if (nLayers() === 1) {
            {{ "REGISTRATION.SNOW.SNOW_PROFILE.SNOW_DENSITY.ONE_LAYER" | translate }}
          } @else {
            {{ "REGISTRATION.SNOW.SNOW_PROFILE.SNOW_DENSITY.MULTIPLE_LAYERS" | translate }}
          }
        </ion-text>
      } @else {
        {{ "REGISTRATION.SNOW.SNOW_PROFILE.SNOW_DENSITY.EMPTY" | translate }}
      }
    </p>
  </ion-label>
  @if (!isEmpty()) {
    <ion-icon slot="end" color="success" name="checkmark-circle"></ion-icon>
  }
</ion-item>
