<ion-app>
  <ion-split-pane>
    <ion-menu side="end">
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-list-header>
              Generelt
            </ion-list-header>
            <ion-item href="/user-settings" routerDirection="forward">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>
                {{'SETTINGS.TITLE' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>