@if (weatherPhenomenon()) {
  <app-key-value
    [key]="'REGISTRATION.SNOW.WEATHER.WEATHER_PHENOMENON' | translate"
    [value]="weatherPhenomenon()"
  ></app-key-value>
}
@if (precipitation()) {
  <app-key-value
    [key]="'REGISTRATION.SNOW.WEATHER.PRECIPITATION' | translate"
    [value]="precipitation()"
  ></app-key-value>
}
@if (airTemperature()) {
  <app-key-value
    [key]="'REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE_CAPTION' | translate"
    [value]="airTemperature() + ' °C'"
  ></app-key-value>
}
@if (windDirectionName()) {
  @if (windSpeed()) {
    <app-key-value [key]="'REGISTRATION.SNOW.WEATHER.WIND_SPEED_AND_DIRECTION_CAPTION' | translate">
      <span>{{
        "REGISTRATION.SNOW.WEATHER.WIND_SPEED_AND_DIRECTION_VALUE"
          | translate: { speed: windSpeed(), direction: windDirectionName() }
      }}</span>
      <span class="wind-arrow" [style.transform]="'rotate(' + windDirection() + 'deg)'" aria-disabled> ↑ </span>
    </app-key-value>
  }
}
@if (cloudCover()) {
  <app-key-value
    [key]="'REGISTRATION.SNOW.WEATHER.CLOUD_COVER_CAPTION' | translate"
    [value]="'REGISTRATION.SNOW.WEATHER.CLOUD_COVER_VALUE' | translate: { value: cloudCover() }"
  ></app-key-value>
}
@if (forecastCorrect()) {
  <app-key-value
    [key]="'REGISTRATION.SNOW.WEATHER.FORECAST_CORRECT_CAPTION' | translate"
    [value]="forecastCorrect()"
  ></app-key-value>
}
@if (comment()) {
  <app-key-value [key]="'REGISTRATION.SNOW.WEATHER.COMMENT_CAPTION' | translate" [value]="comment()"></app-key-value>
}
@if (consequence()) {
  <app-key-value [key]="'Konsekvens' | translate" [value]="consequence()"></app-key-value>
}
