ion-footer {
    ion-toolbar {
        --background: #fff;
    }

    .send-button-col {
        ion-button {
            margin-left: 6px;
            margin-right: 6px;
            height: var(--ion-button-height);
        }
    }
}