ion-footer {
  ion-toolbar {
    --background: #fff;
  }

  .send-button-col {
    ion-button {
      max-width: 400px;
      margin: 10px auto;
      height: var(--ion-button-height);
    }

    @media only screen and (max-width: 400px) {
      ion-button {
        margin: 6px;
      }
    }
  }

  .delete-button-wrapper {
    max-width: 400px;
    margin: auto;
  }

  .delete-button-col {
    --ion-button-font-size: 11px;

    ion-button {
      svg-icon {
        margin-right: 6px;
        display: flex;
      }
    }
  }
}
