ion-title {
    padding-right: 0px;
    padding-left: 0px;
}

ion-content {
    ion-list {
        margin-top: 1px;
        ion-item {
            ion-label {
            .search-result-name {
                padding-right: 10px;
            }
            .search-description {
                font-size: 10px;
            }
            }       
        }
    }
}
