<ion-header>
  <ion-toolbar mode='ios'>
    <form (ngSubmit)='doSearch()'>
      <ion-list lines='none' class='ion-no-padding ion-no-margin'>
        <ion-item>
          <ion-icon slot='start' name='search'></ion-icon>
          <ion-input placeholder="{{'MAP_SEARCH.SEARCH_TEXT'|translate}}" [formControl]='searchField' #searchInput
            (ionBlur)='doSearch()'></ion-input>
          <ion-icon slot='end' name='close' (click)='closeModal()'></ion-icon>
        </ion-item>
      </ion-list>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf='searchResult$ | async as searchResults' lines='full' class='search-result'>
    <ion-item *ngFor='let item of searchResults' (click)='searchItemClicked(item)'>
      <ion-label>
        <ion-text class='search-result-name' [innerHTML]='item.name | startsWithHighlight:searchText'></ion-text>
        <ion-text color='medium' class='search-description'>{{item.description}}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf='searchHistory$ | async as searchHistory'>
    <ion-list *ngIf='!hasResults && !loading && searchHistory.length > 0' lines='full' class='search-result'>
      <ion-list-header class='ion-text-uppercase'>
        <ion-label>{{'MAP_SEARCH.SEARCH_HISTORY_HEADER' | translate}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor='let item of searchHistory' (click)='searchItemClicked(item)'>
        <ion-icon slot='start' mode='md' name='time'></ion-icon>
        <ion-label>
          <ion-text class='search-result-name'>{{item.name}}</ion-text>
          <ion-text color='medium' class='search-description'>{{item.description}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>