.map-container {
  padding: 16px;
  height: 68%;
}

@media screen and (max-height:768px) {
  .map-container {
    height: 60%;
  }
}

.right {
  text-align: right;
}

.buttons-container {
  flex-wrap: wrap;
}

@media only screen and (max-width:765px) {
  .buttons-container ion-col {
    flex-basis: 100%;
  }
  
}