<ion-header>
  <ion-toolbar appHeaderColor>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.TITLE" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-registration-content-wrapper
    *ngIf="draft && edit"
    [draft]="draft"
    [registrationTid]="registrationTid"
    (reset)="reset()"
  >
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label> {{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.TITLE" | translate }} </ion-label>
      </ion-list-header>
      <ion-item detail="false" (click)="setLandslidePosition()">
        <ion-label color="medium" position="stacked" class="ion-text-uppercase">{{
          "REGISTRATION.DIRT.LAND_SLIDE_OBS.POSITION" | translate
        }}</ion-label>
        <ion-text class="ion-align-self-start ion-text-wrap">
          <ion-icon class="position-pin" color="medium" name="location"></ion-icon>
          <ng-container *ngIf="edit.StartLat; else noPosition">
            {{ edit.StartLat | number: "0.3" }}&deg;{{ "MAP_CENTER_INFO.NORTH_SHORT" | translate }},
            {{ edit.StartLong | number: "0.3" }}&deg;{{ "MAP_CENTER_INFO.EAST_SHORT" | translate }} -
            {{ edit.StopLat | number: "0.3" }}&deg;{{ "MAP_CENTER_INFO.NORTH_SHORT" | translate }},
            {{ edit.StopLong | number: "0.3" }}&deg;{{ "MAP_CENTER_INFO.EAST_SHORT" | translate }}
          </ng-container>
        </ion-text>
        <ion-icon slot="end" class="item-detail-icon" name="chevron-forward"> </ion-icon>
      </ion-item>
      <ion-item [ngClass]="{ hasWarning: dateIsDifferentThanObsTime }">
        <ion-label
          [color]="!edit.DtLandSlideTime ? 'danger' : 'medium'"
          position="stacked"
          class="ion-text-uppercase"
          >{{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.DT_LAND_SLIDE_TIME" | translate }}</ion-label
        >
        <app-datetime-picker
          [(dateTime)]="edit.DtLandSlideTime"
          (dateTimeChange)="dtTimeChanged()"
          [maxDate]="maxDateStart"
        ></app-datetime-picker>
        <ion-button
          class="set-to-now-button"
          slot="end"
          fill="outline"
          color="medium"
          (click)="setDtLandSlideTimeToNow()"
        >
          <ion-icon slot="start" name="time"></ion-icon>
          {{ "REGISTRATION.SET_TIME.NOW" | translate }}
        </ion-button>
      </ion-item>
      <ion-item *ngIf="dateIsDifferentThanObsTime">
        <ion-label color="danger" class="ion-text-wrap">
          {{ "ALERT.WARNING" | translate }}! {{ "REGISTRATION.SNOW.AVALANCHE_ACTIVITY.DATE_WARNING" | translate }}
        </ion-label>
      </ion-item>
      <ion-item [ngClass]="{ hasWarning: dateEndIsDifferentThanObsTime }">
        <ion-label
          [color]="!edit.DtLandSlideTimeEnd ? 'danger' : 'medium'"
          position="stacked"
          class="ion-text-uppercase"
          >{{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.DT_LAND_SLIDE_TIME_END" | translate }}</ion-label
        >
        <app-datetime-picker
          [(dateTime)]="edit.DtLandSlideTimeEnd"
          (dateTimeChange)="dtEndTimeChanged()"
          [maxDate]="maxDateEnd"
          [minDate]="minDateEnd"
        ></app-datetime-picker>
        <ion-button
          class="set-to-now-button"
          slot="end"
          fill="outline"
          color="medium"
          (click)="setDtLandSlideTimeEndToNow()"
        >
          <ion-icon slot="start" name="time"></ion-icon>
          {{ "REGISTRATION.SET_TIME.NOW" | translate }}
        </ion-button>
      </ion-item>
      <ion-item *ngIf="dateEndIsDifferentThanObsTime">
        <ion-label color="danger" class="ion-text-wrap">
          {{ "ALERT.WARNING" | translate }}! {{ "REGISTRATION.SNOW.AVALANCHE_ACTIVITY.DATE_WARNING" | translate }}
        </ion-label>
      </ion-item>
      <app-kdv-select
        label="REGISTRATION.DIRT.LAND_SLIDE_OBS.LANDSLIDE_TYPE"
        kdvKey="Dirt_LandSlideKDV"
        [(value)]="edit.LandSlideTID"
      ></app-kdv-select>
      <app-kdv-select
        label="REGISTRATION.DIRT.LAND_SLIDE_OBS.DESTRUCTIVE_SIZE"
        kdvKey="Dirt_LandSlideSizeKDV"
        [(value)]="edit.LandSlideSizeTID"
      ></app-kdv-select>
      <app-kdv-select
        label="REGISTRATION.DIRT.LAND_SLIDE_OBS.AVAL_TRIGGER"
        kdvKey="Dirt_LandSlideTriggerKDV"
        [(value)]="edit.LandSlideTriggerTID"
      ></app-kdv-select>
      <app-kdv-select
        label="REGISTRATION.DIRT.LAND_SLIDE_OBS.DIRT_ACTIVITY_INFLUENCED"
        kdvKey="Dirt_ActivityInfluencedKDV"
        [(value)]="edit.ActivityInfluencedTID"
      >
      </app-kdv-select>
      <!--  <app-kdv-select label='REGISTRATION.DIRT.LAND_SLIDE_OBS.DAMAGE_EXTENT' kdvKey='DamageExtentKDV'
                            [(value)]='edit.DamageExtentTID'></app-kdv-select>-->
      <app-kdv-select
        label="REGISTRATION.DIRT.LAND_SLIDE_OBS.DIRT_FORECAST_ACCURATE"
        kdvKey="ForecastAccurateKDV"
        [(value)]="edit.ForecastAccurateTID"
      ></app-kdv-select>
      <ion-list-header class="ion-text-uppercase">
        <ion-label> {{ "REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE" | translate }} </ion-label>
      </ion-list-header>
      <app-text-comment
        [(value)]="edit.Comment"
        placeholder="{{ 'REGISTRATION.GENERAL_COMMENT.COMMENT_PLACEHOLDER' | translate }}"
      ></app-text-comment>
      <ion-list-header class="ion-text-uppercase">
        <ion-label> {{ "REGISTRATION.ADD_IMAGES" | translate }} </ion-label>
      </ion-list-header>
      <app-edit-images
        [registrationTid]="registrationTid"
        [geoHazard]="draft.registration.GeoHazardTID"
        [draftUuid]="draft.uuid"
        [(existingAttachments)]="draft.registration.Attachments"
        [onBeforeAdd]="getSaveFunc()"
      ></app-edit-images>
      <ion-list-header class="ion-text-uppercase">
        <ion-label> {{ "REGISTRATION.ADD_WEB_URL.TITLE" | translate }} </ion-label>
      </ion-list-header>
      <app-add-web-url-item [(weburls)]="edit.Urls"></app-add-web-url-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>
<ng-template #noPosition>
  {{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.SET_LANDSLIDE_POSITION" | translate }}
  {{ "REGISTRATION.DIRT.LAND_SLIDE_OBS.IN_MAP" | translate }}
</ng-template>
