<ion-menu-toggle auto-hide="false">
  <ion-list lines="full" *ngIf="userSettings">
    <ion-list-header color="light" no-margin>
      <ion-label>
        {{'MENU.USER_SETTINGS' | translate}}
      </ion-label>
    </ion-list-header>
    <app-user-login></app-user-login>
    <ion-item routerLink="/user-settings" routerDirection="forward">
      <ion-icon slot="start" name="settings"></ion-icon>
      <ion-label>
        {{'SETTINGS.TITLE' | translate}}
      </ion-label>
    </ion-item>
    <ion-list-header color="light" no-margin>
      <ion-label>
        {{'MENU.MAP_SETTINGS' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked" color="medium" text-uppercase>{{ 'MENU.MAP' | translate }}</ion-label>
      <ion-select cancelText="{{'DIALOGS.CANCEL' | translate}}" [(ngModel)]="userSettings.topoMap" interface="action-sheet"
        (ngModelChange)="saveUserSettings()">
        <ion-select-option [value]="TopoMap.mixArcGisOnline">ArcGisOnline + Statens Kartverk</ion-select-option>
        <ion-select-option [value]="TopoMap.mixOpenTopo">OpenTopo + Statens Kartverk</ion-select-option>
        <ion-select-option [value]="TopoMap.statensKartverk">Norgeskart fra Statens Kartverk</ion-select-option>
        <ion-select-option [value]="TopoMap.arcGisOnline">ArcGisOnline</ion-select-option>
        <ion-select-option [value]="TopoMap.openTopo">OpenTopo</ion-select-option>
      </ion-select>
    </ion-item>
    <app-observations-days-back></app-observations-days-back>
    <app-update-observations></app-update-observations>
    <!-- <ion-item *ngIf="userSettings.showObservations" (click)="updateObservations()">
      <ion-icon slot="start" name="refresh"></ion-icon>
      <ion-label text-wrap>
        <h2>{{'MENU.UPDATE_OBSERVATIONS' | translate}}</h2>
        <p *ngIf="lastUpdated">{{'MENU.LAST_UPDATED' | translate}} {{ lastUpdated | date:
          settings.dateFormats.angular.dateAndTime }}</p>
      </ion-label>
    </ion-item> -->
    <!-- <ion-item>
      <ion-icon slot="start" name="walk"></ion-icon>
      <ion-label>
        {{'MENU.SHOW_TRIPS' | translate}}
      </ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item> -->
    <ion-item>
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>
        {{'MENU.SHOW_MAP_CENTER' | translate}}
      </ion-label>
      <ion-toggle [checked]="userSettings.showMapCenter" [(ngModel)]="userSettings.showMapCenter" (ionChange)="saveUserSettings()"></ion-toggle>
    </ion-item>
    <!-- <ion-item *ngIf="useAppInNorway" routerLink="/offline-map" routerDirection="forward">
      <ion-icon slot="start" name="flash"></ion-icon>
      <ion-label>
        {{'OFFLINE_MAP.TITLE' | translate}}
      </ion-label>
    </ion-item> -->
    <app-support-tiles-menu [userSetting]="userSettings"></app-support-tiles-menu>
    <ion-list-header color="light" no-margin>
      <ion-label>
        {{'MENU.OTHER' | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item (click)="showLegalTerms()" detail="true">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{'MENU.ABOUT_REGOBS' | translate}}</ion-label>
    </ion-item>
    <ion-item routerLink="/start-wizard" routerDirection="root">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{'MENU.START_WIZARD' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        {{'MENU.TOPO_MAP_CREDITS' | translate}} <app-external-link src="https://www.kartverket.no/">@Karverket</app-external-link>
        {{'MENU.AND' | translate}}
        <app-external-link src="https://opentopomap.org/">@OpenTopoMap</app-external-link>.
        {{'MENU.SUPPORT_MAP_CREDITS' | translate}} <app-external-link src="https://www.nve.no/">@NVE</app-external-link>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-menu-toggle>