<ion-list>
  <ion-menu-toggle auto-hide="false">
    <ion-list-header color="light">
      Generelt
    </ion-list-header>
    <ion-item href="/user-settings" routerDirection="forward">
      <ion-icon slot="start" name="settings"></ion-icon>
      <ion-label>
        {{'SETTINGS.TITLE' | translate}}
      </ion-label>
    </ion-item>
    <ion-list-header color="light">
      {{'MENU.MAP_SETTINGS' | translate}}
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="eye"></ion-icon>
      <ion-label>
        {{'MENU.SHOW_OBSERVATIONS' | translate}}
      </ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item (click)="updateObservations()">
      <ion-icon slot="start" name="refresh"></ion-icon>
      <ion-label text-wrap>
        <h2>Oppdater observasjoner</h2>
        <p *ngIf="lastUpdated">Sist oppdatert {{ lastUpdated | date: 'dd.MM.yyyy HH:mm' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="walk"></ion-icon>
      <ion-label>
        {{'MENU.SHOW_TRIPS' | translate}}
      </ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{'MENU.SHOW_OBSERVATIONS' | translate}}</ion-label>
      <ion-select>
        <ion-select-option value="1" selected>1 dag tilbake i tid</ion-select-option>
        <ion-select-option value="2">2 dager tilbake i tid</ion-select-option>
        <ion-select-option value="3">3 dager tilbake i tid</ion-select-option>
        <ion-select-option value="7">1 uke tilbake i tid</ion-select-option>
        <ion-select-option value="14">2 uker tilbake i tid</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="flash"></ion-icon>
      <ion-label>
        {{'OFFLINE_MAP.TITLE' | translate}}
      </ion-label>
    </ion-item>
    <app-support-tiles-menu></app-support-tiles-menu>
    <ion-item href="/start-wizard" routerDirection="root">
      Start wizard
    </ion-item>
  </ion-menu-toggle>
</ion-list>