<ion-item-sliding (ionDrag)="onDrag()">
  <ion-item class="ion-no-padding" [detail]="isIceGeoHazard()" lines="full">
    <div slot="start" class="geo-icon-circle" (click)="navigateToWeb($event, warningGroup())">
      <app-geo-icon [geoHazards]="[warningGroup().key.geoHazard]"></app-geo-icon>
    </div>
    <ion-label (click)="navigateToWeb($event, warningGroup())">
      <h2>{{ warningGroup().key.groupName }}</h2>
    </ion-label>
    @if (!isIceGeoHazard()) {
      <ion-grid>
        <ion-row>
          @for (day of [0, 1, 2]; track $index) {
            <ion-col>
              @if (warningGroup().getDayWarning(day); as warning) {
                <ion-badge
                  [color]="'warninglevel-' + warning.warningLevel"
                  (click)="navigateToWebByDay($event, warningGroup(), day)"
                >
                  {{ warning.warningLevel > 0 ? warning.warningLevel : "?" }}
                  @if (warning.emergencyWarning) {
                    <ion-icon name="alert"></ion-icon>
                  }
                </ion-badge>
              } @else {
                <ion-badge color="warninglevel-0">?</ion-badge>
              }
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    }
  </ion-item>
  <ion-item-options side="end" (ionSwipe)="itemSwiped()">
    <ion-item-option expandable="true" (click)="toggleFavourite()">
      <app-warning-group-favourite-toggle [key]="warningGroup().key"> </app-warning-group-favourite-toggle>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
