ion-item {
    --inner-padding-end: 0px;

    ion-grid {
        display: contents;
    }
}

ion-item-option {
    --background: lightgrey;
}

.geo-icon-circle {
    height: 36px;
    width: 36px;
    background-color: #F7F7F7;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 16px;

    app-geo-icon {
        position: relative;
        top: 8px;
    }
}

ion-icon {
    &.favourite {
        color: yellow;
    }
}

ion-badge {
    border-radius: 2px;
    height: 36px;
    width: 36px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;

    ion-icon {
        position: relative;
        top: 3px;
        left: -5px;
    }
}   