@import "../../../global.scss";
.map-center-info {
	height: var(--map-center-info-height);
    border-radius: 5px;
    min-width: 153px;
    background-color: rgba(43,51,51,0.9);
    position: absolute;
    bottom: calc(var(--map-item-height) + 12px);
    left: 11px;
    z-index: $z-index-over-map;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    display: block;
}

.center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37px,-37px);
    z-index: $z-index-over-map;
}