ion-fab {
  position: initial !important;
}

ion-fab-button {
  height: var(--map-control-fab-size);
  width: var(--map-control-fab-size);
}

svg-icon {
  width: var(--map-control-fab-icon-size);
  height: var(--map-control-fab-icon-size);
}
