ion-fab {
  position: initial !important;
}

ion-fab-button {
  height: var(--map-control-fab-size);
  width: var(--map-control-fab-size);
  margin-bottom: 5px;
}

ion-icon {
  font-size: var(--map-control-fab-icon-size);
}