<ion-header mode="ios" *ngIf="!fullscreenSupport || !(isFullscreen$ | async)">
  <ion-toolbar class="app-header-color" [ngClass]="headerColor" mode="ios">
    <ion-buttons slot="start" *ngIf="!showMenuButton">
      <ion-back-button text="" [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showMenuButton">
      <ion-menu-toggle autoHide="false">
        <ion-button (click)="toggleMenu()">
          <svg-icon *ngIf="splitPaneClosed || !isDesktop" src="/assets/icon/menuanimation.svg"></svg-icon>
          <svg-icon *ngIf="!splitPaneClosed && isDesktop" [ngClass]="'transition'" src="/assets/icon/menuarrow.svg"></svg-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-menu-button *ngIf="false" color="light" mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!tripRunning">
      {{ title | translate }}
    </ion-title>
    <ion-title *ngIf="tripRunning">
      <ion-button class="stop-trip" size="small" color="success" (click)="endTrip()">
        {{ 'TRIP.STOP_TRIP' | translate }}
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>