<ion-item>
  <h2 class="ion-label-fat">{{ "REGISTRATION.ADD_WEB_URL.LABEL" | translate }}</h2>
  @for (url of weburls(); track $index) {
    <ion-button (click)="addOrEdit($index)" fill="clear">
      <span class="url">{{ url.UrlDescription && url.UrlDescription + " -" }} {{ url.UrlLine }}</span>
    </ion-button>
  }
  <ion-button fill="clear" (click)="addOrEdit()">
    <ion-icon [color]="iconColor()" name="add-circle-outline" slot="start"></ion-icon>
    {{ title() | translate }}
  </ion-button>
</ion-item>
