.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  img {
    object-fit: cover;
    max-width: 100%;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;
}

@media only screen and (min-width: 600px) {
  .container {
    align-items: unset;
  }
}

ion-slide {
  width: 100% !important;
}

ion-fab-button {
  --background: #fff;
  --color: #3389fd;
  position: absolute;
  top: calc(30px + env(safe-area-inset-top));
  right: 10px;
  z-index: 9999;
}

.swiper-button-custom {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: 10px 40px;
}
