.img-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #000;
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 90vh;
  }
}

.img-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  a {
    display: inherit;
    text-decoration: none;
    img {
      width: 20px;
      margin-left: 0.3rem;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.swiper-button-custom {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: 10px 40px;
}

ion-fab-button {
  --background: #fff;
  --color: #3389fd;
  position: absolute;
  top: calc(30px + env(safe-area-inset-top));
  right: 10px;
  z-index: 9999;
}

ion-slides {
  overflow: visible;
}

ion-item {
  --background: #dcecf2;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 600;
  bottom: 0;
  width: 100%;
  color: var(--ion-color-varsom-blue);
}
