ion-content {
    --ion-background-color: #000;
}
.fullscreen {
    width: 100%;
    height: 100%;

    // &.portrait {
    //     img {
    //         height: 100%;
    //         width: auto;
    //     }
    // }

    // &.landscape {
    //     img {
    //         height: auto;
    //         width: 100%;
    //     }
    // }
}