<ion-content>
  <ion-slides
    #slider
    [options]="slideOptions"
    *ngIf="!snowProfile; else showSnowProfile"
    (ionSlideTransitionEnd)="onSlideTransitionEnd()"
  >
    <ion-slide *ngFor="let slide of allImages; let i=index">
      <div class="img-container">
        <img [src]="slide.Url" onerror="this.style.display='none'" />
      </div>
    </ion-slide>
  </ion-slides>
  <ion-fab-button size="small" (click)="closeModal()" class="close-button">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
  <button
    *ngIf="!isFirstSlide && isDesktop"
    class="swiper-button-prev swiper-button-custom"
    (click)="prev(); $event.stopPropagation()"
  ></button>
  <button
    *ngIf="!isLastSlide && isDesktop"
    class="swiper-button-next swiper-button-custom"
    (click)="next(); $event.stopPropagation()"
  ></button>
</ion-content>

<ng-template #showSnowProfile>
  <div class="img-container">
    <img [src]="snowProfile" onerror="this.style.display='none'" />
  </div>
</ng-template>
