:host {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  position: relative;
}

.input-field {
  width: 100%;
  color: #495057;
  border: none;
}

input[type='datetime-local'],
input[type='date'] {
  width: 100%;

  &:focus {
    outline: none;
  }

  &::-webkit-calendar-picker-indicator,
  ::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border-width: thin;
    position: absolute;
    z-index: 4000;
    left: 5%;
  }
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 11%;
  width: 100%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 11%;
  width: 100%;
}
