<ion-button
  *ngIf="this.isPlatformNative; else showWebDateInput"
  fill="clear"
  expand="block"
  class="datetimepicker-button"
  [ngClass]="'datetimepicker-button--' + textAlign"
  (click)="openModal()"
  [size]="buttonSize"
>
  <div class="datetimepicker-button-inner-wrapper">
    {{ dateTime | date: dateTimeFormat }}
  </div>
</ion-button>

<ion-modal id="datetime-picker-modal" #modal [isOpen]="datePickerOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">{{ "DIALOGS.CANCEL" | translate }}</ion-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">{{ "DIALOGS.OK" | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-datetime
        [value]="dateTime"
        (ionChange)="updateTempDateTime($event.detail.value)"
        [min]="minDate"
        [max]="maxDate"
        id="datetime"
        [firstDayOfWeek]="1"
        [locale]="language"
        [presentation]="presentation"
      >
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<ng-template #showWebDateInput>
  <input
    class="input-field date"
    [type]="dateInputType"
    id="dateFormatForWeb"
    name="dateFormatForWeb"
    (onSelect)="selected($event)"
    (change)="updateDateOnWeb($event.target.value)"
    [value]="dateFormatForWeb"
    (blur)="updateDateOnWeb($event.target.value)"
    [min]="minDate"
    [max]="maxDate"
  />
</ng-template>
