<ion-button fill='clear' id='open-modal' expand='block' class='datetimepicker-button'
            [ngClass]='"datetimepicker-button--"+textAlign'>
  <div class='datetimepicker-button-inner-wrapper'>
    {{localDate | date:dateFormat}}
  </div>
</ion-button>

<ion-modal id='datetime-picker-modal' #modal trigger='open-modal'
           (willDismiss)='onWillDismiss($event)'>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot='start'>
          <ion-button (click)='cancel()'>{{'DIALOGS.CANCEL' | translate}}</ion-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot='end'>
          <ion-button (click)='confirm()' [strong]='true'>{{'DIALOGS.OK' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-datetime
        [value]='localDate' (ionChange)='updateTempDateTime($event)' [max]='maxDate' [min]='minDate' id='datetime'
        [firstDayOfWeek]='1'
        [locale]='locale'>
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
