:host {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  position: relative;
  flex-direction: column;
}

.input-field {
  width: 100%;
  color: #495057;
  border: none;
}

input[type='date'],
input[type='datetime-local'] {
  &:focus {
    outline: none;
  }
}

input[type='date'] {
  width: 75%;
}

input[type='datetime-local'] {
  width: 75%;
}
