:host {
  width: 100%;
}

.input-field {
  width: 100%;
  color: #495057;
  border: none;
}
input[type='datetime-local'] {
  width: 100%;
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border-width: thin;
  position: absolute;
  z-index: 4000;
  left: 5%;
}
input[type='datetime-local']:focus {
  outline: none;
}

input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 3%;
  width: 100%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 3%;
  width: 100%;
}
