<p [innerHTML]="'SUPPORT_MAP.FLOOD_MAP_DISCLAMER' | translate"></p>
<br />
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExnjEw/KfEICkGBka4gZQaBjNDioGBkQVZEGYLOYbB2Cz4FJIDRg0cNXDUwGFoIDWKMRYGBkixRdUCFlmAUgAAtX8MUWjJcMsAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_1'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExns1k+E+JQVLpDIxwAyk1DGaGVDoDIwuyIMwWcgyDsVnwKSQHjBo4auCogcPQQGoUYywMDJBii6oFLLIApQAA9CQSUSl++5QAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_2'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYIExVjAw/KfEoAgGBka4gZQaBjMjgoGBkQVZEGYLOYbB2Cz4FJIDRg0cNXDUwGFoIDWKMRYGBkixRdUCFlmAUgAAQuQMUQvlxYsAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_3'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFpJREFUOI1jYaAyYIExnjEw/MelSIqBgZGQPIaBlACYZVIMDIws6ALEuAKXgVRzITIYNXCQGIiRDvElCWIAWemQWDA4w3DUQASgRpmIkg7xaSDLhYTSITHpFAAHhBS9fDWHWwAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_4'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEJJREFUOI1jYaAyYKGdgb4r/lNs2uYIRhQXTu/3ItuszMJtDAwMNPXyqIGjBo4aOGogLgNhRRBZYHMEI6qBUAFKAQDn3Qn5K8ZpUQAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_6'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>
<p>
  {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_YEAR'|translate}}:
</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgfte/P9PiUFOEoyMKAZSC4waOGrgqIGjBtLZQFh5RjUDqQUAz1QEreCHgOkAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_5'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgSXn//+nxKAeQ0ZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIA8aYFEC0jhBwAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_7'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgdP+/6fIpCxGRlQDqQRGDRw1cNTAUQPpbSC0PKOegVQCACtHA722vKj4AAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_8'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgdHP/lNk0lIpRlQDqQRGDRw1cNTAUQPpbSC0PKOegVQCAEgOBBHrbs3dAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_9'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC9JREFUOI1jYaAyYKGdgSol/yky6U4PI6qBVAKjBo4aOGrgqIH0NhBanlHPQCoBAIG0BLocdyqFAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_10'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZga0MK/5TYlA1QwQjioHUAqMGjho4auCogXQ2EFaeUc1AagEAUCsEJep8d6kAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_11'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgUcZ/v+nxCBrBkZGFAOpBUYNHDVw1MBRA+lsIKw8o5qB1AIAHFoDju+MrFoAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_12'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADFJREFUOI1jYaAyYKGZgf/r6/9TYhBjYyMjioHUAqMGjho4auCogXQ2EFaeUc1AagEACGIFVcABtIoAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.FLOOD_LEGEND_TEXT_13'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>