<p [innerHTML]="'SUPPORT_MAP.FLOOD_MAP_DISCLAMER' | translate"></p>
<br />
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAM0lEQVQ4je3VMREAAAjDwHBXFfjXhg1YEdCxEfBrNLAYE0BDObCBlQP6BQwYMGDABzo3cAdsBhv2Uf1PAAAAAElFTkSuQmCC"
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_1" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAANklEQVQ4jWN5NoPhPwMVAQsDAwODVAYDIzUMezaD4T8LNQxCBqMGjho4auCogaMGIhlIzWoAAMdrCEt+99kvAAAAAElFTkSuQmCC"
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_2" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAMklEQVQ4je3VMREAAAjDwHBXkUjEJawI6NgI+DUaWIwJoKEc2MDKAf0CBgwYMOADnRs4fjwFn5/gcUcAAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_3" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXElEQVQ4je2SQQoAIQwDR8gr/P/b+o16EqSgUuie3JykMekcKgNnUYcWZxlf81MM7QI3X6dgVgauG01WpYQAMvBKynrCtwo7tP8OCwqrih4t/OYO52PdEmeR4uQPLi4Wh7jaC24AAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_4" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAANUlEQVQ4jWNh8F3xn4GKgIWBgYFhep8XVQzLLNoGMZCaYNTAUQNHDRw1cNRAJAMzi7ZRzUAAYtUG1nzDmVcAAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_6" | translate }}
    </ion-col>
  </ion-row>
</ion-grid>
<p>{{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_YEAR" | translate }}:</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWPZ9+L/fwYqAScJRkYWahkGA6MGjho4auCogaMG0spAJwlGRmoaCABY9QStEpfkRAAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_5" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWMpPv//PwOVQK8hIyMLtQyDgVEDRw0cNXDUwFEDaWVgryEjIzUNBABabAURUmZqFAAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_7" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALElEQVQ4jWNhmPb/PwO1QBYjIwvVDIOCUQNHDRw1cNTAUQNpZmAWIyM1DQQABYkDvYrVTqIAAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_8" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALElEQVQ4jWNhiHn2n4FaYIkUIwvVDIOCUQNHDRw1cNTAUQNpZuASKUZqGggABmkEEDEExU8AAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_9" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALElEQVQ4jWNhUCv+z0AtcKuXkYVqhkHBqIGjBo4aOGrgqIE0M/BWLyM1DQQAB/EEuUFCzsMAAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_10" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWNpYVjxn4FKoIYhgpGFWobBwKiBowaOGjhq4KiBtDKwhiGCkZoGAgAH6QQme1aqjwAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_11" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWM5yvD/PwOVgDUDIyMLtQyDgVEDRw0cNXDUwFEDaWWgNQMjIzUNBAAGNwOOPmNyfAAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_12" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWP5v2/ffwYqAUYnJ0YWahkGA6MGjho4auCogaMG0spARicnRmoaCABY8QTXOSqU2QAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_20_CLIMATE" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALklEQVQ4jWP5X1//n4FKgLGxkZGFWobBwKiBowaOGjhq4KiBtDKQsbGRkZoGAgBaLAVVNNBcdgAAAABJRU5ErkJggg=="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_13" | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAALElEQVQ4je3MsQ0AMAzDMBnI/y+nUz9wNvEAzsJSEsi0ss/Q0NDQ8CoMpBk+s+QCU2JjSpYAAAAASUVORK5CYII="
      />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{ "SUPPORT_MAP.FLOOD_LEGEND_TEXT_1000_CLIMATE" | translate }}
    </ion-col>
  </ion-row>
</ion-grid>
