<ion-header *ngIf="!fullscreen">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      regObs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'map-item-bar-open': mapItemBarVisible, 'map-center-info-open': showMapCenter }">
  <div style="width: 100%; height: 100%" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)"
    (onShown)="redrawMap()">
  </div>
  <app-map-center-info></app-map-center-info>
  <app-map-item-bar></app-map-item-bar>
  <app-geo-select slot="fixed"></app-geo-select>
  <app-map-controls></app-map-controls>
  <app-add-menu></app-add-menu>
</ion-content>