<ion-split-pane contentId="main-content-home-page">
  <ion-menu side="start" menuId="filter" contentId="main-content-home-page">
    @defer {
      <app-filter-menu></app-filter-menu>
    }
  </ion-menu>

  <div id="main-content-home-page" class="ion-page">
    <app-header>
      <!-- Høyremeny -->
      <ion-buttons slot="end">
        <ion-menu-button color="light"> </ion-menu-button>
      </ion-buttons>

      <!-- Venstremeny / filtermeny -->
      <ion-buttons slot="start">
        <ion-menu-button menu="filter" color="light">
          <ion-icon name="options-outline"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </app-header>
    <ion-content>
      <app-map
        (mapReady)="onMapReady($event)"
        [autoActivate]="false"
        [geoTag]="'HomePage'"
        [showObserverTrips]="true"
        [activateFollowModeOnStartup]="activateFollowModeInMapOnStartup"
        [updateMapViewOnExtentChange]="true"
      ></app-map>

      @defer {
        <app-map-center-info *ngIf="userSettingService.showMapCenter$ | async"></app-map-center-info>

        <app-map-item-bar></app-map-item-bar>

        <!-- TODO sett tilbake etter at veilederen er fiksa  -->
        <!-- <app-geo-fab slot="fixed" *ngIf="showGeoSelectInfo === false"></app-geo-fab> -->
        <app-geo-fab></app-geo-fab>

        @if (isDesktop()) {
          <app-show-filter-criteria slot="fixed"></app-show-filter-criteria>
        }

        <app-add-menu></app-add-menu>

        <app-data-load [show]="isFetchingObservations$ | async" [label]="spinnerLabel"></app-data-load>
      }
    </ion-content>
  </div>
</ion-split-pane>
