<ng-container *ngIf="showMapCenter$ | async">
  <img class="center-icon" src="../../../assets/icon/center.png">
  <div class="map-center-info ion-text-nowrap" (click)="copyToClipboard()">
    <ion-grid class="ion-no-padding">
      <ng-container *ngIf="!(isLoading$ | async); else loading">
        <ng-container *ngIf="mapCenterNameAndHeightData$ | async as viewInfo">
          <ion-row name="map-center-info-row" *ngIf="viewInfo?.location">
            <span
              *ngIf="viewInfo.location.name !== viewInfo.location.adminName">{{ viewInfo.location.name }},&nbsp;</span>{{viewInfo.location.adminName}}
          </ion-row>
          <ion-row name="map-center-info-row" *ngIf="viewInfo?.elevation != null || viewInfo?.steepness != null">
            <ng-container *ngIf="viewInfo?.elevation != null">
              {{ viewInfo.elevation }} {{'MAP_CENTER_INFO.ABOVE_SEA_LEVEL'|translate}}
            </ng-container>
            <ng-container *ngIf=" viewInfo?.steepness != null">
              <span *ngIf="viewInfo.elevation !== null">,&nbsp;</span>
              <span class="steepness-triangle">
                <span class="steepness-value" [ngStyle]="{ 'transform': 'rotate(' +viewInfo.steepness +'deg)'}">
                </span>
              </span>
              {{ viewInfo.steepness }}&deg;
            </ng-container>
          </ion-row>
        </ng-container>
      </ng-container>
      <ion-row name="map-center-info-row" *ngIf="mapView$ | async as mapView">
        {{ mapView.center.lat | number:'.3' }}&deg;{{'MAP_CENTER_INFO.NORTH_SHORT'|translate}}, 
        {{ mapView.center.lng | number:'.3' }}&deg;{{'MAP_CENTER_INFO.EAST_SHORT'|translate}}
      </ion-row>
      <ion-row name="map-center-info-row" *ngIf="(horizontalDistanceFromGpsPos$ | async) || (heightDifference$ | async)">
        <ng-container *ngIf="horizontalDistanceFromGpsPos$ | async as horizontalDistance">
          {{ horizontalDistance }} {{'MAP_CENTER_INFO.AWAY_FROM'|translate}}
        </ng-container>
        <ng-container *ngIf="heightDifference$ | async as heightDifference">
          <ion-icon *ngIf="heightDifference?.gpsPosIsBelowMapCenter === true" name="arrow-up" class="height-difference-icon"></ion-icon>
          <ion-icon *ngIf="heightDifference?.gpsPosIsBelowMapCenter === false" name="arrow-down" class="height-difference-icon"></ion-icon>  
          {{ heightDifference.heightDifferenceFromGpsPos }}
        </ng-container>
      </ion-row>
    </ion-grid>
  </div>
</ng-container>
<ng-template #loading>
  <ion-spinner name="map-center-info-spinner" color="light" name="dots"></ion-spinner>
</ng-template>