<div class="container" #container>
  <!--
    TODO: How to hide tiles if request 404, or display error message?
    At the moment you can see an image failed icon and the alt message if the request fails.
  -->
  <img
    *ngFor="let props of tiles; trackBy: trackByImgProps"
    class="tile"
    [style.top]="props.top"
    [style.left]="props.left"
    [src]="props.src"
    loading="lazy"
    alt="Map tile"
    decoding="async"
  />

  <div
    class="graphic"
    *ngFor="let graphic of graphics; trackBy: trackByGraphic"
    [innerHTML]="graphic.svg"
    [ngStyle]="graphic.style"
  ></div>
</div>
