<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ny
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item href="/user-settings" routerDirection="forward">
      <ion-icon slot="start" name="eye"></ion-icon>
      <ion-label>
        Observasjon
      </ion-label>
    </ion-item>
    <ion-item href="/new-trip" routerDirection="forward">
      <ion-icon slot="start" name="walk"></ion-icon>
      <ion-label>
        Tur
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>