:host {
  display: inline;
  font-size: var(--observation-font-size, 1rem);
}

.key {
  font-weight: var(--key-value-font-weight, 600);
}

.value {
  font-style: var(--key-value-font-style, italic);
}
