<ion-list no-margin lines="full">
  <ion-item (click)="createRegistration(geoHazard)" *ngFor="let geoHazard of geoHazards">
    <ion-icon slot="start" name="eye"></ion-icon>
    <ion-label>{{'ADD_MENU.NEW_OBSERVATION' | translate}} {{ getName(geoHazard) | translate }} {{
      'MAP_ITEM_BAR.OBSERVATION' | translate | lowercase }}</ion-label>
  </ion-item>
  <ion-item *ngFor="let draft of drafts; let i = index" (click)="editRegistration(draft)">
    <ion-icon slot="start" name="create"></ion-icon>
    <ion-label>{{ getName(draft.geoHazard) | translate }} {{ 'MAP_ITEM_BAR.OBSERVATION' | translate | lowercase }}
      <p *ngIf="draftDates[i]">{{ draftDates[i] }}</p>
    </ion-label>
  </ion-item>
  <ion-item (click)="closeAndNavigate('trip-log')">
    <ion-icon slot="start" name="walk"></ion-icon>
    <ion-label>{{'ADD_MENU.NEW_TRIP' | translate }}</ion-label>
  </ion-item>
</ion-list>