@if (showImage()) {
  <img (error)="onError()" [src]="this.imgUrlSafe()" class="image-preview" />
} @else {
  <div [class]="{ error: true, large: largeFallback() }">
    <img style="width: 100px" src=".\assets\images\broken-image.svg" />
    @if (withFallbackText()) {
      <p>{{ "REGISTRATION.COULD_NOT_DOWNLOAD_IMAGE" | translate }}</p>
      <p>{{ "REGISTRATION.COULD_NOT_DOWNLOAD_IMAGE_NET_Q" | translate }}</p>
    }
  </div>
}
@if (isThumbnail()) {
  <!-- TODO: Use ion-icon -->
  <svg-icon src="/assets/icon/edit-circle.svg"></svg-icon>
}
