<img (error)="onError()" *ngIf="showImage" [src]="this.imgSrc" class="image-preview" />
<svg-icon *ngIf="isThumbnail" src="/assets/icon/edit-circle.svg"></svg-icon>
<div *ngIf="!showImage" [class]="{ error: true, large: largeFallback }">
  <img style="width: 100px" src=".\assets\images\broken-image.svg" />
  <p *ngIf="withFallbackText">
    {{ "REGISTRATION.COULD_NOT_DOWNLOAD_IMAGE" | translate }}
  </p>
  <p *ngIf="withFallbackText">
    {{ "REGISTRATION.COULD_NOT_DOWNLOAD_IMAGE_NET_Q" | translate }}
  </p>
</div>
