:host {
  display: block;
  height: 100%;
}

ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
}

ion-content::part(scroll) {
  scrollbar-gutter: stable both-edges;
}

.list-header {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 16px;
  grid-auto-flow: dense;
  padding-left: 8px;
  padding-right: 8px;
}

.grid > :last-child {
  padding-bottom: 32px;
  grid-column: 1 / -1;
}

app-grid-image {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

app-grid-image.landscape {
  grid-column: span 2;
}

app-grid-image.portrait {
  grid-row: span 1;
}
