:host {
  display: block;
  height: 100%;
}

ion-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

img {
  height: 200px;
  min-width: 160px;
  min-height: 220px;
}
