<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.WEATHER.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="registration && registration.WeatherObservation">
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.WEATHER.TITLE' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-kdv-dropdown title="REGISTRATION.SNOW.WEATHER.PRECIPITATION" kdvKey="Snow_PrecipitationKDV" [(value)]="registration.WeatherObservation.PrecipitationTID"></app-kdv-dropdown>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE'
        | translate}}</ion-label>
      <ion-input type="number" min="-50" max="50" [(ngModel)]="registration.WeatherObservation.AirTemperature"
        placeholder="{{'REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE_PLACEHOLDER' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.WEATHER.WIND_SPEED'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="50" [(ngModel)]="registration.WeatherObservation.WindSpeed" placeholder="{{'REGISTRATION.SNOW.WEATHER.AIR_TEMPERATURE_PLACEHOLDER' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.WEATHER.CLOUD_COVER'
        | translate}}</ion-label>
      <ion-input type="number" min="0" max="100" pattern="[0-9]*" step="1" [(ngModel)]="registration.WeatherObservation.CloudCover"
        placeholder="{{'REGISTRATION.SNOW.WEATHER.ONLY_FULL_PERCENTAGE' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{ 'REGISTRATION.SNOW.WEATHER.WIND_DIRECTION'
        | translate}}</ion-label>
      <ion-select mode="ios" [(ngModel)]="registration.WeatherObservation.WindDirection" interface="action-sheet">
        <ng-container *ngFor="let windDirection of windDirectionArray">
          <ion-select-option [value]="windDirection.val">{{
            windDirection.name | translate }}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
    <app-text-comment title="REGISTRATION.DANGER_OBS.COMMENT" [(value)]="registration.WeatherObservation.Comment"
      placeholder="REGISTRATION.SNOW.WEATHER.COMMENT_PLACEHOLDER"></app-text-comment>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.ADD_IMAGES' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-add-picture-item [(images)]="registration.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
  </ion-list>
  <app-navigation-buttons [previousUrl]="applyRegId('registration/danger-obs')" previousText="REGISTRATION.DANGER_OBS.TITLE"
    [nextUrl]="applyRegId('registration/snow/avalanche-activity')" nextText="REGISTRATION.SNOW.AVALANCHE_ACTIVITY.TITLE"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>