:host {
  // Siden denne er ment å brukes i en ion-list og egentlig bare forenkler oppsettet av en ion-item med en select
  // er det like greit å bare videresende innholdet i templaten, ikke tegne host element.
  // Det er noe styling på subkomponenter som ion-list gjør som ikke fungerer om ikke denne er med.
  display: contents;
}

.action-sheet-button ion-text {
  display: flex;
  align-items: center;

  ion-icon {
    font-size: 1.5em;
  }
}

.action-sheet-button ion-icon[slot='end'] {
  // Kopiert fra Ionic.
  // Siden vi lager select knappen selv, er det fint at den ser så lik som mulig ut som Ionic sin
  width: 0.8125rem;
  color: var(--ion-color-step-500, var(--ion-text-color-step-500, gray));
  margin-inline: 4px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  flex-shrink: 0;

  &.ios {
    width: 1.125rem;
    height: 1.125rem;
    color: var(--ion-color-step-650, var(--ion-text-color-step-350, #595959));
  }
}
