@if (useActionSheet()) {
  <ion-item
    [color]="ionItemColor()"
    button
    [detail]="false"
    (click)="openActionSheet()"
    [lines]="ionItemLines()"
    class="action-sheet-button"
    [disabled]="disabled()"
  >
    <ion-label color="medium" position="stacked">
      {{ label() | translate | uppercase }}
    </ion-label>
    <ion-text class="ion-align-self-start" color="medium">
      @if (valueIcon(); as icon) {
        <ion-icon class="value-icon" [src]="icon"></ion-icon>
      }
      {{ valueText() | translate }}
    </ion-text>
    <ion-icon slot="end" [name]="selectIcon"></ion-icon>
  </ion-item>
} @else {
  <ion-item [color]="ionItemColor()" [lines]="ionItemLines()">
    <ion-select
      [label]="label() | translate | uppercase"
      label-placement="stacked"
      [placeholder]="valueText() | translate"
      [disabled]="disabled()"
      cancelText="{{ 'DIALOGS.CANCEL' | translate }}"
      interface="popover"
      [interfaceOptions]="popoverOptions()"
      [value]="selectedValue()"
      (ionChange)="savePopoverSelectValue($event)"
      justify="start"
    >
      @if (resetEnabled()) {
        <ion-select-option [value]="resetValue">
          {{ "DIALOGS.RESET" | translate }}
        </ion-select-option>
      }
      @for (option of filteredOptions(); track option.id) {
        <ion-select-option [value]="option.id">
          {{ option.text | translate }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>
}
