.reset-button {
    margin-bottom: var(--ion-safe-area-bottom, 5px);

    svg-icon {
        display: flex;
    }
}

.white-background {
    background-color: #fff;
}

.start-buttons {
    ion-button {
        height: var(--ion-button-height);
    }
}