:host {
  margin: 0 auto;
  max-width: 900px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large, 24px);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}
