<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.DANGER_OBS.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="registration" [registration]="registration" [registrationTid]="registrationTid"
    (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.DANGER_OBS.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item (click)="addOrEdit(i)" *ngFor="let dangerObs of registration.request.DangerObs; let i = index">
        <ion-label>{{ getSummaryText(dangerObs) }}</ion-label>
      </ion-item>
      <ion-item (click)="addOrEdit()">
        <ion-icon color="dark" name="add-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ 'REGISTRATION.DANGER_OBS.NEW_DANGER_OBS' | translate }}</ion-label>
      </ion-item>
      <ion-list-header text-uppercase>
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>