:host {
  --height: 100vh;
  --width: 100vw;
  --image-description-height: 200px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  margin: 0;
}

swiper-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

swiper-container::part(button-next),
swiper-container::part(button-prev) {
  background-color: white;
  padding: 20px;
  border-radius: 100%;
  width: 44px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

swiper-slide {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--image-description-height));
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 44px;
  width: 44px;
  background-color: white;
  border-radius: 100%;
  transition: opacity 0.3s;
  z-index: 2;
  ion-icon {
    font-size: 1.5rem;
  }
  &:hover {
    opacity: 0.8;
  }
}

.image-description {
  background-color: white;
  height: var(--image-description-height);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.image-description__inner {
  overflow: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.image-description__title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  span {
    font-size: 1.5rem;
    color: var(--ion-text-color-heading);
    line-height: 100%;
  }
}

.image-description__links {
  display: flex;
  gap: 10px;
}

.image-description__links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;
  &:hover {
    text-decoration: underline;
  }
  ion-icon {
    font-size: 1.25rem;
  }
}
