<swiper-container
  #swiper
  css-mode="false"
  navigation="true"
  pagination="true"
  zoom="true"
  keyboard="false"
  (swiperslidechange)="setCurrentSlideIndex($event)"
>
  @for (item of items(); track $index) {
    @if (item.type === "SnowProfile") {
      @let reg = registration();
      <swiper-slide>
        <app-snow-profile [data]="reg.SnowProfile2!" [tests]="reg.CompressionTest"></app-snow-profile>
      </swiper-slide>
    } @else {
      @let attachment = item.data;
      <swiper-slide>
        <div class="swiper-zoom-container">
          <img
            [alt]="attachment.Alt || attachment.Comment"
            [src]="attachment.Url"
            (error)="setFallbackImage(attachment)"
          />
        </div>
      </swiper-slide>
    }
  }
</swiper-container>
<div class="image-description">
  <div class="image-description__content">
    @let item = currentItem();
    @let attachment = item.type === "Attachment" ? item.data : null;

    <!-- tittel -->
    @if (attachment?.RegistrationName; as regName) {
      <ion-chip color="primary"> {{ regName }}</ion-chip>
    }
    <!-- kommentar -->
    @if (attachment?.Comment; as comment) {
      <app-key-value [key]="'REGISTRATION.DANGER_OBS.COMMENT' | translate" [value]="comment"></app-key-value>
    }
    <div class="image-description__params">
      <!-- region -->
      @if (registration().ObsLocation.ForecastRegionName) {
        <app-key-value
          [key]="'REGISTRATION.DANGER_OBS.FOR_REGION' | translate"
          [value]="registration().ObsLocation.ForecastRegionName"
        >
        </app-key-value>
      }

      <!-- himmelretning -->
      @if (attachment?.Aspect) {
        <app-key-value
          [key]="'REGISTRATION.IMAGE_ASPECT' | translate"
          [value]="roundedDownOrientationValue() | translate"
        >
        </app-key-value>
      }

      <!-- sendt inn av -->
      @if (registration().Observer.NickName) {
        <app-key-value [key]="'REGISTRATION.CARD.OBSERVED_BY' | translate" [value]="registration().Observer.NickName">
        </app-key-value>
      }

      <!-- opphavsrett -->
      @if (attachment?.Copyright; as copyright) {
        <app-key-value [key]="'MY_PROFILE.COPYRIGHT' | translate" [value]="copyright"> </app-key-value>
      }

      <!-- fotograf -->
      @if (attachment?.Photographer; as photographer) {
        <app-key-value [key]="'MY_PROFILE.PHOTOGRAPHER' | translate" [value]="photographer"> </app-key-value>
      }
      <!-- observert dato-->
      @if (registration().DtObsTime) {
        <app-key-value
          [key]="'REGISTRATION.CARD.TIME.OBSERVED' | translate"
          [value]="registration().DtObsTime | date: 'short'"
        >
        </app-key-value>
      }
    </div>
    <div class="image-description__links">
      @if (attachment?.Url; as url) {
        <a [href]="url" download>
          <ion-icon name="download-outline"></ion-icon> {{ "REGISTRATION.CARD.DOWNLOAD" | translate }}
        </a>
        <a [href]="url" target="_blank">
          <ion-icon name="open-outline"></ion-icon> {{ "REGISTRATION.CARD.GO_TO_ORIGINAL_IMAGE" | translate }}
        </a>
      }

      <!-- @if (currentAttachmentData().IsSnowProfilePlot) {
        <a [href]="snowProfileUrl()" target="_blank">
          <ion-icon name="open-outline"></ion-icon>
          {{ "REGISTRATION.CARD.GO_TO_SNOW_PROFILE" | translate }}
        </a>
      } -->
      @if (isImageListView()) {
        <a [routerLink]="'registration/' + registration().RegId" (click)="closeModal()">
          <ion-icon name="eye-outline"></ion-icon>
          {{ "REGISTRATION.GO_TO" | translate }}
        </a>
      }
    </div>
  </div>
</div>
<ion-fab-button (click)="closeModal()" [attr.aria-label]="'CLOSE' | translate">
  <ion-icon name="close"></ion-icon>
</ion-fab-button>
