.leaflet-container {
    width: 100%;
    height: 100%;
    position: inherit !important;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

app-map-controls {
    position: absolute;
    top: 0;
    right: 0px;
    width: 60px;
}