@if (options() !== undefined) {
  <div leaflet [leafletOptions]="options()!" (leafletMapReady)="onLeafletMapReady($event)"></div>
}
@if (showControls()) {
  <app-map-controls
    [showFullscreenToggle]="showFullscreenToggle()"
    [showGpsCenter]="showGpsCenter()"
    [showZoomButtons]="showZoomButtons()"
  ></app-map-controls>
}

<!-- TODO: I stedet for dette, få opp detaljside for en tur som modal? -->
@if (showObserverTrips() && metadataName()) {
  <div class="observer-trip-backdrop" (click)="removeObserverTripDescription()">
    <div class="observer-trip-desc">
      <div>
        <strong>Obsturbeskrivelse{{ metadataName() ? " " + metadataName() : "" }}:</strong>
      </div>
      <div>{{ metadataDescription() }}</div>
    </div>
  </div>
}
