@if (options() !== undefined) {
  <div leaflet [leafletOptions]="options()!" (leafletMapReady)="onLeafletMapReady($event)"></div>
}
@if (showControls()) {
  <app-map-controls
    [showFullscreenToggle]="showFullscreenToggle()"
    [showGpsCenter]="showGpsCenter()"
    [showZoomButtons]="showZoomButtons()"
  ></app-map-controls>
}

@if (showObserverTrips() && metadataName()) {
  <div class="observer-trip-backdrop" (click)="removeObserverTripDescription()">
    <div class="observer-trip-desc">
      <div>
        <strong>{{ metadataName() }}</strong>
      </div>
      @if (metadataTripLength()) {
        <div>Lengde: {{ metadataTripLength() | number: "1.0-2" }} km</div>
      }
      <div>{{ metadataDescription() }}</div>
      @if (metadataId()) {
        <div>
          <a [routerLink]="['/plans', metadataId()]">Gå til detaljer</a>
        </div>
      }
    </div>
  </div>
}
