.esri-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#mapViewNode {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

app-map-controls {
    position: absolute;
    top: 0;
    right: 0px;
    width: 60px;
}
