{{! Denne trenger vi for å overstyre nullable felter i API'et, slik at ikke alle nullable felter i modellene får typen | null i tillegg }}
export interface {{classname}}{{#allParents}}{{#-first}} extends {{/-first}}{{{.}}}{{^-last}}, {{/-last}}{{/allParents}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
    {{#description}}
     * {{{.}}}
    {{/description}}
     */
    {{/description}}
    {{#deprecated}}
    /** @deprecated */
    {{/deprecated}}
    {{#isReadOnly}}
    /** Readonly property */
    {{/isReadOnly}}
    {{name}}{{^required}}?{{/required}}: {{{datatypeWithEnum}}}{{#nullable}}{{^isPrimitiveType}} | null{{/isPrimitiveType}}{{/nullable}};
{{/vars}}
}{{>modelGenericEnums}}
