export interface {{classname}}{{#allParents}}{{#-first}} extends {{/-first}}{{{.}}}{{^-last}}, {{/-last}}{{/allParents}} { {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
    {{#description}}
     * {{{.}}}
    {{/description}}
     */
    {{/description}}
    {{#deprecated}}
    /** @deprecated */
    {{/deprecated}}
    {{#isReadOnly}}
    /** Readonly property */
    {{/isReadOnly}}
    {{name}}{{^required}}?{{/required}}: {{#type}}{{{type}}}{{/type}}{{^type}}unknown{{/type}}{{#nullable}}{{^isPrimitiveType}} | null{{/isPrimitiveType}}{{/nullable}};
{{/vars}}
}{{>modelGenericEnums}}
