<p [innerHTML]="'SUPPORT_MAP.CLAY_MAP_DISCLAMER' | translate"></p>
<br />
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAPJJREFUOI1jYaAyYBk1cOgZyNkitCZa+quS7l+G398vMRzdP+ln0U6yDDRnCBPOYahdrPROxxMmpspgmCvPrtlf/NOzhmQDkxkK65UYEIZBFLNymfx0Lq1imHuqjSF5E0kGCrGLuzD8xKaBlU2NwciTgYGBNAOZfjLz4ZJjEWLhY3iHQw6Xph/s324x/GSQxib38eu7mzgtwyXx4ueTHiEGcQteBkFOZPHHDLev3/x5rI9kA4sYXLdNZjgQKcYuVcf+k0vnP8O/b5/Z3x988PNe3iSGyi8kG8jAwMCQy+CwkeEnw0a4AJZIIslAcsCogZQDADtZRA3CbXJoAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_1'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIdJREFUOI211NENgCAMBFCaMAhDMgZDskn5kiBci7TIn+b6rMlpDJdP/BPkCx69NqyZQypEKFkz9wcKGZ437INoIBWiB5UyEPSi8XRgl1k29KLwlY2oDFpQdUMPuv1SvqJB6qEVhRtqYXOxvSgstgcVi21F1WIfohAcf1HLPYCOlzSDYhVOTgM80cZWbNLXegAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_2'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFlJREFUOI3tlMEKACAIQyf4/79spyAUSbOgg962w2NOkHF5+BlQAKnCCCDWxilsBjIrCyArOKsNUKfMavco2WRbYDaZC+wOw9oFdodh7QL/7rDyEyeYtVGdASmgOIUrOvuWAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_3'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADJJREFUOI1jYaAyYBk1cNTAwWXg//+4lTEyovKxqYWooaUL0V2BD+BWO6QiZdTAYWsgAIFsBFXO3k8bAAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_4'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>
<p>{{'SUPPORT_MAP.CLAY_DANGER_ZONE'|translate}}:</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAHhJREFUOI210ksOwCAIBFBIuP+V6cYaItPKR2enwZcxQehw5CaoBzxeG7LRdVwwfURNiXcIfrmAMY2zA4vYjKDBKgYbdjAHdjHYsIOFwAy2BaOYEunvHmaxbcMsFlrsJIYbdjHYsINBsIM5kOc7HKOgGV7B7dJG8gD5VDVWrqAQVAAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.HIGH'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIFJREFUOI211EEOwCAIBEBI/GPf6CvpoWgTwAJiOTab6RqJDQ5P+xOkAx7Khjj1/vwAr/ebnJHhnGqoggkMgU+owE1sTrOCu5jZsIIpsIqZDStYCMxgLhjFqAN97mEWcxtmsdBiJzG7YRUzG1YwE6xgCuSrX76LYzUWGZSgu7SRuQHuVU8J5MIeKgAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.MIDDLE'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIBJREFUOI211MENwCAMA0BbYmTG6M7pB3iQUBJC87ZOrmpRcPnKn6Bc8Dg35NClCgCQD7G4nmk51VAFAxjRvlCBh9i4YgVPMbNhBlNgFjMbZjAXGMG2oBcTqfK5wyi2bRjFXMMOYnbDLGY2zGAmmMEU2H798l3s01hkOIPb0XruBcqZaBfEUN04AAAAAElFTkSuQmCC" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.LOW'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>
<p>{{'SUPPORT_MAP.CAUTION_AREA'|translate}}:</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADpJREFUOI1jYaAyYKGlgf+pYB4jigtLVMg3qecOhKapl0cNHDVw1MBRA7EbCCuCyASM6AYyUmQcFAAA2r4Eu4YBFUkAAAAASUVORK5CYII=" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_8'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGBJREFUOI1jYaAyYKGZgSUqDP8pNaznDgMjC7oAuYbBHETQyzCFuCxD9xntwhAXIBQMMHmivUwqwDCQ2DDDJU97FxIbZkQbSCkYTYeUgyGWDpFjjFD5iC4PczELugClAAC0+S663TRkhAAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_9'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>
<p>{{'SUPPORT_MAP.MARITINE_BORDER'|translate}}:</p>
<ion-grid>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABtJREFUOI1jYaAyYBk1cNTAUQNHDRw1cKQaCAAQKwBR5g8A3AAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_5'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGNJREFUOI3dkjEKACAMAxX8le/3XbpKMEXTomCmLh7p1ZKCU+4AW++p5hwHFGEciJkbs/kIOD9iMwU6/K2BxjoaEMEI/9ihG4jNdryZDrHZjrf3DoW17W8jrM2PIoYfxQ0MygBTsERSNt9GdAAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_6'|translate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1.5" class="ion-no-padding">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFRJREFUOI1jYaAyYBk1kGHfi///GRgYGJwkGBmxaSAkT3sX4rKZWHn6RwqhMCPZQFIBQQNJje3Bk7AHLh2SGqsEDaQUEJ1TcLkcXXzgYhmXy2meDgFJ/R7VSV9q1AAAAABJRU5ErkJggg==" />
    </ion-col>
    <ion-col size="auto" class="ion-no-padding">
      {{'SUPPORT_MAP.CLAY_LEGEND_TEXT_7'|translate}}
    </ion-col>
  </ion-row>
</ion-grid>