<ion-list no-margin *ngIf="registrations && registrations.length > 0" lines="full">
  <ion-list-header text-uppercase>
    <ion-label>
      {{'REGISTRATION.SAVED_ON_PHONE' | translate}}
    </ion-label>
  </ion-list-header>
  <ion-list-header class="subheader">
    <ion-label text-wrap>
      {{'REGISTRATION.SAVED_DESCRIPTION' | translate }}
    </ion-label>
  </ion-list-header>
  <app-sync-item *ngFor="let registration of registrations; let i = index" [registration]="registration" [isLoading]="isLoading(registration, i)"></app-sync-item>
</ion-list>