<ion-list *ngIf="registrations && registrations.length > 0" lines="full">
  <ion-list-header text-uppercase>
    <ion-label no-margin text-wrap>
      <h3>{{'REGISTRATION.SAVED_ON_PHONE' | translate}}</h3>
    </ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label text-wrap>
      {{'REGISTRATION.SAVED_DESCRIPTION' | translate }}
    </ion-label>
  </ion-item>
  <app-sync-item *ngFor="let registration of registrations; let i = index" [registration]="registration" [isLoading]="isLoading(registration, i)"></app-sync-item>
</ion-list>