.my-observation-header {
    margin-bottom: -5px;
}

ion-refresher, ion-content {
    background-color: var(--ion-background-color,#fff);
}

ion-refresher {
    ion-grid {
        position: absolute;
        right: 5px;
        top: 0px;
    }
}