<ng-container *ngIf="!isHybrid; else mobileTimespan">
  <ng-container *ngTemplateOutlet="selectTimespan"> </ng-container>
</ng-container>

<ng-template #mobileTimespan>
  <ion-item slot="header">
    <ion-label color="dark" position="stacked">
      {{ "MENU.TIMESPAN" | translate }}
    </ion-label>
    <ng-container *ngTemplateOutlet="selectTimespan"> </ng-container>
  </ion-item>
</ng-template>

<ng-template #selectTimespan>
  <ion-select
    cancelText="{{ 'DIALOGS.CANCEL' | translate }}"
    [interface]="popupType"
    (ionChange)="save()"
    [(ngModel)]="selectedDaysBack"
  >
    <ion-select-option *ngFor="let item of daysBackOptions" [value]="item.val">
      <app-check-days-or-weeks-back [daysBack]="item.val"></app-check-days-or-weeks-back>
    </ion-select-option>
  </ion-select>
</ng-template>
