<ion-select
  cancelText="{{ 'DIALOGS.CANCEL' | translate }}"
  [interface]="popupType"
  (ionChange)="save($event)"
  [value]="useDaysBack() ? daysBack() : 'CHOOSE'"
  [label]="labelKey() | translate"
  labelPlacement="stacked"
>
  @for (item of daysBackOptions(); track item.val) {
    <ion-select-option [value]="item.val">
      <app-check-days-or-weeks-back [daysBack]="item.val"></app-check-days-or-weeks-back>
    </ion-select-option>
  }
  @if (!useDaysBack()) {
    <ion-select-option [value]="'CHOOSE'">Velg dager</ion-select-option>
  }
</ion-select>
