<ion-fab vertical="top" horizontal="start" slot="fixed">
  <!-- [@enterAnimationFab]="animateOnEnterState" -->
  <ion-item (click)="toggle()">
    <ion-fab-button slot="start" color="tertiary">
      <ion-icon [src]="geohazard().icon"></ion-icon>
    </ion-fab-button>
    @if (isOpen() && showLabels()) {
      <!-- @enterAnimation -->
      <ion-label>
        <app-geo-name [geoHazards]="geohazard().geohazards"></app-geo-name>
      </ion-label>
    }
  </ion-item>
  @if (isOpen()) {
    <ion-list [@listAnimate]="geohazardOptions().length" lines="none">
      @for (option of geohazardOptions(); track option.id) {
        <ion-item class="list-item" (click)="setCurrentGeoHazard(option.geohazards)">
          <ion-fab-button slot="start" color="tertiary">
            <!-- <app-geo-icon [geoHazards]="geoHazards"></app-geo-icon> -->
            <ion-icon [src]="option.icon"></ion-icon>
          </ion-fab-button>
          @if (showLabels()) {
            <ion-label>
              <app-geo-name [geoHazards]="option.geohazards"></app-geo-name>
            </ion-label>
          }
        </ion-item>
      }
    </ion-list>
  }
</ion-fab>

@if (isOpen()) {
  <div class="backdrop" (click)="isOpen.set(false)"></div>
}
