<ion-fab
  mode="ios"
  *ngIf="currentGeoHazard$ | async as currentGeoHazard"
  vertical="top"
  horizontal="start"
  slot="fixed"
  [ngClass]="{ fullscreen: fullscreen$ | async }"
  [@enterAnimationFab]="animateOnEnterState"
>
  <ion-item (click)="toggle()">
    <ion-fab-button class="ion-margin-end" slot="start" [color]="color">
      <app-geo-icon [geoHazards]="currentGeoHazard"></app-geo-icon>
    </ion-fab-button>
    <ion-label *ngIf="isOpen && showLabels" @enterAnimation>
      <app-geo-name [geoHazards]="currentGeoHazard"></app-geo-name>
    </ion-label>
  </ion-item>
  <ng-container *ngIf="selectableGeoHazards$ | async as selectableGeoHazards">
    <ion-list [@listAnimate]="selectableGeoHazards.length" *ngIf="isOpen" lines="none">
      <ion-item
        class="list-item"
        *ngFor="let geoHazards of selectableGeoHazards"
        (click)="setCurrentGeoHazard(geoHazards)"
      >
        <ion-fab-button class="ion-margin-end" slot="start" [color]="color">
          <app-geo-icon [geoHazards]="geoHazards"></app-geo-icon>
        </ion-fab-button>
        <ion-label *ngIf="showLabels">
          <app-geo-name [geoHazards]="geoHazards"></app-geo-name>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-fab>
<div *ngIf="isOpen" class="wrapper" (click)="toggle()"></div>
