:host {
    position: absolute;
    top: 0;
    z-index: 999;

    ion-fab {
        top: -25px;

        &.fullscreen {
            top: calc(10px + env(safe-area-inset-top));
        }

        ion-item {
            --inner-border-width: 0px 0px 0px 0px;
            --ion-item-background: rgba(0,0,0,0);

            --padding-start: 0px;
            --padding-end: 0px;
            --padding-top: 0px;
            --padding-bottom: 4px;
            
            ion-label {
                background-color: rgba(255, 255, 255, 0.7);
                padding: 4px;
                white-space: nowrap;
                flex: none;
                font-size: 17px;
                -webkit-user-select: none; /* Safari */        
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* IE10+/Edge */
                user-select: none; /* Standard */
            }
        }

        ion-fab-button {
            height: var(--ion-button-height, 44px);
            width: var(--ion-button-height, 44px);
            margin-left: 2px;
            margin-top: 2px;
            margin-bottom: 2px;
            --box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        }
        ion-list {
            margin-top: 0px;
            --ion-background-color: rgba(0,0,0,0);

            .list-item {
                transform-origin: 'center top';
                ion-fab-button, ion-label {
                    transform-origin: 'center top';
                }
            }
        }
    }

    .wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}