<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.ICE.ICE_THICKNESS.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registration && registration.request.IceThickness">
  <ion-list lines="full" reorder="true">
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{
        'REGISTRATION.ICE.ICE_THICKNESS.DRY_SNOW_BEFORE_DRILL' | translate }}</ion-label>
      <ion-input type="number" [min]="minSnowDepth" [max]="maxSnowDepth" (ionChange)="onSnowDepthChange(registration.request.IceThickness.SnowDepth)"
        [(ngModel)]="registration.request.IceThickness.SnowDepth" placeholder="{{'REGISTRATION.IN_CM' | translate}}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{
        'REGISTRATION.ICE.ICE_THICKNESS.SLUSH_SNOW_BEFORE_DRILL' | translate }}</ion-label>
      <ion-input type="number" [min]="minSnowDepth" [max]="maxSnowDepth" (ionChange)="onSnowDepthChange(registration.request.IceThickness.SlushSnow)"
        [(ngModel)]="registration.request.IceThickness.SlushSnow" placeholder="{{'REGISTRATION.IN_CM' | translate}}">
      </ion-input>
    </ion-item>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.ICE.ICE_THICKNESS.ICE_LAYER' | translate }}</h3>
      </ion-label>
    </ion-list-header>
    <ion-reorder-group disabled="false" (ionItemReorder)="onIceThicknessReorder($event)">
      <ion-item (click)="addOrEditThicknessLayer(i)" *ngFor="let layer of registration.request.IceThickness.IceThicknessLayer; let i = index">
        <ion-label> {{ layer.IceLayerTID | kdvDescription:'Ice_IceLayerKDV' | async }} - {{ layer.IceLayerThickness
          }}cm</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    <ion-item (click)="addOrEditThicknessLayer()">
      <ion-icon color="primary" name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>{{'REGISTRATION.ICE.ICE_THICKNESS.ADD_ICE_LAYER' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked" text-uppercase>{{
        'REGISTRATION.ICE.ICE_THICKNESS.ICE_THICKNESS_SUM' | translate }}</ion-label>
      <ion-input type="number" [min]="minSnowDepth" [max]="maxSnowDepth" (ionChange)="onSnowDepthChange(registration.request.IceThickness.IceThicknessSum)"
        [(ngModel)]="registration.request.IceThickness.IceThicknessSum" placeholder="{{'REGISTRATION.IN_CM' | translate}}">
      </ion-input>
    </ion-item>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.GENERAL_COMMENT.COMMENT_TITLE' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-text-comment [(value)]="registration.request.IceThickness.Comment" placeholder="{{'REGISTRATION.GENERAL_COMMENT.COMMENT_PLACEHOLDER' | translate }}"></app-text-comment>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.ADD_IMAGES' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
  </ion-list>
  <app-navigation-buttons [registration]="registration"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>