<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registration"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.AVALANCHE_ACTIVITY.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="registration && registration.request.AvalancheActivityObs2">
  <ion-list lines="full">
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.SNOW.AVALANCHE_ACTIVITY.TITLE' | translate }}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item detail="true" (click)="addOrEditAvalancheActivity(i)" *ngFor="let avalancheActivity of registration.request.AvalancheActivityObs2; let i = index">
      <ion-label>{{ getEstimatedNumber(avalancheActivity) |
        translate }}<span *ngIf="avalancheActivity.EstimatedNumTID !== 1"> {{ getCause(avalancheActivity) | translate |
          lowercase
          }}</span></ion-label>
    </ion-item>
    <ion-item (click)="addOrEditAvalancheActivity()">
      <ion-icon color="primary" name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>{{'REGISTRATION.SNOW.AVALANCHE_ACTIVITY.ADD_NEW' | translate}}</ion-label>
    </ion-item>
    <ion-list-header text-uppercase>
      <ion-label no-margin>
        <h3>{{ 'REGISTRATION.ADD_IMAGES' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <app-add-picture-item [(images)]="registration.request.Picture" [registrationTid]="registrationTid"></app-add-picture-item>
  </ion-list>
  <app-navigation-buttons [registration]="registration"></app-navigation-buttons>
</ion-content>
<app-save-and-go-back-button [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()"></app-save-and-go-back-button>