<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "TRIP.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Planlegg tur </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="map"></ion-icon>
      <ion-label> Turforslag </ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="map"></ion-icon>
      <ion-label> Registrerte turer </ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="walk"></ion-icon>
      <ion-label> Planlegg ny tur </ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
