// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'app/core/helpers/leaflet/user-marker/user-marker.scss';

:root {
    --ion-background-color: #DCECF2;
    --ion-item-background: #fff;
    --ion-tab-bar-color: #172733;
    --ion-tab-bar-background-focused: #F4F8F9;
    --ion-tab-bar-background: #FFFFFF;
    --leaflet-bottom: 0px;
    --map-item-height: 0px;
    --map-center-info-height: 0px;
    --map-control-fab-size: 44px;
    --ion-tab-bar-color-activated: var(--ion-color-primary);
    --ion-color-success: #75B100;
    --ion-color-success-rgb:117,177,0;
    --ion-color-danger: #E3000F;
    --ion-color-danger-rgb: 227,0,15;
    --ion-color-primary: var(--ion-color-varsom-blue);
    --ion-color-primary-rgb: var(--ion-color-varsom-blue-rgb);
    --ion-color-primary-contrast: var(--ion-color-varsom-blue-contrast);
    --ion-color-primary-contrast-rgb: var(--ion-color-varsom-blue-contrast-rgb);
    --ion-color-primary-shade: var(--ion-color-varsom-blue-shade);
    --ion-color-primary-tint: var(--ion-color-varsom-blue-tint);
    --ion-color-warninglevel-0: #aaa;
    --ion-color-warninglevel-1: #75b100;
    --ion-color-warninglevel-2: #fc3;
    --ion-color-warninglevel-3: #e46900;
    --ion-color-warninglevel-4: #d21523;
    --ion-color-warninglevel-5: #000;
    --backdrop-background:  rgba(0, 0, 0, 0.8);
    --ion-text-color-step-600: #8B9399;
    --ion-header-size: 17px;
    --ion-color-medium: #757575;
    --z-index-over-map: 801;
    --img-height: 80vw;
    --img-width: 40vw;
    --ion-color-varsom-blue: #044962;
    --ion-color-varsom-blue-rgb: 4,73,98;
    --ion-color-varsom-blue-contrast: #fff;
    --ion-color-varsom-blue-contrast-rgb: 255,255,255;
    --ion-color-varsom-blue-shade: #044157;
    --ion-color-varsom-blue-tint: #6996A3;
    --ion-color-varsom-grey: #5C90A5;
    --ion-color-varsom-orange: #EE7B04;
    --ion-color-varsom-orange-rgb: 238,123,4;
    --ion-color-varsom-orange-contrast: #fff;
    --ion-color-varsom-orange-contrast-rgb: 255,255,255;
    --ion-color-varsom-orange-shade: #5C90A5;
    --ion-color-varsom-orange-tint: #F5B068;
    --ion-text-color: #262626;
}

.ion-color-varsom-orange {
    --ion-color-base: var(--ion-color-varsom-orange);
    --ion-color-base-rgb: var(--ion-color-varsom-orange-rgb);
    --ion-color-contrast: var(--ion-color-varsom-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-varsom-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-varsom-orange-shade);
    --ion-color-tint: var(--ion-color-varsom-orange-tint);
  }

.ion-color-varsom-blue {
  --ion-color-base: var(--ion-color-varsom-blue);
  --ion-color-base-rgb: var(--ion-color-varsom-blue-rgb);
  --ion-color-contrast: var(--ion-color-varsom-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-varsom-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-varsom-blue-shade);
  --ion-color-tint: var(--ion-color-varsom-blue-tint);
}

.ion-color-varsom-dark-blue {
    --ion-color-base: #044157;
    --ion-color-base-rgb: 4,65,87;
    --ion-color-contrast: var(--ion-color-varsom-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-varsom-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-varsom-blue-shade);
    --ion-color-tint: var(--ion-color-varsom-blue-tint);
}

.ion-color-warninglevel-0 {
    --ion-color-base: var(--ion-color-warninglevel-0) !important;
    --ion-color-contrast: #FFF;
}
.ion-color-warninglevel-1 {
    --ion-color-base: var(--ion-color-warninglevel-1) !important;
    --ion-color-contrast: #FFF;
}
.ion-color-warninglevel-2 {
    --ion-color-base: var(--ion-color-warninglevel-2) !important;
    --ion-color-contrast: #FFF;
}
.ion-color-warninglevel-3 {
    --ion-color-base: var(--ion-color-warninglevel-3) !important;
    --ion-color-contrast: #FFF;
}
.ion-color-warninglevel-4 {
    --ion-color-base: var(--ion-color-warninglevel-4) !important;
    --ion-color-contrast: #FFF;
}
.ion-color-warninglevel-5 {
    --ion-color-base: var(--ion-color-warninglevel-5) !important;
    --ion-color-contrast: #FFF;
}

ion-item {
    --background: var(--ion-item-background, #fff);
}

ion-list {
    background: var(--ion-background-color);
    --padding-start: 20px;

    ion-list-header {
        &:not(.subheader) {
            font-size: 15px;
            font-weight: 600;
        }
        &.subheader {
            text-transform: none;
            color: var(--ion-color-medium);
            margin-bottom: 10px;
        }
    }

    &.list-ios {
        background: var(--ion-background-color);
    }
    &.list-md {
        background: var(--ion-background-color);
    }

    .item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
        padding-left: 0px;
    }
}

ion-menu {
    ion-content {
        --ion-background-color: #fff
    }
}

ion-modal {
    ion-backdrop {
        z-index: 0 !important;
        display: block !important;
    }
}

ion-radio-group {
    .sc-ion-label-ios-h {
        margin: 10px 8px 10px 0;
    }

    .in-item[slot=start] {
        margin-right: 20px;
    }

    ion-item {
        &.selected {
            ion-label {
                font-weight: 600;
            }
        }
    }
}

ion-button {
    &.button-block:not(.button-round), &.button-full:not(.button-round) {
        --border-radius: 2px;
    }
}

ion-radio {
    --width: 22px;
    --height: 22px;
    --border-width: 1px;
    --inner-width: 12px;
    --inner-height: 12px;
}

ion-segment {
    background-color: var(--ion-item-background);

    ion-segment-button {
        font-weight: 600;
    }
}

ion-item-divider {
    --color: var(--ion-text-color);
    --background: var(--ion-background-color);

    h3 {
        font-size: 16px;
        font-weight: 500;
    }
}

.map-item-bar-open {
    --map-item-height: 100px;

    .fab-vertical-bottom {
        bottom: 135px;
    }
}

.leaflet-bottom {
    bottom: calc(var(--map-item-height) + var(--map-center-info-height) + 10px) !important;
    z-index: 800 !important;
}

.leaflet-left {
    left: 7px !important;
}

.circle-marker-cluster {
    background-color: var(--ion-color-varsom-grey);
    border: 2px solid #fff;
    border-radius: 50% !important;
    font-size: 14px;
    display: flex !important;
    text-align: center;

    div {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }
}

app-geo-icon {
    .ice {
        --geo-icon-color: #029BB3;
    }
    .water {
        --geo-icon-color: #63CBFF;
    }
    .snow {
        --geo-icon-color: #468EB3;
    }
    .dirt {
        --geo-icon-color: #735E2F;
    }
    svg-icon {
        path, polygon {
                fill: var(--geo-icon-color, #468EB3), 
        }
    }
}

app-header {
    z-index: -1;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-border {
    --border-width: 0 0 0 0 !important;
}

.no-min-height {
    --min-height: 0px;
}

.shadow-marker {
  // filter: drop-shadow(5px 0px 5px #000);
   &:after {
       content: "";
        width: 42px;
        height: 42px;
        background: url("/leaflet/marker-shadow.png") no-repeat;
        background-size: 100%;
        top: 0px;
        right: -9px;
        position: absolute;
        display: inline-block;
        z-index: -1,
  }
}

.pull-last-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 100%;

    > * {
        width: 100%;
        &:last-child {
            margin-top: auto;
        }
    }
}
