<div *ngFor="let image of images">
  <div class="image-wrapper">
    <img [src]="image.PictureImageBase64" />
    <ion-fab slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button color="dark" class="map-control-fab" (click)="removeImage(image)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-text-comment [(value)]="image.PictureComment" title="{{ pictureCommentText | translate}}" rows="2" placeholder="{{ pictureCommentPlaceholder | translate }}"></app-text-comment>
  </div>
</div>
<ion-item (click)="addClick()">
  <ion-icon [color]="iconColor" [name]="icon" slot="start"></ion-icon>
  <ion-label>{{ title | translate }}</ion-label>
</ion-item>