<div class="images">
  <div class="image-wrapper" *ngFor="let image of imagesForCurrentRegistrationTid; let i = index">
    <app-base64-image *ngIf="isBase64Image(image.PictureImageBase64)" [base64encodedImage]="image.PictureImageBase64">
    </app-base64-image>
    <img *ngIf="!isBase64Image(image.PictureImageBase64)" [src]="convertFileSrc(image.PictureImageBase64)" />
    <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button size="small" color="dark" class="map-control-fab" (click)="removeImage(image)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-text-comment [(value)]="image.PictureComment" title="{{ pictureCommentText | translate}}" rows="2"
      placeholder="{{ pictureCommentPlaceholder | translate }}"></app-text-comment>
  </div>
</div>
<ion-item *ngIf="isCordova" (click)="addClick()">
  <ion-icon [color]="iconColor" [name]="icon" slot="start"></ion-icon>
  <ion-label>{{ title | translate }}</ion-label>
</ion-item>
<ngx-file-drop *ngIf="!isCordova" dropZoneLabel="Drop files here" [accept]="accept" dropZoneClassName="drop-zone"  (onFileDrop)="dropped($event)">
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Dra inn filer her
    <button type="button" (click)="openFileSelector()"></button> 
  </ng-template>
</ngx-file-drop>