<div class="images">
  <!-- TODO: Add support for existing attachments -->
  <div class="image-wrapper" *ngFor="let attachment of attachments; let i = index">
    <!-- <img [src]="convertFileSrc(image.PictureImageBase64)" /> -->
    <ro-blob-image [imgBlob]="attachment.blob"></ro-blob-image>
    <ion-fab class="ion-no-margin" slot="fixed" vertical="top" horizontal="end">
      <ion-fab-button size="small" color="dark" class="map-control-fab" (click)="removeImage(attachment)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-text-comment [(value)]="attachment.Comment" title="{{ pictureCommentText | translate}}" rows="2"
      placeholder="{{ pictureCommentPlaceholder | translate }}"></app-text-comment>
  </div>
</div>
<ion-item (click)="addClick()">
  <ion-icon [color]="iconColor" [name]="icon" slot="start"></ion-icon>
  <ion-label>{{ title | translate }}</ion-label>
</ion-item>