.logout-button {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: var(--ion-button-height);
}

.delete-button {
    --color: red;
    --border-color: red;
}

ion-list > * {
    margin-bottom: 10px;
}