<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!--TODO: Erstatte log-in tekst med Bruker-->
    <ion-title>
      {{ 'LOGIN.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- TODO: Legge til språknøkler for tekst med lenker hvor nødvendig -->
<ion-content class="ion-padding" *ngIf="loggedInUser$ | async as loggedInUser">
  <ion-grid class="grid-container" *ngIf="loggedInUser.isLoggedIn else login">
    <ion-row>
      <ion-col>
        <h1 class="profile-title">Bruker</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" class="ion-align-self-center">
        <div class="flexContainer ion-padding-bottom">
          <ion-icon class="profile-icon" src="./assets/icon/portrait.svg"></ion-icon>
          <ion-label class="ion-text-wrap ion-align-self-center ion-padding-start"><ion-text color="primary">{{ 'LOGIN.LOGGED_IN_AS' | translate }} {{ loggedInUser.email }}</ion-text>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="3">
        <ion-button class="button ion-text-uppercase" type="button" fill="outline" expand="block" (click)="openMyPage()">
          <ion-icon slot="end" src="./assets/icon/newTab.svg"></ion-icon>
            {{'LOGIN.MY_PROFILE' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="6" size-sm="5" size-md="4" size-lg="3">
        <ion-button class="button ion-text-uppercase logout" type="submit" fill="clear" (click)="logout()">
          {{ 'LOGIN.LOGOUT' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Mitt kallenavn</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="4">
        <div class="flexContainer">
          <p class="ion-align-self-center">{{ loggedInUser.email }}</p>
          <!-- TODO: Lage click handler og funksjon for å redigere kallenavn-->
          <ion-button class="button ion-padding-start ion-text-uppercase" fill="clear" expand="block">Rediger <ion-icon class="padding-medium" src="./assets/icon/pencil.svg"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Hske å legge inn nye språknøkler i Varsom-Translations prosjektet for all tekst -->
        <p class="info-text">Kallenavn er et navn som er synlig for alle og vises sammen med observasjoner du gjør</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Mine bilder</h2>
      </ion-col>      
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <!-- TODO: Koble Opphavsrett og Fotograf mot PictureRequestDto, Copyright, Photographer -->
        <div class="flexContainer max-div-height margin-mobile">
          <p class="ion-align-self-center no-margin"><strong>Opphavsrett:</strong> {{copyright$ | async}}</p>
          <ion-button (click)="presentModal()" class="button ion-padding-start ion-text-uppercase edit-button" fill="clear" expand="block">Rediger <ion-icon class="padding-medium" src="./assets/icon/pencil.svg"></ion-icon></ion-button>
        </div>
        <div class="flexContainer max-div-height">
          <p class="ion-align-self-center no-margin"><strong>Fotograf:</strong> {{photographer$ | async}}</p>
          <ion-button (click)="presentModal()" class="button ion-padding-start ion-text-uppercase edit-button" fill="clear" expand="block">Rediger <ion-icon class="padding-medium" src="./assets/icon/pencil.svg"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="info-text ion-padding-top">Når du publiserer bilder i Regobs aksepterer du at de er lisensiert under NLOD og kan gjenbrukes. Les mer om data</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>
          Min Kompetanse
        </h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <!-- Generere GeoHazard listen ved å hente de ut -->
      <ion-col size="3" size-xs="5" size-sm="3" size-md="2">
        <p class="no-margin">Snø</p>
        <p class="no-margin">Is</p>
        <p class="no-margin">Vann</p>
        <p class="no-margin">Jord</p>
      </ion-col>
      <!-- Hente ut kompetansen riktig ved å koble opp mot API -->
      <ion-col class="star-container" size="auto" size-xs="7" size-sm="9" size-md="10" pullMd="1" pullSm="2" pullXs="1">
        <app-competence class="stars" [competenceLevel]="1"></app-competence>
        <app-competence class="stars" [competenceLevel]="4"></app-competence>
        <app-competence class="stars" [competenceLevel]="0"></app-competence>
        <app-competence class="stars" [competenceLevel]="3"></app-competence>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <p class="info-text">Les mer om kompetanse</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2>
          Mine grupper
        </h2>
      </ion-col>  
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="12" size-sm="5" size-md="4" size-lg="3">
        <!-- Generere gruppene med å hente de fra API også loope gjennom med ngFor -->
        <div class="flexContainer margin-mobile">
          <ion-icon class="ion-align-self-center" src="./assets/icon/group.svg"></ion-icon>
          <p class="padding-medium no-margin">Snøskredvarslingen</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="flexContainer">
          <ion-icon class="ion-align-self-center" src="./assets/icon/group.svg"></ion-icon>
          <p class="padding-medium no-margin">Snøskredgerilja</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-padding-bottom">
      <ion-col>
        <p class="info-text">Du kan redigere en observasjon i en gruppe 48 timer etter den er innsendt. Ta kontakt for å endre gruppenavn, gruppebeskrivelse og medlemmer
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #login>
  <ion-button class="logout-button" expand="block" type="submit" color="varsom-orange" (click)="signIn()">
    {{ 'LOGIN.LOGIN' | translate }}
  </ion-button>
</ng-template>