<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'LOGIN.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="loggedInUser$ | async as loggedInUser">
  <ion-list lines="none" *ngIf="loggedInUser.isLoggedIn else login">
    <ion-item>
      <ion-label class="ion-text-wrap">{{ 'LOGIN.LOGGED_IN_AS' | translate }} {{ loggedInUser.email }}</ion-label>
    </ion-item>
    <ion-button class="logout-button" expand="block" type="submit" color="varsom-orange" (click)="logout()">
      {{ 'LOGIN.LOGOUT' | translate }}</ion-button>
    <ion-item>
      <app-external-link [src]="myPageUrl$ | async">{{'LOGIN.MY_PROFILE' | translate }}</app-external-link>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #login>
  <ion-button class="logout-button" expand="block" type="submit" color="varsom-orange" (click)="signIn()">
    {{ 'LOGIN.LOGIN' | translate }}
  </ion-button>
</ng-template>