<app-header title="{{'WARNING_LIST.TITLE' | translate}}"></app-header>
<ion-segment mode="md" slot="fixed" [(ngModel)]="selectedTab" (ngModelChange)="onSegmentChange()">
  <ion-segment-button mode="md" value="inMapView">
    <ion-label>{{'WARNING_LIST.RELEVANT'|translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button mode="md" value="all">
    <ion-label>{{'WARNING_LIST.ALL'|translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button mode="md" value="favourites">
    <ion-label>{{'WARNING_LIST.FAVOURITES'|translate}}</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <app-refresh-with-cancel slot="fixed" [refreshFunc]="refreshFunc"></app-refresh-with-cancel>
  <ion-virtual-scroll [items]="warningGroups" [headerFn]="myHeaderFn" [approxHeaderHeight]="70">
    <ion-item-divider *virtualHeader="let header">
      <app-warning-list-header [title]="header.header" [subTitle]="header.infoText" [showDayNames]="header.showDayNames"></app-warning-list-header>
    </ion-item-divider>
    <div *virtualItem="let virtialItem">
      <app-warning-list-item [warningGroup]="virtialItem.item"></app-warning-list-item>
    </div>
  </ion-virtual-scroll>
</ion-content>
<app-add-menu></app-add-menu>
<app-geo-select slot="fixed" [inHeader]="true"></app-geo-select>