.top-tabs {
    
    background-color: var(--ion-item-background);
    color: var(--ion-tab-bar-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;

    // ion-grid {
    //     padding-left: 0px;
    //     padding-right: 0px;
    //     padding-bottom: 1px;
    //     padding-top: 0px;
    // }

    ion-row {
        height: 44px;
    }

    .selected {
        color: var(--ion-color-primary);
        border-bottom: 2px solid #5C90A5;
        background-color: var(---ion-tab-bar-background-focused);
    }
}

ion-refresher, ion-content {
    background-color: var(--ion-background-color,#fff);
}