.top-tabs {
    background-color: var(--ion-item-background-color);
    color: var(--ion-tabbar-text-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;

    ion-grid {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 1px;
        padding-top: 0px;
    }

    ion-row {
        height: 44px;
    }

    .selected {
        color: var(--ion-color-primary);
        border-bottom: 2px solid #5C90A5;
        background-color: var(--ion-tabbar-background-color-focused);
    }
}