<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{"WARNING_LIST.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-tabs">
    <ion-grid>
      <ion-row no-padding>
        <ion-col text-center [ngClass]="{'selected': !showAll}" (click)="toggleTab()">
          AKTUELLE
        </ion-col>
        <ion-col text-center [ngClass]="{'selected': showAll}" (click)="toggleTab()">
          ALLE
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-container *ngIf="!showAll">
    <ng-container *ngIf="($capWarningsMapCenter | async) as mapCenterWarnings">
      <app-cap-list-group title="I kartsenter" [warnings]="mapCenterWarnings.center"></app-cap-list-group>
      <app-cap-list-group title="I kartutsnittet" [warnings]="mapCenterWarnings.viewBounds"></app-cap-list-group>
    </ng-container>
  </ng-container>
  <ion-list padding *ngIf="showAll">
    <ion-list-header no-padding>
      <ion-label>Snøskredvarsel</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            {{ getDayName(0) | translate }}
          </ion-col>
          <ion-col>
            {{ getDayName(1) | translate }}
          </ion-col>
          <ion-col>
            {{ getDayName(2) | translate}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <!-- <app-region-summary-item *ngFor="let region of otherRegions" [regionSummary]="region"></app-region-summary-item> -->
  </ion-list>
</ion-content>