<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"REGISTRATION.SET_TIME.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-list-header class="ion-text-uppercase">
      <ion-label>
        {{"REGISTRATION.SET_TIME.HEADER" | translate}}
      </ion-label>
    </ion-list-header>
    <ion-item button="true">
      <ion-datetime color="medium" monthShortNames="{{ 'MONTHS.SHORT_LIST' | translate }}"
        doneText="{{'DIALOGS.OK' | translate}}" cancelText="{{'DIALOGS.CANCEL' | translate}}"
        display-format="D. MMM, YYYY HH:mm" [(ngModel)]="localDate" [max]="maxDate">
      </ion-datetime>
      <ion-button slot="end" fill="outline" color="medium" (click)="setToNow()">
        <ion-icon slot="start" name="time"></ion-icon> {{"REGISTRATION.SET_TIME.NOW" |
        translate}}
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ion-padding">
    <ion-button [disabled]="!this.registration" class="confirm-time ion-no-margin" expand="block" color="varsom-orange"
      (click)="confirm()">{{"REGISTRATION.SET_TIME.CONFIRM" |
      translate}}</ion-button>
  </ion-list>
</ion-content>