ion-list {
  ion-item {
    ion-datetime {
      color: var(--ion-color-medium);
      font-size: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 0px;
      padding-left: 40px;
      width: 100%;
      text-align: center;
    }

    ion-button {
      z-index: 200;
    }
  }
}
.confirm-time {
  height: var(--ion-button-height);
}
