<ion-header>
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{"REGISTRATION.SET_TIME.TITLE" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 padding text-uppercase>{{"REGISTRATION.SET_TIME.HEADER" | translate}}</h3>
  <ion-list lines="none">
    <ion-item *ngIf="registration">
      <ion-datetime color="medium" monthShortNames="{{ 'MONTHS.SHORT_LIST' | translate }}" doneText="{{'DIALOGS.OK' | translate}}"
        cancelText="{{'DIALOGS.CANCEL' | translate}}" display-format="D MMM, YYYY HH:mm" [value]="registration.DtObsTime"
        (ionChange)="updateDate($event)" [max]="maxDate">
      </ion-datetime>
      <ion-button fill="outline" color="medium" (click)="setToNow()">
        <ion-icon slot="start" name="time"></ion-icon> {{"REGISTRATION.SET_TIME.NOW" |
        translate}}
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button padding expand="full" color="primary" (click)="confirm()">{{"REGISTRATION.SET_TIME.CONFIRM" | translate}}</ion-button>
</ion-content>