<!-- show a list of small images that is attached to a registration draft. Images not uploaded first and then images already uploaded -->
<div class="images">
  @for (attachment of newAttachments(); track attachment.id) {
    <ro-blob-image [isThumbnail]="true" [imgBlob]="attachment.blob!"></ro-blob-image>
  }
  @for (attachment of existingAttachments(); track attachment.AttachmentId) {
    <app-remote-image [isThumbnail]="true" [attachment]="attachment"></app-remote-image>
  }
  @if (hiddenImagesCount() > 0) {
    <span class="images-overflow">+{{ hiddenImagesCount() }}</span>
  }
</div>
