<ion-header>
  <ion-toolbar appHeaderColor mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-registration-content-wrapper *ngIf="registration && registration.request.AvalancheEvalProblem2"
    [registration]="registration" [registrationTid]="registrationTid" (reset)="reset()">
    <ion-list lines="full">
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.SNOW.AVALANCHE_PROBLEM.TITLE' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item detail="true" (click)="addOrEditAvalancheProblem(i)"
        *ngFor="let avalancheEvalProblem of registration.request.AvalancheEvalProblem2; let i = index">
        <ion-label>{{ getDescription(avalancheEvalProblem) | translate }}</ion-label>
      </ion-item>
      <ion-item (click)="addOrEditAvalancheProblem()">
        <ion-icon color="primary" name="add-circle-outline" slot="start"></ion-icon>
        <ion-label>{{'REGISTRATION.SNOW.AVALANCHE_PROBLEM.ADD_NEW' | translate}}</ion-label>
      </ion-item>
      <ion-list-header class="ion-text-uppercase">
        <ion-label>
          {{ 'REGISTRATION.ADD_IMAGES' | translate}}
        </ion-label>
      </ion-list-header>
      <app-add-picture-item [geoHazard]="registration.geoHazard" [registrationId]="registration.id"
        [registrationTid]="registrationTid" [onBeforeAdd]="getSaveFunc()"></app-add-picture-item>
    </ion-list>
  </app-registration-content-wrapper>
</ion-content>