:host {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: opacity 1s linear;
  gap: 10px;
}

@media only screen and (max-width: 1000px) {
  :host {
    margin: 0 1rem;
  }
}

img {
  height: 200px;
  min-width: 160px;
  max-width: 220px;
}

.img-skeleton {
  height: 200px;
  width: 160px;
}

.grid-absolute {
  position: absolute;
  top: 0;
  background-color: #dcecf2;
  z-index: 2;

  ion-row {
    justify-content: center;
    align-items: center;
  }
}
