<ion-grid class="header-grid ion-no-padding ion-no-margin" [ngClass]="{'ios': ios}" *ngIf="!subTitle">
  <ion-row>
    <ion-col size="6" class="ion-no-padding">
      <h3 class="ion-text-uppercase">{{ title | translate }}</h3>
    </ion-col>
    <ion-col size="6" class="ion-no-padding ion-align-self-end" *ngIf="showDayNames">
      <div *ngTemplateOutlet="dayNames"></div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="header-grid ion-no-margin ion-no-padding" *ngIf="subTitle">
  <ion-row>
    <h3 class="ion-text-uppercase">{{ title | translate }}</h3>
  </ion-row>
  <ion-row>
    <ion-label text-wrap color="medium">
      {{ subTitle | translate }}
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-col offset="6" size="6" class="ion-no-padding ion-align-self-end" *ngIf="showDayNames">
      <div *ngTemplateOutlet="dayNames"></div>
    </ion-col>
  </ion-row>
</ion-grid>
<ng-template #dayNames>
  <ion-grid class="dayNames ion-no-padding">
    <ion-row>
      <ion-col text-center>
        {{ getDayName(0) | translate }}
      </ion-col>
      <ion-col text-center>
        {{ getDayName(1) | translate }}
      </ion-col>
      <ion-col text-center>
        {{ getDayName(2) | translate }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>