<app-text-comment title="REGISTRATION.INCIDENT.COMMENT" [(value)]="incident.Comment">
</app-text-comment>
<ion-item-divider>
  <ion-label class="ion-text-wrap">
    {{'REGISTRATION.INCIDENT.COMMENT_PLACEHOLDER' | translate }}
  </ion-label>
</ion-item-divider>
<app-kdv-select title="REGISTRATION.INCIDENT.ACTIVITY" kdvKey="{{ geoHazardName }}_ActivityInfluencedKDV"
                [(value)]="incident.ActivityInfluencedTID"></app-kdv-select>
<app-numeric-input title="REGISTRATION.SNOW.AVALANCHE_OBS.INVOLVED_NUM"
                   [(value)]="incident.InvolvedNum"></app-numeric-input>
<app-numeric-input title="REGISTRATION.SNOW.AVALANCHE_OBS.CASUALTIES_NUM"
                   [(value)]="incident.CasualtiesNum"></app-numeric-input>
<app-numeric-input title="REGISTRATION.SNOW.AVALANCHE_OBS.DEAD_NUM" [(value)]="incident.DeadNum"></app-numeric-input>
<app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.SAFETY_GEAR_TID" kdvKey="SafetyGearKDV"
                [(value)]="incident.SafetyGearTID"></app-kdv-select>
<app-kdv-select title="REGISTRATION.SNOW.AVALANCHE_OBS.RESCUE_TID" kdvKey="RescueKDV"
                [(value)]="incident.RescueTID"></app-kdv-select>
<ion-list-header class="ion-text-uppercase">
  <ion-label>
    {{ 'REGISTRATION.ADD_WEB_URL.TITLE' | translate}}
  </ion-label>
</ion-list-header>
<app-add-web-url-item [(weburls)]="incident.IncidentURLs"></app-add-web-url-item>