<div class="slides-wrapper" *ngIf="show" [ngClass]="{'animated-background': (showSlider && !swiperLoaded) }">
  <ion-slides *ngIf="showSlider && !recreateSwiper" [options]="slideOptions" [pager]="false"
    [ngClass]="{'loaded': swiperLoaded}" (ionSlideTransitionEnd)="onSlideTransitionEnd()"
    (ionSlidesDidLoad)="slidesLoaded($event)">
    <ion-slide *ngIf="location">
      <app-map-image [location]="location"></app-map-image>
    </ion-slide>
    <ion-slide *ngFor="let url of imgUrl; let i = index">
      <app-offline-image [src]="url" (click)="onImageClick(i, url)"></app-offline-image>
    </ion-slide>
  </ion-slides>
  <app-offline-image *ngIf="showSingleImage" class="single" (click)="onImageClick(0, imgUrl[0])" [src]="imgUrl[0]">
  </app-offline-image>
  <app-map-image *ngIf="showSingleMap" class="single" [location]="location"></app-map-image>
  <ion-label *ngIf="showLabels">
    <span class="img-comment-header" *ngIf="showImageIndex">{{imageIndex}}/{{totalImages}}&nbsp;</span>
    <span [ngClass]="{'img-comment-header': comment }" *ngIf="header">{{ header | translate }}<ng-container
        *ngIf="comment">:&nbsp;
      </ng-container></span>
    <ng-container *ngIf="comment">{{ comment }}</ng-container>
  </ion-label>
</div>