:host {
  display: contents;
}

.list-header {
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}

.list {
  height: 100%;
  width: 100%;
  max-width: var(--desktop-max-width);
  margin: 0 auto;
}

ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
}

ion-content::part(scroll) {
  scrollbar-gutter: stable both-edges;
}
