@if (kdvElements$ | async; as kdvElements) {
  <!-- Header -->
  <ion-item class="header">
    <div class="header-content">
      @if (label(); as labelKeyOrText) {
        <ion-label>{{ labelKeyOrText | translate }}</ion-label>
      }
      @if (multiSelect()) {
        <div class="n-selected">
          {{ "REGISTRATION.SELECTION_COUNT" | translate: { count: count() } }}
        </div>
      }
      <div>
        <ion-button (click)="clear()" size="small" fill="clear">
          {{ "DIALOGS.RESET" | translate }}
        </ion-button>
      </div>
    </div>
  </ion-item>
  <!-- KDV item select list -->
  <ion-item class="container">
    <div class="content">
      @for (element of kdvElements; track element) {
        <div class="element" (click)="onClick(element)">
          <div class="kdv-item" [ngClass]="isSelected(element) ? 'selected' : 'deselected'">
            <img class="image" [src]="getImageSrc(element)" />
            <ion-label [lang]="this.lang$ | async" class="item-text">
              {{ element.Name }}
            </ion-label>
          </div>
          @if (isSelected(element)) {
            <svg-icon
              class="checkmark"
              src="/assets/icon/checked.svg"
              [svgStyle]="{ 'width.px': 22, 'height.px': 22 }"
            ></svg-icon>
          }
        </div>
      }
    </div>
  </ion-item>
}
