<div class="competence-wrapper">
  <ng-container *ngIf="starCount > 0; else noStars">
    <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">
      <svg-icon *ngIf="starCount <= index; else filledStar" src="/assets/icon/star.svg"></svg-icon>
    </ng-container>
  </ng-container>
</div>
<ng-template #filledStar>
  <svg-icon src="/assets/icon/star.svg" class="filledStar"></svg-icon>
</ng-template>
<ng-template #noStars>
  <ion-label class="small-text">
    ({{ competenceLevelName != null ? competenceLevelName : ("COMPETENCE.UNKNOWN" | translate) }})
  </ion-label>
</ng-template>
