<div class="competence-wrapper">
  <ng-container *ngIf="competenceLevel > 0 else noCompetence">
    <ng-container *ngFor="let index of [0,1,2,3,4]">
      <svg-icon *ngIf="competenceLevel > index else emptyStar" src="/assets/icon/star-selected.svg"
        [svgStyle]="{'width.px':12, 'height.px':12  }"></svg-icon>
    </ng-container>
  </ng-container>
</div>
<ng-template #emptyStar>
  <svg-icon src="/assets/icon/star-empty.svg" [svgStyle]="{'width.px':12, 'height.px':12  }"></svg-icon>
</ng-template>
<ng-template #noCompetence>
  <ion-label class="small-text">({{'COMPETENCE.UNKNOWN' | translate}})</ion-label>
</ng-template>